<div class="container-contactUs">
  <h1 class="contactUs-title">Contáctenos</h1>
</div>
<div class="img_ppal">
    <a class="twitter-timeline" href="https://twitter.com/VinotintosMLB?ref_src=twsrc%5Etfw" target="_blank"><img class="fa-twitter" src="../../../assets/TWITTER1.png" alt="Twitter"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" ></script>
    <a class="mail" href="/" target="_blank"><img class="mail" src="../../../assets/MAIL1.png" alt="mail"></a>
    <a href="https://www.instagram.com/vinotintosmlb/" target="_blank"> <img class="fa-instagram" src="../../../assets/INSTAGRAM1.png" alt="instagram"></a>
    <!-- <img class="img_ppal1" src="../../../assets/IMAGEN NOSOTROS WEB VINOTINTOS.png" alt=""> -->
  </div>
