.contactUs-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0; 
    padding: .5rem 0; 
    background-color: rgba(3, 2, 2, 0.5);
    width: 8em;
    height: 1.5em;
    border-radius: 7px;
}