<div class="container_players_actives"></div>
<div class="container-actives">
  <h1 class="actives-title">PRUEBAS RESULTADOS</h1>
  <h4 class="actives-title1">Temp. 2019</h4>
</div>

<!-- LOADER -->
<!-- <div *ngIf="!AllLeague">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div> -->


<!-- <div *ngIf="AllLeague"> -->

<div class="container_grid">
<div class="container_nacional">
  <h3 class="league league1">PRUEBAS RESULTADOS</h3>
  <!-- <h5 class="league division1">ESTE</h5> -->
  <table class="table  text-center tableNl1">
    <thead class="table-header">
      <tr>
        <th class="tbA" style="width: 3%;" scope="col">Away</th>
        <th class="tbA" style="width: 2%;" scope="col">score</th>
        <th class="tbA" style="width: 2%;" scope="col">W</th>
        <th class="tbA" style="width: 2%;" scope="col">L</th>
        <th class="tbA" style="width: 2%;" scope="col">pct</th>
        <th class="tbA" style="width: 2%;" scope="col">Home</th>
        <th class="tbA" style="width: 2%;" scope="col">score</th>
        <th class="tbA" style="width: 2%;" scope="col">pct</th>
      </tr>
    </thead>

    <!-- <table class="table "> -->
      <tbody class="table-header2">
          <tr *ngFor="let result of AllResult; index as i ">
            <!-- <td class="tb1" style="width: 3%;"><img class="tb1" src="{{'../../../../assets/'+ position.teamId +'.png'}}" alt="" (click)="onSearchChange(team.name)"></td> -->
            <!-- <td class="tb2" style="width: 2%;">{{position.name}}</td> -->
            <td class="tb2" style="width: 2%;">{{result.name1}}</td>
            <td class="tb3" style="width: 2%;">{{result.score1}}</td>
            <td class="tb3" style="width: 2%;">{{result.record1Wins}}</td>
            <td class="tb3" style="width: 2%;">{{result.record1Losses}}</td>
            <td class="tb3" style="width: 2%;">{{result.record1Pct}}</td>
            <td class="tb3" style="width: 2%;">{{result.name2}}</td>
            <td class="tb2" style="width: 2%;">{{result.score2}}</td>
            <td class="tb2" style="width: 2%;">{{result.record2Pct}}</td>
      </tbody>

  </table>
</div>
</div>

x