
.actives-title {
  color: antiquewhite;
  font-size: 2.5rem;
  text-align: center;
  margin: 0.15rem auto 0;
  padding: .5rem 0;
  /* background-color: rgba(3, 2, 2, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: 27rem;
  height: 1.75em;
  border-radius: 7px;
}
.title-position{
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 0;
}


.tarjeta_encabezado {
  width: 80%;
  margin: 0.2em auto;
  background-color: red;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 1fr;
  grid-row-gap: 10px; 
  border: solid black 2px;
}
.tarjeta_izquierda {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  border: solid white 2px;


  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.items_estadisticas {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  align-self: center;
  /* border: solid black 2px; */
}

.foto {
  grid-column: 1/2;
  grid-row: 1/4;
  color: white;
  border: solid black 2px;
  

}
.link_player {
  grid-column: 1/2;
  grid-row: 4/5;
  color: white;
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  align-self: center;
  width: 11rem;
 
}
.posicion {
  grid-column: 1/2;
  grid-row: 4/5;
  color: white;
  align-self: start;
  border: solid black 2px;


}
.avg {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
}




.tarjeta_derecha {
  background-color: yellow;
  grid-column: 2/3;
  grid-row: 1/2;


  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
}


.advancedSearchTextbox{
  color: rgb(2, 1, 0);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 0;

}


.error_search {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}
.fa-baseball-ball {
  font-size: 10rem;
  margin: 5% 40% 0 !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 5rem;
  margin: 0 35% !important;
  color: rgba(80, 57, 43, 0.95);
}
.link_player {
text-decoration:none;
color: antiquewhite;
}
.paginator {
  font-size: 0.75rem;
  width: 20%;
  margin: auto;
}

