.daily-title {
  color: antiquewhite;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.15em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: 15em;
  height: 1.75em;
  border-radius: 7px;
}
.daily-title1 {
  font-size: 1.25rem !important;
  width: 12em;
  color: antiquewhite;
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  height: 1.75em;
  border-radius: 7px;


}
.espacioInferior {
  margin-bottom: 1rem;
}
.title-positionA {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem 0 .5rem .5rem;

}



.advancedSearchTextbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1% 0 2% 1%;
  }

.error_search {
  font-size: 0.7rem;
  width: 50%;
  margin-left: 2%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}

.error_message {
  padding-top: 10px;
  font-size: 0.7rem;

}

.link_player {
  text-decoration:none;
  color: antiquewhite;
}
.seleccion {
  color: antiquewhite;
  padding: 0 0.5em .4em;
  text-shadow: 2px 2px 8px #111;
}
.advancedSearchDatetbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  /* font-weight: bold; */
  /* margin: 1% 0 2% 1%; */
  width: fit-content;
  border-radius: 6px;
  }


.title-position{
  color: white;
  font-size: 1rem;
    font-weight: bold;
    margin: .5rem 0 .5rem .5rem;
      }
.player_stats {
  width: 100%;
  display: table;
}

.td2, .td9, .td11, .td12 {
  display: none;
}

.table-header1 {
  background-color: rgba(12, 10, 9, 0.9);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.table-header {
  background-color: rgba(12, 10, 9, 0.75);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.title-rows {
  background-color: antiquewhite;
  color: rgb(12, 10, 9);

}

.player-name {
  color: black;
}
.player-name:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.15rem;
  text-decoration: none;
}

.row-color {
  background-color: rgb(245, 223, 195);

}
.row-color:hover {
  background-color: rgb(255, 255, 255);

}
.row-color1:hover {
  background-color: rgb(255, 255, 255);

}

.title-rows_header {
  text-align: center;
}

.fa-baseball-ball {
  font-size: 8rem;
  margin: 5% 0 0 25%  !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 2.5rem;
  margin: 0 0 0 20% !important;
  color: rgba(80, 57, 43, 0.95);
}

th {
  padding: 12px 5px;
  }
.paginator {
  margin: auto;
}
.paginator_text {
  display: none;
}

@media only screen and (orientation: landscape) and (min-width:500px ) and (max-width: 600px) {

.daily-title {
  color: antiquewhite;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.15em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: 15em;
  height: 1.75em;
  border-radius: 7px;
}

.advancedSearchTextbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 2% 0 2% 2%;
  }

.error_search {
  font-size: 1rem;
  width: 80%;
  margin-left: 2%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}

.error_message {
  padding-top: 10px;
  font-size: 1rem;

}

.link_player {
  text-decoration:none;
  color: antiquewhite;
}

.title-position{
  color: white;
  font-size: 1rem;
    font-weight: bold;
    margin: .5rem 0 .5rem .5rem;
      }
.player_stats {
  width: 100%;
  display: table;
}

.table-header1 {
  background-color: rgba(12, 10, 9, 0.9);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.table-header {
  background-color: rgba(12, 10, 9, 0.75);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.title-rows {
  background-color: antiquewhite;
  color: rgb(12, 10, 9);

}

.player-name {
  color: black;
}
.player-name:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.15rem;
  text-decoration: none;
}

.row-color {
  background-color: rgb(245, 223, 195);

}
.row-color:hover {
  background-color: rgb(255, 255, 255);

}
.row-color1:hover {
  background-color: rgb(255, 255, 255);

}

.title-rows_header {
  text-align: center;
}

.fa-baseball-ball {
  font-size: 10rem;
  margin: 5% 40% 0 !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 5rem;
  margin: 0 35% !important;
  color: rgba(80, 57, 43, 0.95);
}

th {
  padding: 12px 5px;
  }

}
@media only screen and (orientation: landscape) and (min-width:601px ) and (max-width: 700px) {

.daily-title {
  color: antiquewhite;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.15em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: 15em;
  height: 1.75em;
  border-radius: 7px;
}

.advancedSearchTextbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 2% 0 2% 2%;
  }

.error_search {
  font-size: 1rem;
  width: 80%;
  margin-left: 2%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}

.error_message {
  padding-top: 10px;
  font-size: 1rem;

}

.link_player {
  text-decoration:none;
  color: antiquewhite;
}

.title-position{
  color: white;
  font-size: 1rem;
    font-weight: bold;
    margin: .5rem 0 .5rem .5rem;
      }
.player_stats {
  width: 100%;
  display: table;
}
.td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
  display: table-cell;
}

.table-header1 {
  background-color: rgba(12, 10, 9, 0.9);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.table-header {
  background-color: rgba(12, 10, 9, 0.75);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.title-rows {
  background-color: antiquewhite;
  color: rgb(12, 10, 9);

}
.player-name {
  color: black;
}
.player-name:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.15rem;
  text-decoration: none;
}

.row-color {
  background-color: rgb(245, 223, 195);

}
.row-color:hover {
  background-color: rgb(255, 255, 255);

}
.row-color1:hover {
  background-color: rgb(255, 255, 255);

}

.title-rows_header {
  text-align: center;
}

.fa-baseball-ball {
  font-size: 10rem;
  margin: 5% 40% 0 !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 5rem;
  margin: 0 35% !important;
  color: rgba(80, 57, 43, 0.95);
}

th {
  padding: 12px 5px;
  }
  .paginator {
      margin: auto;
  }
  .paginator_text {
      display: table-cell;
  }


}
@media only screen and (min-width:767px ) and (max-width: 1020px) {

  .daily-title {
      color: antiquewhite;
      font-size: 1.5rem;
      text-align: center;
      margin: 0 auto;
      padding: 0.15em;
      /* background-color: rgba(19, 12, 12, 0.5); */
      text-shadow: 2px 2px 8px #111;
      width: 15em;
      height: 1.75em;
      border-radius: 7px;
  }

  .advancedSearchTextbox{
      color: rgb(2, 1, 0);
      font-size: 0.75rem;
      font-weight: bold;
      margin: 2% 0 2% 2%;
      }

  .error_search {
      font-size: 1rem;
      width: 80%;
      margin-left: 2%;
      text-align: center;
      color: antiquewhite;
      background-color: rgba(12, 10, 9, 0.75);

  }

  .error_message {
      padding-top: 10px;
      font-size: 1rem;

  }

  .link_player {
      text-decoration:none;
      color: antiquewhite;
  }

  .title-position{
    color: white;
    font-size: 1rem;
      font-weight: bold;
      margin: .5rem 0 .5rem .5rem;
        }
    .player_stats {
      width: 100%;
      display: table;
  }
  .td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
      display: table-cell;
  }

  .table-header1 {
      background-color: rgba(12, 10, 9, 0.9);
      color: antiquewhite;
      font-size: 0.8rem;
      align-items: center;
  }
  .table-header {
      background-color: rgba(12, 10, 9, 0.75);
      color: antiquewhite;
      font-size: 0.8rem;
      align-items: center;
  }
  .title-rows {
      background-color: antiquewhite;
      color: rgb(12, 10, 9);

  }
  .player-name {
      color: black;
  }
  .player-name:hover {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 1.15rem;
      text-decoration: none;
  }

  .row-color {
      background-color: rgb(245, 223, 195);

  }
  .row-color:hover {
      background-color: rgb(255, 255, 255);

  }
  .row-color1:hover {
      background-color: rgb(255, 255, 255);

  }

  .title-rows_header {
      text-align: center;
  }

  .fa-baseball-ball {
      font-size: 8rem;
      margin: 5% 0 0 45%  !important;
      color: rgba(80, 57, 43, 0.40);
  }
  .spiner_load {
      font-size: 2.5rem;
      margin: 0 0 0 40% !important;
      color: rgba(80, 57, 43, 0.95);
  }


  th {
      padding: 12px 5px;
      }
      .paginator {
          margin: auto;
      }
      .paginator_text {
          display: table-cell;
      }


  }

@media only screen and (min-width:1023px ) and (max-width: 1429px) {

      .daily-title {
          color: antiquewhite;
          font-size: 2.5rem;
          text-align: center;
          margin: 0 auto;
          padding: 0.15em;
          /* background-color: rgba(19, 12, 12, 0.5); */
          text-shadow: 2px 2px 8px #111;
          width: 15em;
          height: 1.75em;
          border-radius: 7px;
      }

      .advancedSearchTextbox{
          color: rgb(2, 1, 0);
          font-size: 1.25rem;
          font-weight: bold;
          margin: 0 0 1% 2%;
          }

      .error_search {
          font-size: 1rem;
          width: 80%;
          margin-left: 2%;
          text-align: center;
          color: antiquewhite;
          background-color: rgba(12, 10, 9, 0.75);

      }

      .error_message {
          padding-top: 10px;
          font-size: 1rem;

      }

      .link_player {
          text-decoration:none;
          color: antiquewhite;
      }

      .title-position{
        color: white;
        font-size: 1rem;
          font-weight: bold;
          margin: .5rem 0 .5rem .5rem;
            }
            .player_stats {
          width: 100%;
          display: table;
      }
      .fa-baseball-ball {
          font-size: 10rem;
          margin: 5% 38% 0 !important;
          color: rgba(80, 57, 43, 0.40);
      }
      .spiner_load {
          font-size: 5rem;
          margin: 0 30% !important;
          color: rgba(80, 57, 43, 0.95);
      }

      .td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
          display: table-cell;
      }

      .table-header1 {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 1.25rem;
          align-items: center;
      }
      .table-header {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 1.25rem;
          align-items: center;
      }
      .paginator {
          font-size: 1.25rem;
      }
      .paginator_text {
          display: table-cell;
      }

  }
@media only screen and (orientation: landscape) and (min-width:701px ) and (max-width: 900px) {

.daily-title {
  color: antiquewhite;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.15em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: 15em;
  height: 1.75em;
  border-radius: 7px;
}

.advancedSearchTextbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 2% 0 2% 2%;
  }

.error_search {
  font-size: 1rem;
  width: 80%;
  margin-left: 2%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}

.error_message {
  padding-top: 10px;
  font-size: 1rem;

}

.link_player {
  text-decoration:none;
  color: antiquewhite;
}

.title-position{
  color: white;
  font-size: 1rem;
    font-weight: bold;
    margin: .5rem 0 .5rem .5rem;
      }
.player_stats {
  width: 100%;
  display: table;
}
.td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
  display: table-cell;
}

.table-header1 {
  background-color: rgba(12, 10, 9, 0.9);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.table-header {
  background-color: rgba(12, 10, 9, 0.75);
  color: antiquewhite;
  font-size: 0.8rem;
  align-items: center;
}
.title-rows {
  background-color: antiquewhite;
  color: rgb(12, 10, 9);

}
.player-name {
  color: black;
}
.player-name:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.15rem;
  text-decoration: none;
}

.row-color {
  background-color: rgb(245, 223, 195);

}
.row-color:hover {
  background-color: rgb(255, 255, 255);

}
.row-color1:hover {
  background-color: rgb(255, 255, 255);

}

.title-rows_header {
  text-align: center;
}

.fa-baseball-ball {
  font-size: 10rem;
  margin: 5% 40% 0 !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 5rem;
  margin: 0 35% !important;
  color: rgba(80, 57, 43, 0.95);
}

th {
  padding: 12px 5px;
  }
  .paginator {
      margin: auto;
  }
  .paginator_text {
      display: table-cell;
  }


}
@media only screen and (min-width:1430px ) and (max-width: 1920px) {

  .daily-title {
      color: antiquewhite;
      font-size: 2rem !important;
      text-align: center;
      margin: 0 auto;
      padding: 0.15em;
      /* background-color: rgba(19, 12, 12, 0.5); */
      text-shadow: 2px 2px 8px #111;
      width: 15em;
      height: 1.75em;
      border-radius: 7px;
  }
  .daily-title1 {
    font-size: 1.5rem !important;
    width: 12em;
    color: antiquewhite;
    text-align: center;
    margin: 0 auto;
    padding: 0.25em;
    /* background-color: rgba(19, 12, 12, 0.5); */
    text-shadow: 2px 2px 8px #111;
    height: 1.75em;
    border-radius: 7px;


  }

  .advancedSearchTextbox{
      color: rgb(2, 1, 0);
      font-size: 1.25rem;
      font-weight: bold;
      margin: 1% 0 1% 2%;
      }

  .error_search {
      font-size: 1.25rem;
      width: 80%;
      margin-left: 2%;
      text-align: center;
      color: antiquewhite;
      background-color: rgba(12, 10, 9, 0.75);

  }

  .error_message {
      padding-top: 10px;
      font-size: 1.75rem;

  }

  .link_player {
      text-decoration:none;
      color: antiquewhite;
  }
  .fa-baseball-ball {
      font-size: 10rem;
      margin: 5% 30% 0 !important;
      color: rgba(80, 57, 43, 0.40);
  }
  .spiner_load {
      font-size: 5rem;
      margin: 0 25% !important;
      color: rgba(80, 57, 43, 0.95);
  }

  .title-position{
    color: white;
    font-size: 1rem;
      font-weight: bold;
      margin: .5rem 0 .5rem .5rem;
        }
    .player_stats {
      width: 100%;
      display: table;
  }
  .td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
      display: table-cell;
  }

  .table-header1 {
      background-color: rgba(12, 10, 9, 0.9);
      color: antiquewhite;
      font-size: 1.25rem;
      align-items: center;
  }
  .table-header {
      background-color: rgba(12, 10, 9, 0.75);
      color: antiquewhite;
      font-size: 1.25rem;
      align-items: center;
  }
  .paginator {
      font-size: 1.75rem;
  }
  .paginator_text {
      display: table-cell;
  }

}
@media only screen and (min-width:1921px ) and (max-width: 3500px) {

  .daily-title {
      color: antiquewhite;
      font-size: 3.25rem;
      text-align: center;
      margin: 0 auto;
      padding: 0.15em;
      /* background-color: rgba(19, 12, 12, 0.5); */
      text-shadow: 2px 2px 8px #111;
      width: 15em;
      height: 1.75em;
      border-radius: 7px;
  }
  .daily-title1 {
    font-size: 2.5rem !important;
    width: 12em;
  }
  .espacioInferior {
    margin-bottom: 1rem;
  }


  .advancedSearchTextbox{
      color: rgb(2, 1, 0);
      font-size: 3rem;
      font-weight: bold;
      margin: 1% 0 1% 2%;
      }

  .error_search {
      font-size: 3rem;
      width: 80%;
      margin-left: 2%;
      text-align: center;
      color: antiquewhite;
      background-color: rgba(12, 10, 9, 0.75);

  }

  .error_message {
      padding-top: 10px;
      font-size: 3rem;

  }

  .link_player {
      text-decoration:none;
      color: antiquewhite;
  }

  .title-position{
    color: white;
    font-size: 1rem;
      font-weight: bold;
      margin: .5rem 0 .5rem .5rem;
        }
    .player_stats {
      width: 100%;
      display: table;
  }
  .td2, .td5, .td7A, .td7, .td8, .td9, .td11 {
      display: table-cell;
  }

  .table-header1 {
      background-color: rgba(12, 10, 9, 0.9);
      color: antiquewhite;
      font-size: 2.5rem;
      align-items: center;
  }
  .table-header {
      background-color: rgba(12, 10, 9, 0.75);
      color: antiquewhite;
      font-size: 2.25rem;
      align-items: center;
  }
  .paginator {
      font-size: 3rem;
      width: 100%;
  }

  .paginator_text {
      font-size: 3;
      display: table-cell;
  }

}




























/* .container_players_actives {
  margin-top: 1rem;
}
.daily-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0;
    padding: .5rem 0;
    background-color: rgba(3, 2, 2, 0.5);
    width: 18em;
    height: 1.75em;
    border-radius: 7px;
}
.link_player {
  text-decoration:none;
  color: antiquewhite;
}

.advancedSearchTextbox{
    color: rgb(2, 1, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0;
}

.fa-baseball-ball {
  font-size: 10rem;
  margin: 5% 40% 0 !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 5rem;
  margin: 0 25% !important;
  color: rgba(80, 57, 43, 0.95);
}
.error_search {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(12, 10, 9, 0.75);

}


.title-position{
    color: antiquewhite;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 12%;
    margin-bottom: 0;
}

.table {
    width: 80%;
    margin: 0.2em auto;
}


.table-header1 {
    background-color: rgba(12, 10, 9, 0.9);
    color: antiquewhite;
}
.table-header {
    background-color: rgba(12, 10, 9, 0.75);
    color: antiquewhite;
}
.title-rows {
    background-color: antiquewhite;
    color: rgb(12, 10, 9);

}

.player-name {
    color: black;
}
.player-name:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.15rem;
    text-decoration: none;
}

.row-color {
    background-color: rgb(245, 223, 195);

}
.row-color:hover {
    background-color: rgb(255, 255, 255);

}
.row-color1:hover {
    background-color: rgb(255, 255, 255);

}

.title-rows_header {
    text-align: center;
}

.fa-baseball-ball {
    font-size: 10rem;
    margin: 5% 45% 0 !important;
    color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
    font-size: 5rem;
    margin: 0 40% !important;
    color: rgba(80, 57, 43, 0.95);
} */

/* th {
padding: 12px 5%px;
} */
