<div class="container_players_actives"></div>
<div class="container-actives">
  <h1 class="actives-title">Posiciones de los Equipos</h1>
  <h4 class="actives-title1">Spring Training 2019</h4>
</div>

<!-- LOADER -->
<div *ngIf="!AllLeague">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div>


<div *ngIf="AllLeague">

<div class="container_grid">
  <table class="table  text-center tableGL">
    <thead class="table-header">
      <tr>
        <th class="tbA" style="width: 5%;" scope="col">EQUIPO</th>
        <th class="tbA" style="width: 2;" scope="col">G</th>
        <th class="tbA" style="width: 2;" scope="col">P</th>
        <th class="tbA" style="width: 2;" scope="col">.pct</th>
      </tr>
    </thead>

    <!-- <table class="table "> -->
      <tbody class="table-header2">
          <tr *ngFor="let position of GlLeague; index as i ">
            <td class="tb1" style="width: 5%;"><img class="tb1" src="{{'../../../../assets/'+ position.teamId +'.png'}}" alt=""></td>
             <!-- <td class="tb2" style="width: 2%;">{{position.name}}</td> -->
             <td class="tb2" style="width: 2%;">{{position.wins}}</td>
             <td class="tb3" style="width: 2%;">{{position.losses}}</td>
             <td class="tb3" style="width: 2%;">{{position.pct}}</td>
      </tbody>

  </table>

  <table class="table  text-center tableCL">
    <thead class="table-header">
      <tr>
        <th class="tbA" style="width: 5%;" scope="col">EQUIPO</th>
        <th class="tbA" style="width: 2%;" scope="col">G</th>
        <th class="tbA" style="width: 2%;" scope="col">P</th>
        <th class="tbA" style="width: 2%;" scope="col">.pct</th>
      </tr>
    </thead>

    <!-- <table class="table "> -->
      <tbody class="table-header2">
          <tr *ngFor="let position of ClLeague ">
            <td class="tb1" style="width: 5%;"><img class="tb1" src="{{'../../../../assets/'+ position.teamId +'.png'}}" alt=""></td>
            <!-- <td class="tb2" style="width: 2%;">{{position.name}}</td> -->
            <td class="tb2" style="width: 2%;">{{position.wins}}</td>
             <td class="tb2" style="width: 2%;">{{position.losses}}</td>
             <td class="tb3" style="width: 2%;">{{position.pct}}</td>
      </tbody>

  </table>
</div>
</div>

