.container_news{
    width: 90%;
    height: 100%;
    margin: 1em auto;
}

.cuadro_Central {
    display: grid;
    grid-template-columns: repeat(5 auto);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    width: 95%;
    margin: 1.5em auto;
    padding: 5px;

}

.cuadro_Central .marco:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    /* border-radius: 10px; */
}
.cuadro_Central .marco:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    /* border-radius: 10px; */
}
.cuadro_Central .marco:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    /* border-radius: 10px; */
}
.cuadro_Central .marco:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 100%;
    /* border-radius: 10px; */
}
.cuadro_Central .marco:nth-child(5) {
    grid-column: 5/6;
    grid-row: 1/2;
    width: 100%;
    /* border-radius: 10px; */
}
/* .cuadro_Central .marco:nth-child(6) {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
}
.cuadro_Central .marco:nth-child(7) {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
}
.cuadro_Central .marco:nth-child(8) {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 100%;
} */
.marco {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid grey 1px;
    /* border-radius: 10px; */
}
.title_cardB {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: auto;
}

.image_card {
    width: 100%;
    /* border-radius: 10px; */
    max-height: 175px;
}
.body_card {
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.header_card{
    background-color: rgba(255, 255, 255, 0.8);
    width: 30%;
    height: 3em;
    /* border: solid rgba(0, 0, 0, .5) 3px; */
    margin: 25% auto 0;
    border-radius: 10px;
}
p {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    color: rgb(0, 0, 0)
}

.btn-primary {
    font-size: 1rem;
    font-weight: bold;
    /* color:antiquewhite; */
    /* text-shadow: 1px 1px black; */
    height: auto;
    margin: .3em .5em;
    border-radius: 10px;
}
.btn-primary:hover {
    font-size: 1.25rem;
    font-weight: bold;
    color:antiquewhite;
    height: auto;
    margin: auto;
    border-radius: 10px;

}
.more_news {
    width: 50%;
    height: 4em;
    margin:0 auto;
    border-radius: 10px;
    text-align: center;

}


@media only screen and (max-width: 800px) {
    .container_news{
        width: 100%;
        /* height: 100%; */
        margin: 1em 0;
    }
    .cuadro_Central {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-columns: 2fr;
        background-color: rgba(255, 255, 255, 0.8);
        /* border: solid rgb(252, 252, 206) 0px; */
        width: 95%;
        /* height: 75%; */
        margin: .5em auto;
        padding: 5px;
        border: rgba(0, 0, 0, .3) solid 1px;
        border-radius: 10px;
    
    }
    
    
    .cuadro_Central .marco:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 70%;
        border-radius: 5px;
    }
    .cuadro_Central .marco:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        color:rgb(0, 0, 0);
        /* text-shadow: 1px 1px black; */
        font-size: 1.3em;
        font-weight: 500;
        text-align: justify;
        padding: 0 1em; 
    }
    .header_card{
        background-color: rgba(255, 255, 255, 0.8);
        width: 95%;
        height: 4em;
        /* border: solid rgba(0, 0, 0, .5) 3px; */
        margin: .5em auto 0;
        border-radius: 10px;
    }
    p {
        font-size: 1.25em;
        font-weight: 800;
        text-align: center;
        margin: 0.4rem ;
        color: rgb(0, 0, 0)
    }
    
    .btn-primary {
        font-size: .8rem;
        font-weight: bold;
        /* color:antiquewhite; */
        /* text-shadow: 1px 1px black; */
        width: 35%;
        height: auto;
        margin: .3em .5em;
        border-radius: 10px;
    }
    .btn-primary:hover {
        font-size: 1.25rem;
        font-weight: bold;
        color:antiquewhite;
        width: 20%;
        height: auto;
        margin: auto;
        border-radius: 10px;
    
    }
    .header_card1{
        width: 97%;
        height: 3em;
        /* border: solid rgba(0, 0, 0, .5) 3px; */
        margin:auto;
        border-radius: 10px;
        /* background-color:rgba(233, 229, 226, .8); */
    
    }
    
}

