
<div class="container_title_video">
    <h1 class="title_video">NOTICIAS PRINCIPALES</h1>
    </div>
    <div class="container_video">
    <div class="embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>

      <img class="embed-responsive-item" src="../../../assets/ChirinosNEWS.jpg" alt="Robinson Chirinos" >
    </a>
      </div>
    </div>


    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
      <h3 class="title_video_ppal"> Chirinos y Carrasco libraron una guerra fratricida.<span class="link_out"> Ver BeisbolPlay.</span></h3> </a>


    <p class="line_break"> </p>

    <div class="container_videos">
      <div class=" videoa embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>

          <img class=" embed-responsive-item" src="../../../assets/Freddy-Galvis-TorontoNews.jpg" alt="Carlos Martínez">
        </a>

      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
          <h3 class="title_video_secondary1"> En Toronto están preocupados por la salud de Freddy Galvis<span class="link_out"> Ver en BeisbolPlay</span></h3>
        </a>

      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>

          <img class=" embed-responsive-item" src="../../../assets/cuatroVzlanosNews.jpg" alt="Ronald Acuña Jr.">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
          <h3 class="title_video_secondary1"> Cuatro venezolanos guiaron paliza de Arizona sobre los Piratas.<span class="link_out"> Ver en Sports Venezuela</span></h3>
        </a>

      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>

          <img class=" embed-responsive-item" src="../../../assets/darwinzonNews.jpg" alt="José Martínez">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>
          <h3 class="title_video_secondary1">Boston sube a las Mayores al prospecto guayanés Darwinzon Hernández. <span class="link_out"> Ver en El Nacional</span></h3>
        </a>

    </div>
    <div class="container_videos">
      <div class=" videoa embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>

          <img class=" embed-responsive-item" src="../../../assets/ALTUVE VS JUDGE news.jpg" alt="Altuve y Judge">
        </a>

      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>
          <h3 class="title_video_secondary1"> Altuve bateó 4 Jonrones en 3 juegos Vs Yankees.<span class="link_out"> Ver en BéisbolPlay</span></h3>
        </a>

      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>

          <img class=" embed-responsive-item" src="../../../assets/Cafecito-Martinez-AP NEWS.jpg" alt="Carlos Martínez">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>
        <h3 class="title_video_secondary1"> ¿Hasta cuándo llamaremos “Cafecito” a José Martínez?<span class="link_out"> Ver en BeisbolPlay</span></h3>
      </a>

      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>

          <img class=" embed-responsive-item" src="../../../assets/Acuña200419.jpg" alt="Ronald Acuña Jr.">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>
        <h3 class="title_video_secondary1"> Acuña salió de las sombras del ponche a la luz del triunfo.<span class="link_out"> Ver en Sports Venezuela</span></h3>
      </a>

    </div>
    <p class="line_break"> </p>
    <div class="container_videos">
        <div class=" videoa embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>

            <img class=" embed-responsive-item" src="../../../assets/JOSEMARTINEZNEWS.JPG" alt="José Martínez">
          </a>

        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>
          <h3 class="title_video_secondary1">Martínez continua llenando el vacío en el LineUp de los Cardenales. <span class="link_out"> Ver en MLB</span></h3>
          </a>

        <div class="videob embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>

            <img class=" embed-responsive-item" src="../../../assets/Ronald-Acuna.jpg" alt="Ronald Acuna">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>
          <h3 class="title_video_secondary1"> Acuña jonronea y Bravos salen airosos en Denver. <span class="link_out"> Ver en el Sol de Margarita</span></h3>
          </a>

        <div class="videoc embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>

            <img class=" embed-responsive-item" src="../../../assets/2jonronesdeGleyber.JPG" alt="Gleyber Torres">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>
            <h3 class="title_video_secondary1">Gleyber Torres empata marca del legendario Yankee, Joe DiMaggio. <span class="link_out"> Ver en AtBat</span></h3>
          </a>

      </div>
      <p class="line_break"> </p>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Se esta dirigiendo a un Link externo a vinotintosMLB.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
            <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
          </div>
        </div>
      </div>
    </div>

