/* .title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: antiquewhite;

  }

  .texto_cuadros {
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 1rem 40%;
  }

  .texto_cuadros_derechos, .textos_container_inferior_izquierdo, .textos_container_inferior_central, .textos_container_inferior_derecho {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 1rem 40%;

  }
  .cuadro_izquierdo {
    position: relative;
    display: inline-block;
    text-align: justify;
}

.cuadro_izquierdo_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
  .img_cuadro_izquierdo {
     width: 100%;


  }


.texto_img_cuadro, .texto_img_izquierdo_cuadro2  {
    position: absolute;
    bottom: 1px;
    width: 90%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: .5rem;
}
.texto_img_izquierdo_cuadro1 {
    position: absolute;
    top: 40%;
    width: 90%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: 1rem;
}

.container_header {
      margin: 0 auto;
      width: 80%;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      }

.cuadro_izquierdo {
    grid-column: 1/2;
    justify-self: center;
    width: 100%;
    height: 100%;



}

.container_central {
    grid-column: 2/3;
    justify-self: center;
    background-color: rgb(184, 14, 14);
    width: 100%;

    position: relative;
    display: inline-block;
    text-align: justify;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.container_central_superior {
    background-color: rgb(14, 207, 46);
    grid-column: 1/2;
    grid-row: 1/2;

}

.container_central_inferior {
    background-color: rgba(41, 24, 24, 0.774);
    grid-column: 1/2;
    grid-row: 2/3;
}

.container_derecho {
    grid-column: 3/4;
    justify-self: center;
    background-color: rgb(0, 0, 0);
    width: 100%;

    position: relative;
    display: inline-block;
    text-align: justify;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(auto-fit, minmax(1rem,2rem));
}

.container_central_derecho_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    width: 100%;
}
.container_central_derecho_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    width: 100%;
}
.container_central_derecho_3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    width: 100%;
}
.container_central_derecho_4 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    width: 100%;
}
.container_central_derecho_5 {
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: center;
    width: 100%;
}

.t_i_d {
    top: 40%;
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: 1rem;

}

.texto_img_cuadro1 {
    position: absolute;
    top: 1rem;


}
.texto_img_cuadro2 {
    position: absolute;
    top: 10rem;


}
.texto_img_cuadro3 {
    position: absolute;
    top: 20rem;


}
.texto_img_cuadro4 {
    position: absolute;
    top: 30rem;

}

.sitio_web {
    color:gray;
    font-size: .8rem;

}

.container_inferior {
    margin: 2rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    background-color: rgb(10, 10, 10);

}


.cuadro_container_inferior_izquierdo {
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
}

.cuadro_container_inferior_izquierdo1 {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    align-items: center;

 }

.text_in_iz1 {
    position: absolute;
    bottom: .1rem;
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}
.cuadro_container_inferior_izquierdo2 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    width: 100%;

 }

.text_in_iz2 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}





.cuadro_container_inferior_izquierdo3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    width: 100%;

}

.text_in_iz3 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}
.cuadro_container_inferior_izquierdo4 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    width: 100%;

}

.text_in_iz4 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}

.cuadro_container_inferior_central {
    grid-column: 2/3;
    justify-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.cuadro_container_inferior_central1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img_cuadro_inferior_central1 {
    grid-column: 1/2;
    margin: 40% 2%;


}

.text_in_c1 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;

    grid-column: 2/3;
    margin: 10% 2%;

}

.cuadro_container_inferior_central2 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img_cuadro_inferior_central2 {
    grid-column: 1/2;
    margin: 40% 2%;


}

.text_in_c2 {
    bottom: .1rem;
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;

    grid-column: 2/3;
    margin: 10% 2%;

}
.cuadro_container_inferior_central3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img_cuadro_inferior_central3 {
    grid-column: 1/2;
    margin: 40% 2%;


}

.text_in_c3 {
    bottom: .1rem;
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;

    grid-column: 2/3;
    margin: 10% 2%;

}
.cuadro_container_inferior_central4 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img_cuadro_inferior_central4 {
    grid-column: 1/2;
    margin: 40% 2%;


}

.text_in_c4 {
    bottom: .1rem;
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;

    grid-column: 2/3;
    margin: 10% 2%;

}


.cuadro_container_inferior_derecho {
    grid-column: 3/4;

}

.cuadro_container_inferior_derecho1 {
    padding-top: 5rem;
    justify-items: center;


}

.img_cuadro_inferior_derecho1 {
    margin: 0 10%;
}
.text_in_id1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}



.cuadro_container_inferior_derecho2 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: center;
}
.text_in_id2 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}

.cuadro_container_inferior_derecho3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-items: center;

 }



.text_in_id3 {
    width: 25rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}

.cuadro_container_inferior_derecho4 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    position: relative;
    bottom: .1rem;
    left: .01rem
 }

.text_in_id4 {
    position: absolute;
    bottom: .1rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 .5rem;
}

.line_white {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}


@media only screen and (min-width: 800px) and (max-width: 989px) {
    .container_derecho {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(2, 1fr);

    }

    .container_central_derecho_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_3 {
        display: none;
    }
    .container_central_derecho_4 {
        display: none;
    }
    .container_central_derecho_5 {
        display: none;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1319px) {
    .container_derecho {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(3, 1fr);
    }

    .container_central_derecho_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_4 {
        display: none;
    }
    .container_central_derecho_5 {
        display: none;
    }

}
@media only screen and (min-width: 1320px) and (max-width: 1619px) {
    .container_derecho {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 1fr);
    }

    .container_central_derecho_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_4 {
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_5 {
        display: none;
    }

}


@media only screen and (min-width: 1620px) and (max-width: 4500px) {
    .container_derecho {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 1fr);
    }

    .container_central_derecho_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_4 {
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
        width: 100%;
    }
    .container_central_derecho_5 {
        grid-column: 1/2;
        grid-row: 5/6;
        justify-self: center;
        width: 100%;
        display: none;
    }

} */







/* VIEJO DISEÑO */
 a {
    text-decoration:none;
    color: rgb(64, 142, 214);;
    cursor: pointer;
}
.link_out {
  color: rgb(64, 142, 214);
  font-weight: 100;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

.modal-content {
    background-color: rgba(31, 27, 26, 0.95);
    color: antiquewhite;
    border: 1px solid rgba(240, 230, 230, .90);

}



.cuadro_fondo_blanco {
    height: 1200px;
    box-shadow: inset 0px 0px 10px 10px #d5c8c1;
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    height: auto;
    min-height: 40vh;
    margin: 0 auto;
    border-radius: 4px;

}


.header_card{
    background-color: rgba(255, 255, 255, 0.8);
    width: 32%;
    height: 2.2em;
    margin: 0 auto 0;
    border-radius: 10px;
}

p {
    font-size: 1.65em;
    font-weight: 800;
    color: rgb(0, 0, 0)
}
.title {
  text-align: center;
}

.container_news{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
}
.cuadro_Central {
    width: 100%;
    margin-top: 2em;

}
.first_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item1 {
    margin: 10px 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 91%;
    height: 100%;
    text-align: justify;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item2 {
    margin: 10px 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    text-align: justify;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item3 {
    margin: 10px 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    text-align: justify;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_item1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;

}

.first_item2 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    font-size: 0.2rem;
    font-weight: 500;
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;

}



.second_grid_item1 {
    margin: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 6fr 1fr;

    grid-column-gap: 10px;

}
.second_item2{
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    height: 100%;
    vertical-align: center;
}


.second_grid_item2 {
    margin-right: 6%;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 99%;
    height: 100%;


    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 6% 24% 10px 24% 10px 24% 10px;
    grid-column-gap: 2px;
    grid-row-gap: 5px;

}
.second_grid_item_section1A {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;


}
.second_grid_item_section1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 99%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}

.second_grid_item_section1B {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 99%;
    height: 1px;

}
.second_grid_item_section2 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}
.second_grid_item_section1C {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 99%;
    height: 10px;

}

.second_grid_item_section3 {
    grid-column: 1/2;
    grid-row: 6/7;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}
.second_grid_item_section1D {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 99%;
    height: 10px;

}

.second_grid_item_section1E {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 99%;
    height: 10px;

}

.second_item4 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    padding-top: 15%;

}
.second_item5{
  grid-column: 2/3;
    grid-row: 1/2;
    width: 15rem;
    height:100%;
    padding-top: 5%;


}

.first_grid_item2 {
    margin: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;

}
.first_grid_item3 {
    margin: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 100%;

}


.first_grid_line {
    height: 1px;
    width: 98%;
}

.p_grids {
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 50%;
}
.span_first_itemA {
    font-size: 1.25rem;
    font-weight: 400;
}
.span_first_item {
    font-size: 0.9rem;
    font-weight: 100;
}

@media only screen and (min-width: 300px) and (max-width: 320px) {
  .header_card{
    width: 65%;
    height: 1.50rem;
    margin: 0 auto 0;
}
.title {
    font-size: 1rem;
    text-align: center;
}
.first_grid {
    display:none;
}
.second-grid {
  display: block;

}
.second_grid_item1 {
    display:none;
}
.second_grid_item2 {
  width: 100%;
  padding: 0 5%;
}
.second_grid_item_section1A {
  font-size: 2rem;
}
.second_grid_item_section1,
.second_grid_item_section2,
.second_grid_item_section3 {
  display: block;
  text-align: justify;
  justify-content: center;
  padding-top: 0;

}
.second_item4 {
  padding-top: 1rem;

}
.second_item5 {
  width: 15rem;
  padding: .2rem 0 1.25rem;
}
.span_first_item {
  width: 100%;
  margin-bottom: 0;
}
.second_grid_item_section1B,
.second_grid_item_section1C,
.second_grid_item_section1D {
  display: none;
}

}

  @media only screen and (min-width: 325px) and (max-width: 500px) {
    .header_card{
      width: 65%;
      height: 1.50rem;
      margin: 0 auto 0;
  }
  .title {
      font-size: 1rem;
      text-align: center;
  }
  .first_grid {
      display:none;
  }
  .second-grid {
    display: block;

  }
  .second_grid_item1 {
      display:none;
  }
  .second_grid_item2 {
    width: 100%;
    padding: 0 5%;
  }
  .second_grid_item_section1A {
    font-size: 2rem;
  }
  .second_grid_item_section1,
  .second_grid_item_section2,
  .second_grid_item_section3 {
    display: block;
    text-align: justify;
    justify-content: center;
    padding-top: 0;

  }
  .second_item4 {
    padding-top: 1rem;

  }
  .second_item5 {
    width: 18rem;
    padding: .2rem 0 1.25rem;
    margin: 0 auto;
  }
  .span_first_item {
    width: 100%;
    margin-bottom: 0;
  }
  .second_grid_item_section1B,
  .second_grid_item_section1C,
  .second_grid_item_section1D {
    display: none;
  }
}
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    .header_card{
      width: 45%;
      height: 2.50rem;
      margin: 0 auto 0;
  }
  .title {
      font-size: 1.5rem;
      text-align: center;
  }
  .first_grid {
      display:none;
  }
  .second-grid {
    display: block;

  }
  .second_grid_item1 {
      display:none;
  }
  .second_grid_item2 {
    width: 100%;
    padding: 0 5%;
  }
  .second_grid_item_section1A {
    font-size: 2rem;
  }
  .second_grid_item_section1,
  .second_grid_item_section2,
  .second_grid_item_section3 {
    display: block;
    text-align: justify;
    justify-content: center;
    padding-top: 0;

  }
  .second_item4 {
    padding-top: 1rem;

  }
  .second_item5 {
    width: 39rem;
    padding: .2rem 0 1.25rem;
    margin: 0 auto;
  }
  .span_first_item {
    width: 100%;
    margin-bottom: 0;
  }
  .second_grid_item_section1B,
  .second_grid_item_section1C,
  .second_grid_item_section1D {
    display: none;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1439px) {

  a {
    text-decoration:none;
    color: rgb(64, 142, 214);;
    cursor: pointer;
}
.link_out {
  color: rgb(64, 142, 214);
  font-weight: 100;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}


.cuadro_fondo_blanco {
    height: 1200px;
    box-shadow: inset 0px 0px 10px 10px #d5c8c1;
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    height: auto;
    min-height: 40vh;
    margin: 0 auto;
    border-radius: 4px;

}


.header_card{
    background-color: rgba(255, 255, 255, 0.8);
    width: 32%;
    height: 2.2em;
    margin: 0 auto 0;
    border-radius: 10px;
}

p {
    font-size: 1.65em;
    font-weight: 800;
    color: rgb(0, 0, 0)
}
.title {
  text-align: center;
}

.container_news{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
}
.cuadro_Central {
    width: 100%;
    margin-top: 2em;

}
.first_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item1 {
    margin: 10px 4%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 91%;
    height: 100%;
    text-align: justify;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item2 {
    margin: 10px 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    text-align: justify;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.first_grid_item3 {
   display: none;

}
.first_item1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;

}

.first_item2 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    font-size: 0.2rem;
    font-weight: 500;
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 10px;

}



.second_grid_item1 {
    margin: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 6fr 1fr;

    grid-column-gap: 10px;

}
.second_item2{
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    height: 100%;
    vertical-align: center;
}


.second_grid_item2 {
    margin-right: 6%;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 99%;
    height: 100%;


    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 6% 24% 1px 24%;
    grid-column-gap: 2px;
    grid-row-gap: 5px;

}
.second_grid_item_section1A {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;


}
.second_grid_item_section1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 99%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}

.second_grid_item_section1B {
  display: none;


}
.second_grid_item_section2 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

}
.second_grid_item_section1C {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 99%;
    height: 10px;

}

.second_grid_item_section3 {
  display: none;


}
.second_grid_item_section1D {
display: none;

}


.second_grid_item_section1E {
  display: none;


}

.second_item4 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    padding-top: 5%;

}
.second_item5{
  grid-column: 2/3;
    grid-row: 1/2;
    width: 15rem;
    height:100%;
    padding-top: 5%;


}

.first_grid_item2 {
    margin: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;

}
.first_grid_item3 {
    margin: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 100%;

}


.first_grid_line {
    height: 1px;
    width: 98%;
}

.p_grids {
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 50%;
}
.span_first_itemA {
    font-size: 1.25rem;
    font-weight: 400;

}
.span_first_item {
    font-size: 0.9rem;
    font-weight: 100;
}
}



  @media only screen and (orientation: landscape) and (min-width: 501px) and (max-width: 800px) {
    .header_card{
      width: 45%;
      height: 2rem;
      margin: 0 auto 0;
  }
  .title {
      font-size: 1.25rem;
      text-align: center;
  }
  .first_grid {
      display:none;
  }
  .second-grid {
    display: block;

  }
  .second_grid_item1 {
      display:none;
  }
  .second_grid_item2 {
    width: 100%;
    padding: 0 5%;
  }
  .second_grid_item_section1A {
    display: none;
  }
  .second_grid_item_section1,
  .second_grid_item_section2,
  .second_grid_item_section3 {
    display: block;
    text-align: justify;
    justify-content: center;
    padding-top: 0;

  }
  .second_item4 {
    padding-top: 1rem;

  }
  .second_item5 {
    width: 30rem;
    padding: .2rem 0 1.25rem;
    margin: 0 auto;
  }
  .span_first_item {
    width: 100%;
    margin-bottom: 0;
  }
  .second_grid_item_section1B,
  .second_grid_item_section1C,
  .second_grid_item_section1D {
    display: none;
  }
}
