
<div class="container_title_video">
    <h1 class="title_video">NOTICIAS PRINCIPALES</h1>
    </div>
    <div class="container_video">
    <div class="embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>

      <img class="embed-responsive-item" src="../../../assets/altuve 5 jonron news (1).jpg" alt="José Altuves" >
    </a>
      </div>
    </div>


    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
      <h3 class="title_video_ppal"> Altuve es el primero en conseguir este record de Hr. en la MLB en el 2019.<span class="link_out"> Ver MLB</span></h3> </a>


    <p class="line_break"> </p>

    <div class="container_videos">
      <div class=" videoa embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>

          <img class=" embed-responsive-item" src="../../../assets/CAR GO.JPG" alt="Carlos Gonzalez">
        </a>

      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
          <h3 class="title_video_secondary1"> CarGo se une a la tribu en KC; será activado el Domingo.<span class="link_out"> Ver en MLB</span></h3>
        </a>

      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>

          <img class=" embed-responsive-item" src="../../../assets/Aníbal-Sánchez-13-04.jpg" alt="Anibal Sanchez">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
          <h3 class="title_video_secondary1">Aníbal se lucío, pero no tuvo suerte. <span class="link_out"> Ver en Líder</span></h3>
        </a>

      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>

          <img class=" embed-responsive-item" src="../../../assets/PEDRO AVILA NEWS.jpg" alt="Pedro Avila">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>
          <h3 class="title_video_secondary1">Pedro Avila es el 2do jugador Novato de Venezuela que actúa en las Grandes Ligas este 2019. <span class="link_out"> Ver en primicias24</span></h3>
        </a>

    </div>
    <div class="container_videos">
      <div class=" videoa embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>

          <img class=" embed-responsive-item" src="../../../assets/ALTUVE VS JUDGE news.jpg" alt="Altuve y Judge">
        </a>

      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>
          <h3 class="title_video_secondary1"> Altuve bateó 4 Jonrones en 3 juegos Vs Yankees.<span class="link_out"> Ver en BéisbolPlay</span></h3>
        </a>

      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>

          <img class=" embed-responsive-item" src="../../../assets/herrera anibal.jpg" alt="Oduber Herrera y Anibal Sanchez">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>
          <h3 class="title_video_secondary1">El Torito" impulsó a los Filis ante Aníbal Sánchez. <span class="link_out"> Ver en Meridiano</span></h3>
        </a>

      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>

          <img class=" embed-responsive-item" src="../../../assets/Ronald-Acuna.jpg" alt="Ronald Acuna">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>
          <h3 class="title_video_secondary1"> Acuña jonronea y Bravos salen airosos en Denver. <span class="link_out"> Ver en el Sol de Margarita</span></h3>
        </a>

    </div>
    <p class="line_break"> </p>
    <div class="container_videos">
        <div class=" videoa embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>

            <img class=" embed-responsive-item" src="../../../assets/Jose Rondon HR.jpg" alt="Jose Rondon">
          </a>

        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>
            <h3 class="title_video_secondary1">Rondón sacó su primer bambinazo de la zafra. <span class="link_out">Ver en Meridiano</span></h3>
          </a>

        <div class="videob embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>

            <img class=" embed-responsive-item" src="../../../assets/2jonronesdeGleyber.JPG" alt="Gleyber Torres">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>
            <h3 class="title_video_secondary1">Gleyber Torres empata marca del legendario Yankee, Joe DiMaggio. <span class="link_out"> Ver en AtBat</span></h3>
          </a>

        <div class="videoc embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>

            <img class=" embed-responsive-item" src="../../../../assets/SENZATELA21.jpg" alt="Antonio Senzatela">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>
            <h3 class="title_video_secondary1">Antonio Senzatela, Elías Díaz y José Osuna empiezan en lista de lesionados.<span class="link_out"> Ver en el Nacional</span></h3>
          </a>

      </div>
      <p class="line_break"> </p>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Se esta dirigiendo a un Link externo a vinotintosMLB.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
            <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
          </div>
        </div>
      </div>
    </div>

