<div class="container_news">
  <div class="header_card">
    <p> NOTICIAS ACTUALIZADAS</p>
  </div>
  <div class="cuadro_Central">

    <div class="marco">
      <p class="title_cardB">J. Martinez Ayuda a Vzla</p>
      <img class="image_card" src="../../../assets/JOSE MARTINEZ AYUDA VZLA.jpg" alt="">
      <div class="body_card"> <strong> Jose Martinez </strong> de los Cardenales de San Luis, ha estado siempre
        pendiente de ayudar a los
        venezolanos que le piden ayuda, y esto ocurre casi a diario en su cuenta de Instagram. Los Cardenales de San
        Luis
        ha recaudado mas de $10.00,00 dólares para una beneficiencia designada por Martínez, de la cual solo se conoce
        que es
        un Hospital para niños en Venezuela. <strong> Grande Jose Martínez y los Cardenales de San Luis!.</strong>
      </div>
    </div>

    <div class="marco">
      <p class="title_cardB">Luis Arraiz con los Twins</p>
      <img class="image_card" src="../../../assets/Luis Arraiz 2.jpg" alt="">
      <div class=" body_card">Los Mellizos de Minnesota seleccionaron al infielder <strong> Luis Arraiz </strong> para
        su roster de Grandes Ligas.
        El nativo de San Felipe, de 21 años de edad, estuvo en el 2018 entre Clase A con Ft. Myers y Doble-A con el
        Chattanooga,
        bateando .310 (126 Hits en 406 Vb) con 20 dobles, 03 triples, 03 home runs, 36 CI, 52 CA en 108 juegos. </div>
    </div>

    <div class="marco">
      <p class="title_cardB">Tres más con los Angelinos</p>
      <img class=" image_card" src="../../../assets/ANGELINOS DE CALIF.jpg" alt="">
      <div class=" body_card">Los Angelinos de California seleccionaron a tres venezolanos para su roster de Gandes
        Ligas:
        <strong> José Suárez, Luis Rengifo y Luis Madero.</strong> <br>
        Suárez, de 20 años, Pitcher zurdo, estuvo el 2018 entre Adv.-A y Doble A. <br> Rengifo, infielder de 21 años,
        lideró en las menores de los Angelinos, en Hits
        y Bases Robadas. <br> Madero, Pitcher Derecho con 21 años, estuvo entre Clase A y Adv.-A </div>
    </div>

    <div class="marco">
      <p class="title_cardB">Liberado por los Red Sox</p>
      <img class=" image_card" src="../../../assets/William Cuevas Boston.jpg" alt="">
      <div class=" body_card">Los Medias Rojas de Boston liberaron al Pitcher venezolano <strong>William Cuevas</strong>.
        Se espera que
        el jugador firme con los KT Wiz, del beisbol de Korea del Sur. <br> Cuevas de 28 años,
        apareció en 09 juegos con Boston en el 2018, pero pasó la mayor parte de la temporada en
        en Pawtucket. El Pitcher paso nueve de sus 10 años como profesional con la organización de los Medias Rojas.
      </div>
    </div>

    <div class="marco">
      <p class="title_cardB">Prospecto con los Marlins</p>
      <img class="image_card" src="../../../assets/JOSE QUIJADA MARLINS.jpg" alt="">
      <div class=" body_card">Dentro de los primeros cinco prospectos de los Marlins de Florida se encuentra un Pitcher
        venezolano, <strong>Jose Quijada.</strong> de 23 años,
        quién actualmente está jugando con los Caribes de Anzoategui. La temporada de 2018 la pasó entre Doble y
        Triple-A, participando en 44 juegos. </div>
    </div>

    <!-- <div class="marco">
    <img class=" image_card" src="../../../assets/Altuve Bat.jpg" alt="">
    <div class=" body_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus veritatis eveniet dicta placeat harum
      atque, libero beatae repellendus. </div>
    </div>

      <div class="marco">
    <img class=" image_card" src="../../../assets/Altuve Bat.jpg" alt="">
    <div class=" body_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus veritatis eveniet dicta placeat harum
      atque, libero beatae repellendus. </div>
    </div>
      <div class="marco">
    <img class=" image_card" src="../../../assets/Altuve Bat.jpg" alt="">
    <div class=" body_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus veritatis eveniet dicta placeat harum
      atque, libero beatae repellendus. </div>
    </div> -->

  </div>
  <div class="more_news">
    <button class="btn btn-primary">MAS NOTICIAS</button>
  </div>
</div>