<div class="container_title_infographics">
  <h1 class="title_infographics">TABLA DE LA QUINIELA 2DA PARTE 2020</h1>
  <h1 class="title_infographics"> ________________________</h1>

  <h3 class="title_infographics">         </h3>
  <!-- <h3 class="title_infographics">NOTA: En el TOTAL se incluyen: Cambios y Bonos Jugador Extra.</h3> -->
  <h3 class="title_infographics; color_infoGraphics ">Se encuentra contabilizado el Jugador Extra - Fernando Tatis Jr 02 HR- </h3>
  <h1 class="title_infographics"> ________________________</h1>

</div>
<div class="container_infographics">

  <div *ngFor="let img of imgs; let i = index">
    <div class="img1" data-toggle="modal" data-target="#exampleModal">
      <div class="{{img.number}}">
        <a data-toggle="modal" data-target="#exampleModal"> <img (click)="showMyImage(i)" class=" image_click " src="{{img.url}}" alt="TABLA 1 DE LA QUINIELA MLB 2020"></a>

      </div>
    </div>
  </div>
  </div>

<!-- Button trigger modal -->

<!-- Modal -->
<!-- <div data-backdrop="static" data-keyboard="false" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Infografía</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div >
          <img class="img-modal-body" src="{{selectedImg}}" alt="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
      </div>
    </div>
  </div>
</div> -->
