.container_title_infographics {
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 2px 8px black;
  text-shadow: 2px 2px 8px #111;
  width: fit-content;
  padding: 0 .5rem .3rem;
  border-radius: 6px;
  font-size: 2em;

}

.title_infographics {
  color: antiquewhite;
  width: fit-content;
  font-size: .75em;
  text-align: center;
}


.container_infographics {
display: grid;
grid-template-columns: 1fr;
/* grid-template-rows: 1fr; */
grid-template-rows: repeat(3 1fr) ;
/* grid-template-rows: repeat(14 1fr) ; */
grid-row-gap: 0.1rem;
width: 95%;
margin: 0 auto;
text-align: center;

}

.img1 {
grid-column: 1/2;
grid-row: 1/2;
}
.img2 {
grid-column: 1/2;
grid-row: 2/3;
}
.img3 {
grid-column: 1/2;
grid-row: 3/4;
}
.img4 {
grid-column: 1/2;
grid-row: 4/5;
}
.img5 {
grid-column: 1/2;
grid-row: 5/6;
}
.img6 {
grid-column: 1/2;
grid-row: 6/7;
}
.img7 {
grid-column: 1/2;
grid-row: 7/8;
}
.img8 {
grid-column: 1/2;
grid-row: 8/9;
}
.img9 {
grid-column: 1/2;
grid-row: 9/10;
}
.img10 {
grid-column: 1/2;
grid-row: 10/11;
}
.img11 {
grid-column: 1/2;
grid-row: 11/12;
}
.img12 {
grid-column: 1/2;
grid-row: 12/13;
}
.img13 {
grid-column: 1/2;
grid-row: 13/14;
}
.img14 {
grid-column: 1/2;
grid-row: 14/15;
}

.image_click {
width: 100%;
/* padding: 1rem 0; */
margin: 0;
}
.img-modal-body {
width: 100%;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.63);
}
.close {
  color: white;
}

.image_click, .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10 {
  /* cursor: pointer; */
}

.infograf2 {
margin-top: 1.5rem;

}

.img4 {
padding: 0 0;

}



@media only screen and (min-width:1023px )  {

  .container_title_infographics {
      margin: 0 auto;
      width: fit-content;
      padding: 0 .5rem .3rem;
      border-radius: 6px;
      font-size: 2em;
      }

.title_infographics {
  color: antiquewhite;
  margin: 0 auto;
  font-size: 1.25em;
  padding: 0 .5rem;
  width: fit-content ;

}
.container_infographics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.1rem;
  width: 75%;
  margin: 0 auto;

  }

  .img1 {
  grid-column: 1/2;
  grid-row: 1/2;
  }
  .img2 {
  grid-column: 2/3;
  grid-row: 1/2;
  }
  .img3 {
  grid-column: 3/4;
  grid-row: 1/2;
  }
  .img4 {
  grid-column: 1/2;
  grid-row: 2/3;
  }
  .img5 {
  grid-column: 2/3;
  grid-row: 2/3;
  }
  .img6 {
  grid-column: 3/4;
  grid-row: 2/3;
  }
  .img7 {
  grid-column: 1/2;
  grid-row: 3/4;
  }
  .img8 {
  grid-column: 2/3;
  grid-row: 3/4;
  }
  .img9 {
  grid-column: 3/4;
  grid-row: 3/4;
  }
  .img10 {
  grid-column: 1/2;
  grid-row: 4/5;
  }
  .img11 {
  grid-column: 2/3;
  grid-row: 4/5;
  }
  .img12 {
  grid-column: 3/4;
  grid-row: 4/5;
  }
  .img13 {
  grid-column: 1/2;
  grid-row: 5/6;
  }
  .img14 {
  grid-column: 2/3;
  grid-row: 5/6;
  }


}
