<div class="container_title_podCast">
  <h1 class="title_podCast">Talk Beisbol</h1>
</div>
<div class="container_podCast">
  <div class="container_logo">
  <div class="logo ">

    <img class="embed-responsive-item-logo" src="../../../assets/TalkBeisbollogo200.jpg" alt="Oscar Prieto Rojas">
  <!-- </div> -->
  <!-- <div class="container_podCast_logo"> -->
    <p class="p_logo">Oscar Prieto Rojas y Efraín Zavarce realizan una serie de
       conversaciones sobre la actualidad del béisbol de Grandes Ligas</p>
  </div>
</div>
<div class="vl"></div>
<div class="container_photo1">
  <div class="photo1 container_comun">

    <img class="embed-responsive-item-photo1 " src="../../../assets/OscarPRojas200.png" alt="Oscar Prieto Rojas">
    <p class="p_item_photo1">Oscar Prieto Rojas</p>
  <!-- </div>
  <div class="container_podCast_base1 container_comun "> -->
      <p class="p_logo">Periodista venezolano dedicado a la cobertura del beisbol. 
        Trabaja en IVC y Unión Radio.</p>
    </div>
  
  <div class="photo2 container_comun">

    <img class="embed-responsive-item-photo2 " src="../../../assets/ESavarce200.png" alt="Efrain Savarce">
    <p class="p_item_photo1">Efraín Zavarce</p>
  <!-- </div>
  <div class="container_podCast_base2 container_comun embed_comun"> -->
    <p class="p_logo">Analista de Béisbol, Narrador Deportivo. Amante de la Música. 
      Scout de Béisbol Certificado. Entrenamiento Scout MLB '10.</p>
  </div>
</div>

<p class="line_break"> </p>