.container_title_podCast {
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    /* background-color: rgba(0, 0, 0, .5); */
    text-shadow: 2px 2px 8px #111;
    width:fit-content;
    padding: 0 1rem;
    border-radius: 6px;
    }
    
    
    .title_podCast {
        color: antiquewhite;
        font-size: 3em;
    }
    .embed-responsive-item {
        border-radius: 30px;
        margin: 0 2%;
        width: 95%;
        height: 21%;
    }