<div class="container_title_podCast">
  <h1 class="title_video">Talk Beisbol</h1>
  </div>
  <div class="container_podCast">
  <div class="embed-responsive1">
  
    <img class="embed-responsive-item" src="../../../assets/FondoPodCast.png"  alt="Fondo Verde" >
    </div>
  <div class="photo1 ">
  
    <img class="embed-responsive-item-photo1" src="../../../assets/OscarPRojasB&W.png"  alt="Oscar Prieto Rojas" >
    </div>
  <div class="photo2 ">
  
    <img class="embed-responsive-item-photo2" src="../../../assets/ESavarceB&W.png"  alt="Efrain Savarce" >
    </div>
  </div>
  
  
  <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video1()>
    <h3 class="title_video_ppal">Yankees triunfan detrás de dos jonrones de Torres.<span class="link_out"> Video en mlb.</span></h3>
  </a>
  
  
  <p class="line_break"> </p>