<div class="container_title_podCast">
  <h1 class="title_podCast">Talk Beisbol</h1>
</div>
<div class="container_podCast">
  <div class="logo ">
    <img class="img-logo" src="../../../assets/PODCASTS 1920.jpg" alt="Oscar Prieto Rojas  ">
  </div>
</div>

<p class="line_break"> </p>

<div class="container_infographics">

  <div *ngFor="let img of imgs; let i = index">
    <div class="img1" data-toggle="modal" data-target="#exampleModal">
      <div class="{{img.number}}">
        <a data-toggle="modal" data-target="#exampleModal"> <img (click)=PodCast(i+1) class=" image_click " src="{{img.url}}"
            alt="Infographic Venezuelans in MLB 2018 by Team"></a>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se esta dirigiendo a un Link externo a vinotintosMLB.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
        <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
      </div>
    </div>
  </div>
</div>
