<div class="container_news">
  <div class="header_card">
    <p class="title"> Nosotros</p>
  </div>
  <div class="nosotros_ppal">
    <div class="texto_ppal">
      <p>Somos un grupo de fanáticos del beisbol de Grandes Ligas, quienes deseamos dar a conocer no solo
        a los grandes jugadores Vinotintos, sino que queremos que cada venezolano interesado en el deporte
        más popular en nuestro país, pueda identificar y hacer seguimiento de todos y cada uno de los héroes
        que se encuentran activos en la MLB. Cada noticia, cada estadística es tratada con la misma importancia
        que merece cada uno de nuestros <a class="twitter-timeline" href="https://twitter.com/VinotintosMLB?ref_src=twsrc%5Etfw" target="_blank">VinotintosMLB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" ></script>, por lo que aquí encontrarán diversas áreas de interés
        como: Las Noticias tan pronto ocurran, las estadísticas diarias de cada jugador, así como un listado
        de a que Equipos pertenecen, la Posición principal que juegan, e inclusive una breve Biografía.</p>


    </div>
    <div class="img_ppal">
      <img class="img_ppal1" src="../../../assets/IMAGEN NOSOTROS WEB VINOTINTOS.jpg" alt="">
    </div>

    <div class="text_ppal2">
      <hr class="inter_linea">
        <p><span class="span_txt"> Nuestra Filosofía:</span> "Cada uno de nuestro compatriotas en Grandes Ligas
          debe ser conocido y reconocido por los fanáticos venezolanos, no importando donde nos encontremos".</p>

        <p><span class="span_txt"> Nuestra Misión:</span> "Tratar cada día con respeto y admiración a nuestros jugadores
          Vinotintos y a los miles de fans que disfrutamos con sus actuaciones". </p>

    </div>
  </div>
</div>

