<div class="container_seleccion">

    <div class="title_page">
        <h1 class="subtitle_fantasy">MODULO DE ASIGNACION DE JUGADORES</h1>
      </div>

      <!-- SELECT DE TIPO DE LIGA-->
      <div class="seleccion_liga">
          <h3 class="subtitulo_seleccion_liga">Selecciona el tipo de Liga</h3>
        </div>


      <select [ngModel]="tipoDeCampeonatoSeleccionado" (ngModelChange)="muestraTipodeLiga($event)">
      <!-- <select [(ngModel)]="tipoDeCampeonatoSeleccionado"   > -->
          <option [disabled]="" [selected]="" [value]="null">Tipo de Liga</option>

          <option *ngFor="let tipo of tipoLigas" [value]="tipo.esPaga" >
            {{tipo.display}}
          </option>
      </select>
<div> Seleccionado {{tipoDeCampeonatoSeleccionado}}</div>
      <hr>

      <!-- SELECT DE NOMBRE DE LIGA-->
      <div class="seleccion_liga">
          <h3 class="subtitulo_seleccion_liga">Seleccione el nombre de  la Liga</h3>
        </div>


      <select [(ngModel)]="tipoDeLigaSeleccionado" >
          <option [disabled]="true" [selected]="true" [value]="null">Nombre de la Liga</option>

          <option *ngFor="let liga of ligasFiltradas" [value]="liga">
            {{liga.nombre}}
          </option>
      </select>
      <hr>



</div>
