<div class="container_seleccion">

  <div class="title_page">
    <h1 class="subtitle_fantasy">MODULO DE ASIGNACION DE JUGADORES</h1>
  </div>

  <!-- AREA DE SELECCIONES -->

  <div class="areaSelecciones">

    <!-- SELECT DE TIPO DE LIGA-->

    <div class="areaSeleccionLiga_1">
      <label class="seleccionLiga" for="Campeonato">Selecciona el tipo de Liga</label>
      <select id="Campeonato" [(ngModel)]="tipoDeCampeonatoSeleccionado" (ngModelChange)="filtrarLigasPorTipo($event)"
        autofocus>
        <option [disabled]="" [selected]="true" [value]="" disabled>Tipo de Liga</option>

        <option *ngFor="let tipo of tipoLigas" [value]="tipo.esPaga">
          {{tipo.display}}
        </option>
      </select>
      <hr>
    </div>

    <div class="areaSeleccionLiga_2">

      <ng-container *ngIf="tipoDeCampeonatoSeleccionado">

        <!-- SELECT DE NOMBRE DE LIGA-->

        <label class="seleccionLiga" for="Liga">Seleccione el nombre de la Liga</label>

        <select id="Liga" [(ngModel)]="ligaSeleccionada" (ngModelChange)="filtrarEquipos($event)">
          <option [disabled]="" [selected]="true" disabled>Nombre de la Liga</option>
          <!-- <option [disabled]="true" [selected]="true" [value]="null">Nombre de la Liga</option> -->

          <option *ngFor="let liga of ligasFiltradas" [ngValue]="liga" [disabled]="">
            {{liga.nombre}}
          </option>
        </select>
        <hr>
      </ng-container>
    </div>

    <div class="areaSeleccionLiga_3">

      <!-- SELECT DE NOMBRE DE EQUIPO-->

      <ng-container *ngIf="ligaSeleccionada">

        <label class="seleccionEquipo" for="Equipo">Seleccione el nombre del Equipo</label>

        <select id="Equipo" [(ngModel)]="equipoSeleccionado" (ngModelChange)="seleccionarEquipo($event)">
          <option [disabled]="" [selected]="true" disabled>Nombre del Equipo</option>

          <option *ngFor="let equipo of ligaSeleccionada.equipos" [value]="equipo">
            {{equipo.nombre}}
          </option>
        </select>
        <hr>
      </ng-container>
    </div>
    <!-- <h4 *ngIf="ligaSeleccionada">{{equipoSeleccionado}}</h4> -->
  </div>
</div>


<!-- Para usar en el area de PLAYERS -->

<div class="container-jugadores" [style.display]="!(selectedPlayers.length > 19) ? 'grid' : 'block'">
  <div [style.display]="!(selectedPlayers.length > 19) ? 'grid' : 'none'">
    <div *ngIf="mostrarJugadores" class="container-izquierdo-grid">

      <div class="container-actives">
        <h1 class="bioActives-title">Selección de Jugadores</h1>
        <p class="title-position"> Fantasy 2020 </p>

        <!--LOADER -->
        <div *ngIf="!allItems">
          <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
          <p class="spiner_load">CARGANDO</p>
        </div>

        <div *ngIf="allItems">
          <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..."
            class="advancedSearchTextbox">
          <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
            <h4 class="error_message"> <strong>'{{searchText}}'</strong> El Jugador no existe. Solo busque por nombre,
              sobrenombre y
              equipo</h4>
          </div>

          <ng-container *ngIf="!(pager.allItems === 0)">

            <div class="container-actives_cards ">
              <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex) && selectedPlayers.length < 20">

                <ng-container
                  *ngFor="let player of allItems| pagination:pager.startIndex:pager.pageSize; let i = index">

                  <div class="card card1 img_picture_box" style="width: 95%;">
                    <a routerLink="/playerinfo/{{player.id}}"><img class="card-img-top img_picture_element"
                        appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg"
                        alt="Jugador de Grandes Ligas"></a>
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">{{player.fullName}}</h5>
                      <h5 class="card-title1">{{player.primaryPosition.name}}</h5>
                      <h5 class="card-title1">{{player.birthCountry}}</h5>
                      <h5 class="card-title1">{{player.stats[0].splits[0].team.name}}</h5>
                      <button class="btn btn-secondary" (click)="addPlayer(player.id)">Agregar</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="pager.allItems-1 === pager.endIndex && selectedPlayers.length < 20">
                <div class="card card1"
                  *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*8); let i = index">
                  <h1>{{i}}</h1>
                  <a routerLink="/playerinfo/{{player.id}}"><img class="card-img-top" appImgFallback
                      src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg"
                      alt="Jugador de Grandes Ligas"></a>
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">{{player.fullName}}</h5>
                    <h5 class="card-title1">{{player.primaryPosition.name}}</h5>
                    <h5 class="card-title1">{{player.birthCountry}}</h5>
                    <h5 class="card-title1">{{player.stats[0].splits[0].team.name}}</h5>
                    <button class="btn btn-secondary" (click)="addPlayer(player.id)">Agregar</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="container paginator">
              <div class="text-center">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
                    <a (click)="setPage(1)" class="page-link paginator_text">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
                    <a (click)="setPage(pager.currentPage - 1)" class="page-link paginator_text">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                    class="page-item">
                    <a (click)="setPage(page)" class="page-link">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
                    <a (click)="setPage(pager.currentPage + 1)" class="page-link paginator_text">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
                    <a (click)="setPage(pager.totalPages)" class="page-link paginator_text">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <!-- Area de Jugadores Seleccionados -->
  <div [style.display]="!(selectedPlayers.length > 19) ? 'grid' : 'block'">
    <div *ngIf="mostrarJugadores" class="container-derecho-grid">
      <!-- <div *ngIf="(selectedPlayers.length > 19)" [ngStyle]="{'background-color': 'yellow' }" > -->
      <div class="container-actives">
        <h1 class="bioActives-title">Jugadores Seleccionados</h1>
        <p class="title-position2"> {{equipoSeleccionado}} </p>


        <!--LOADER -->
        <div *ngIf="!allItems">
          <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
          <p class="spiner_load">CARGANDO</p>
        </div>

        <div *ngIf="allItems">
          <!-- <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..."
          class="advancedSearchTextbox">
        <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
          <h4 class="error_message"> <strong>'{{searchText}}'</strong> El Jugador no existe. Solo busque por nombre,
            sobrenombre y
            equipo</h4>
        </div> -->

          <ng-container *ngIf="!(pager.allItems === 0)">

            <div class="container-actives-cards-selected ">
              <div class="card card1 img_picture_box" style="width: 95%;"
                *ngFor="let player of selectedPlayers, let i = index">
                <a routerLink="/playerinfo/{{player.id}}"><img class="card-img-top img_picture_element" appImgFallback
                    src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg"
                    alt="Jugador de Grandes Ligas"></a>
                <hr>

                <div class="card-body card-body-selected">
                  <h5 class="card-title">{{player.fullName}}</h5>
                  <h5 class="card-title">{{player.primaryPosition.name}}</h5>
                  <!-- <h5 class="card-title">{{i+1}}</h5>
                <h5 class="card-title">{{selectedPlayers.length}}</h5> -->
                </div>
              </div>

            </div>

          </ng-container>

        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

</div>
<hr *ngIf="(selectedPlayers.length > 19)">
<div *ngIf="selectedPlayers.length == 20" class="guardar-datos">
  <button type="button" class=" btn-primary " >Guardar en Base de Datos</button>
</div>
<hr *ngIf="(selectedPlayers.length > 19)">





