<div class="container-daily">
  <h1 class="daily-title">ACTUACION DIARIA</h1>
</div>

<p class="title-position"> 15 Septiembre 2.018 </p>

<table class="table table-hover">
    <thead class="table-header" >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Vb</th>
        <th scope="col">CA</th>
        <th scope="col">Hits</th>
        <th scope="col">BB</th>
        <th scope="col">Strks</th>
        <th scope="col">Hr</th>
        <th scope="col">CI</th>
      </tr>
    </thead>
    <tbody class="title-rows" >
      <tr>
        <th scope="row">Ronald Acuña</th>
        <td>Bravos de Atlanta </td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">Ender Inciarte</th>
        <td>Bravos de Atlanta</td>
        <td>5</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">Gerardo Parra</th>
        <td>Rockies de Colorado </td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>3</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">Gleyber TOrres</th>
        <td>Yankees de New York</td>
        <td>4</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>