/* -- Home Inicial -- */
.titulo_ppal {
    margin-top: 2%;
    display: grid;
    grid-template-columns: (1fr 1fr 1fr);
    grid-column-gap: 5px;
}
.image_titulo1 {
    align-self: center;
    margin-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 85%;
}
.image_titulo2 {
    align-self: center;
    margin-right: 10%;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 85%;

}

.tituloPW {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    /* color: rgb(40, 40, 40); */
    color: antiquewhite;
    font-size: 1.75rem;
    /* text-shadow: 2px 2px 18px black; */
    margin: 5% 0;
    text-align: center; 
}

@media only screen and (orientation : landscape) and (min-width:501px ) and (max-width: 900px) {
    
    .tituloPW {
        font-size: 2.75rem;
        margin: 5% 0;
        text-align: center; 
    }
    
}
@media only screen and (min-width:768px ) and (max-width: 900px) {
    .tituloPW {
        font-size: 1.75rem;
        margin: 5% 0;
        text-align: center; 
    }
    .image_titulo1 {
        justify-self: center;
        align-self: center;
        margin-left: 10%;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 55%;
    }
    .image_titulo2 {
        justify-self: center;
        align-self: center;
        margin-right: 10%;
        grid-column: 3/4;
        grid-row: 1/2;
        width: 55%;
    
    }
    
}
@media only screen and (min-width:901px ) and (max-width: 1439px) {
    .tituloPW {
        font-size: 3rem;
        margin: 5% 0;
        text-align: center; 
    }
    .image_titulo1 {
        justify-self: center;
        align-self: center;
        margin-left: 10%;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 55%;
    }
    .image_titulo2 {
        justify-self: center;
        align-self: center;
        margin-right: 10%;
        grid-column: 3/4;
        grid-row: 1/2;
        width: 55%;
    
    }
    
}
@media only screen and (min-width:1440px ) and (max-width: 2500px) {
    .tituloPW {
        font-size: 3.75rem;
        margin: 5% 0;
        text-align: center; 
    }
    .image_titulo1 {
        justify-self: center;
        align-self: center;
        margin-left: 10%;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 35%;
    }
    .image_titulo2 {
        justify-self: center;
        align-self: center;
        margin-right: 10%;
        grid-column: 3/4;
        grid-row: 1/2;
        width: 35%;
    
    }
    
}
@media only screen and (min-width:2501px ) and (max-width: 3500px) {
    .tituloPW {
        font-size: 6.75rem;
        margin: 5% 0;
        text-align: center; 
    }
    .image_titulo1 {
        justify-self: center;
        align-self: center;
        margin-left: 10%;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 35%;
    }
    .image_titulo2 {
        justify-self: center;
        align-self: center;
        margin-right: 10%;
        grid-column: 3/4;
        grid-row: 1/2;
        width: 35%;
    
    }
    
}

