<div class="container-byPosition">
  <h1 class="byPosition-title">JUGADORES POR POSICION</h1>
</div>
<p class="title-position"> OUTFIELDERS </p>

<table class="table table-hover ">
    <thead class="table-header" >
      <tr  >
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Vb</th>
        <th scope="col">Avg</th>
        <th scope="col">Hits</th>
        <th scope="col">BB</th>
        <th scope="col">Strks</th>
        <th scope="col">Hr</th>
      </tr>
    </thead>
    <tbody class="title-rows" >
      <tr class="row-color" >
        <th scope="row"><a class="player-name"  href=""> Ronald Acuña</a></th>
        <td>Bravos de Atlanta </td>
        <td>427</td>
        <td>297</td>
        <td>142</td>
        <td>75</td>
        <td>45</td>
        <td>25</td>
      </tr>
      <tr class="row-color1">
        <th scope="row"><a class="player-name"  href="">Ender Inciarte</a></th>
        <td>Bravos de Atlanta</td>
        <td>557</td>
        <td>242</td>
        <td>133</td>
        <td>38</td>
        <td>56</td>
        <td>15</td>
      </tr>
      <tr class="row-color">
        <th scope="row"><a class="player-name"  href="">Gerardo Parra</a></th>
        <td>Rockies de Colorado</td>
        <td>537</td>
        <td>283</td>
        <td>175</td>
        <td>68</td>
        <td>84</td>
        <td>19</td>
      </tr>
    </tbody>
  </table>