<div class="container-byPosition">
  <h1 class="byPosition-title"> {{ positionTitle }} </h1>
  <h3 class="byPosition-season-title">Temporada Regular</h3>
  <!-- <h3 class="byPosition-season-title" *ngIf="position">{{position}}</h3> -->



</div>

<!-- LOADER -->
<div *ngIf="!allItems">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div>


<div class="container-position" *ngIf='!position'>
    <!-- <img class="bbalfield" src="../../../../assets/bbalF.png" alt=""> -->
    <!-- <div class="button catcher"> <button >C</button> </div> -->
    <div class="espacio_superior"></div>
    <div class="espacio_superior2"></div>
    <button class="button1 catcher" (click)="onSearchChange('catcher')">C</button>
    <!-- <button class="button1 pitcher"(click)="onSearchChange('pitcher')">P</button> -->
    <button class="button1 prim_B"(click)="onSearchChange('1b')">1B</button>
    <button class="button1 ss"(click)="onSearchChange('ss')">SS</button>
    <button class="button1 segunda_B"(click)="onSearchChange('2b')">2B</button>
    <button class="button1 tercera_B"(click)="onSearchChange('3b')">3B</button>
    <button class="button1 rf"(click)="onSearchChange('rf')">RF</button>
    <button class="button1 cf"(click)="onSearchChange('cf')">CF</button>
    <button class="button1 lf"(click)="onSearchChange('lf')">LF</button>
    <div class="espacio_inferior"></div>
</div>
<div class="container-position-results" *ngIf="position">
  <ng-container *ngIf="!(pager.allItems === 0)">

    <div class="container-actives_cards ">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <div class="card card1 img_picture_box" style="width: 95%;" *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
            <a routerLink="/playerinfo/{{player.id}}"><img class="card-img-top img_picture_element" src="../../../../assets/{{player.id}}.jpg" alt="Jugador de Grandes Ligas"></a>
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}}</h5>

          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
        <div class="card card1" *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*7)">
            <a routerLink="/playerinfo/{{player.id}}"><img class="card-img-top" src="../../../../assets/{{player.id}}.jpg" alt="Jugador de Grandes Ligas"></a>
          <div class="card-body">
              <h5 class="card-title">{{player.fullName}}</h5>

          </div>
               </div>
      </ng-container>
    </div>
    <div class="container paginator">
      <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li *ngIf = "pager.currentPage !== 1"  [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link paginator_text">First</a>
          </li>
          <li *ngIf = "pager.currentPage !== 1" [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link paginator_text">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li  *ngIf = "pager.currentPage !== pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link paginator_text">Next</a>
          </li>
          <li *ngIf = "pager.currentPage !== pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link paginator_text">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="boton">
        <a (click)="back_one_page()"><button class="button btn-primary">Volver a la página anterior</button></a>
        <div class="bottom_space"></div>
      </div>

  </ng-container></div>