<header>
    <div class="title">
      <h1 class="title_h1" >EDICION DE DATOS DE LOS MANAGERS</h1>
    </div>
  </header>
  <div class="title_page">
    <p>Revise los datos</p>
  </div>
  <!-- <div class="row">
    <div class="col-ms-6 col-md-4 col-lg-6   mx-auto"> -->
  <div class="card" *ngIf="!isLoading">
    <div class="card-body">
      <form [formGroup]='profileForm' (ngSubmit)="onSubmit(profileForm)">
        <div class="form-group">
          <div>
            <div class="form-group">
              <input type="text" formControlName="name" class="form-control" placeholder="Nombre">
              <div class="alert" *ngIf="!profileForm.controls['name'].valid && profileForm.controls['name'].touched">
                Colocar su Nombre</div>
            </div>

            <div class="form-group">
              <input type="text" formControlName="lastname" class="form-control" placeholder="Apellido">
              <div class="alert"
                *ngIf="!profileForm.controls['lastname'].valid && profileForm.controls['lastname'].touched">Colocar su
                Apellido</div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="instagram" class="form-control" placeholder="Nombre Usuario Instagram">
              <div class="alert"
                *ngIf="!profileForm.controls['instagram'].valid && profileForm.controls['instagram'].touched">
                ¿Nombre de Usuario Instagram?</div>
            </div>
            <hr>

            <p>Fecha N.</p>
            <div class="form-group  form-group_select">
              <input type="date" formControlName="birthDate" id="date" class="form-control form_age"
                placeholder="Fecha de Nacimiento: ">
              <select class="form_text" style="height:3rem;" type="text" formControlName="gender">
                <option [disabled]="true" [selected]="true" [value]="null">Género</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="alert"
              *ngIf="(!profileForm.controls['gender'].valid && profileForm.controls['gender'].touched) || (!profileForm.controls['birthDate'].valid && profileForm.controls['birthDate'].touched) ">
              <div>
                {{!profileForm.controls['birthDate'].valid && profileForm.controls['birthDate'].touched ? 'Colocar su
                  Fecha de Nacimiento' : '' }}
              </div>
              <hr *ngIf="!profileForm.controls['gender'].valid && profileForm.controls['gender'].touched && !profileForm.controls['birthDate'].valid && profileForm.controls['birthDate'].touched">
              <div>
                {{ !profileForm.controls['gender'].valid && profileForm.controls['gender'].touched ? 'Colocar su Género' : '' }}
              </div>
            </div>

            <div class="form-group">
              <input type="text" formControlName="country" class="form-control" placeholder="País donde vive">
              <div class="alert"
                *ngIf="!profileForm.controls['country'].valid && profileForm.controls['country'].touched">Colocar su País
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="city" class="form-control" placeholder="Ciudad donde vive">
              <div class="alert" *ngIf="!profileForm.controls['city'].valid && profileForm.controls['city'].touched">
                Colocar su Ciudad</div>
            </div>
            <div class="form-group">
              <!-- <p class="questions">Nombre de su Equipo</p> -->
              <input type="text" formControlName="team" class="form-control " placeholder="Equipo">
              <div class="alert" *ngIf="!profileForm.controls['team'].valid && profileForm.controls['team'].touched">
                Indique su Equipo</div>
            </div>
            <div class="form-group full-select">
              <select class="form_text" style="height:3rem;" type="text" formControlName="isFantasy">
                <option [disabled]="true" [selected]="true" [value]="null">¿Has jugado Liga de Fantasía antes?</option>
                <option [value]="true">Si</option>
                <option [value]="false">No</option>
              </select>
            </div>

            <div class="alert" *ngIf="!profileForm.controls['isFantasy'].valid && profileForm.controls['isFantasy'].touched">
              Indique su respuesta</div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" value="Register" [disabled]="!profileForm.valid">
                <i class="fas fa-plus-circle"></i> Actualice los Datos
              </button>
              <button class="btn btn-secondary" type="reset" (click)="resetForm(profileForm)">
                <i class="fas fa-sync-alt"></i> Resetear
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- </div>
  </div> -->
