<div class="container_title_video">
<h1 class="title_video">Video de la Semana</h1>
</div>
<div class="container_video">
<div class="embed-responsive embed-responsive-16by9">
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video1()>

  <img class="embed-responsive-item" src="../../../assets/CHACINJONRON2019.JPG" alt="J Chacin Homerun" >
</a>
  </div>
</div>


<a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video1()>
  <h3 class="title_video_ppal"> Jhoulys Chacín, Hombre Record de Milwakee. <span class="link_out"> Video en MLB.com</span></h3>
</a>


<p class="line_break"> </p>

<div class="container_videos">
  <div class=" videoa embed-responsive embed-responsive-16by9">
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>

      <img class=" embed-responsive-item" src="../../../assets/1reJonronAcuna2019.JPG" alt="R.Acuña">
    </a>

  </div>
  <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
      <h3 class="title_video_secondary1"> Primer jonrón de Ronald Acuña Jr. en 2019 <span class="link_out">Video en MLB.com</span></h3>
    </a>

  <div class="videob embed-responsive embed-responsive-16by9">
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>

      <img class=" embed-responsive-item" src="../../../assets/JonronAltuve.jpg" alt="José Altuve">
    </a>
  </div>
  <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
      <h3 class="title_video_secondary1"> Altuve batea su primer jonrón del 2019. <span class="link_out"> Video en LASMAYORES.com</span></h3>
    </a>

  <div class="videoc embed-responsive embed-responsive-16by9">
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>

      <img class=" embed-responsive-item" src="../../../assets/JonronPeraza.JPG" alt="Peraza Cincinati">
    </a>
  </div>
  <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
      <h3 class="title_video_secondary1"> Peraza empata el juego con Jonrón. <span class="link_out"> Video en LASMAYORES.com</span></h3>
    </a>

</div>
<p class="line_break"> </p>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se esta dirigiendo a un Link externo a vinotintosMLB.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
        <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
      </div>
    </div>
  </div>
</div>
