 /* CSS ORIGINAL */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title_trivia {
    background-color: rgba(0, 0, 0, .5);
    width: 12rem;
    margin: 0 auto;
    border-radius: 6px;

}

header div  h1 {
    font-size: 1.50em;
    font-weight: 700;
    text-shadow: 2px 2px 8px #111;
    color: antiquewhite;
    text-align: center;
    line-height: 1.25em;

}

.players_pic {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    padding: 0 10%;
    border-radius: 6px;
}

.img_picture_element{
    transition: .4s;
}

.img_picture_box:hover .img_picture_element{
    transform: scale(1.075);
    opacity: .98;
}

main div div div img {
    width: 8em;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #111;
}
.img_pic_7, .img_pic_8 {
    display: none;
}
.text_7, .text_8 {
    display: none;
}

.text_11 {
    width: 8em;
    line-height: 1em;
    margin: 1rem 0 1.5rem;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 8px #111;
    text-justify: distribute-all-lines;
    text-align: center;
    cursor: pointer;

}

.text_12 {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(0, 0, 0) !important;
    /* text-shadow: 2px 2px 4px rgb(255, 255, 255); */
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    margin: 1rem 0 1.5rem;
    background-color: rgba(255, 255, 255,0.75);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.form_container {
    background-color: rgba(250, 250, 250, .5);
    padding: .5rem;
   }
.submit {
    margin: .5rem;
    border-radius: 6px;
} 

.boton {
    display: table;
    height: 2.2em;
    margin: 2% auto 10%;
}
.btn {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.75em;

}
.final_text {
    display: table;
    width: 100%;
    height: max-content;
    background-color: #fff;
    padding: 0.75em;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}
.txt_final {
    display: table-cell;
    vertical-align: middle;

}
footer {
    margin: 0;
}

.respuesta {
    margin: .5rem;
    color: antiquewhite;
}

@media only screen and (min-width:320px ) and (max-width: 331px)  {
.players_pic {
    padding: 0 5%;
    }
}

@media only screen and (min-width:631px ) and (max-width: 900px) and (orientation: landscape) {

    .title_trivia {
        width: 12rem;
    
    }
    
    header div  h1 {
        font-size: 1.75em;
   
    }
    
    .players_pic {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10%;
        padding: 0 15%;
    }
    .img_pic_8 {
        display: none;
    }
    .text_8 {
        display: none;
    }
    
    

}
@media only screen and (min-width:500px ) and (max-width: 915px)  {
    .title_trivia {
        width: 12rem;
    
    }
    
    header div  h1 {
        font-size: 1.75em;
   
    }
    
    .players_pic {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10%;
        padding: 0 25%;
    }

    .img_pic_8 {
        display: none;
    }
    .text_8 {
        display: none;
    }

}

@media only screen and (min-width:916px ) and (max-width: 1024px)  {
.title_trivia {
    width: 16rem;
    }
header div  h1 {
    font-size: 2.5em;
    }
.players_pic {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 6%;
    padding: 0 15%;
    /* margin-left: 5%; */
    border-radius: 6px;
        }

.img_pic_5, .img_pic_6, .img_pic_7, .img_pic_8 {
    display: block;
    }
.text_5, .text_6,.text_7, .text_8 {
    display: block;
    }
.text_11 {
    width: 100%;
    font-size: 1.3em;
    text-justify: distribute-all-lines;
    }
.text_12 {
    width: 100%;
    font-size: 1.6em;
    }
}
@media only screen and (min-width:1025px ) and (max-width: 1439px)  {
    .title_trivia {
        width: 16rem;
        }
   
    header div  h1 {
    font-size: 2.75em;
    }
.players_pic {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 6%;
    padding: 0 8%;
        }
main div div div img {
    width: 100%;
    }
.img_pic_5, .img_pic_6, .img_pic_7, .img_pic_8 {
    display: block;
    }
.text_5, .text_6,.text_7, .text_8 {
    display: block;
    }
.text_11 {
    width: 100%;
    font-size: 1.6em;
    }

}
@media only screen and (min-width:1440px ) and (max-width: 1920px)  {
    .title_trivia {
        background-color: rgba(0, 0, 0, .5);
        width: 16rem;
        border-radius: 6px;
        margin: 0 auto;
   }

   header div  h1 {
    font-size: 3em;

    }

.players_pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 6%;
    padding: 0 8%;
    margin-top: 3rem;
    border-radius: 6px;
        }

main div div div img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #111;
    }
.img_pic_5, .img_pic_6, .img_pic_7, .img_pic_8 {
    display: block;
    }
.text_5, .text_6,.text_7, .text_8 {
    display: block;
    }

.text_11 {
    font-size: 2em;
    width: 100%;
    line-height: 1.75em;

    }

.text_12 {
    width: 100%;
    line-height: 1.6em;
    font-weight: bold;
    font-size: 1.6em;
    color: rgb(0, 0, 0) !important;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    text-align: center;
    text-justify: distribute-all-lines;
    cursor: pointer;

    }
}

@media only screen and (min-width:1921px ) and (max-width: 3000px)  {
    .title_trivia {
        background-color: rgba(0, 0, 0, .5);
        width: 16rem;
        border-radius: 6px;
        margin: 0 auto;
   }

   header div  h1 {
    font-size: 3em;

    }

.players_pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 6%;
    padding: 0 8%;
    margin-top: 3rem;
    border-radius: 6px;
        }

main div div div img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #111;
    }
.img_pic_5, .img_pic_6, .img_pic_7, .img_pic_8 {
    display: block;
    }
.text_5, .text_6,.text_7, .text_8 {
    display: block;
    }

.text_11 {
    font-size: 2em;
    width: 100%;
    line-height: 1.75em;

    }

.text_12 {
    width: 100%;
    line-height: 1.6em;
    font-weight: bold;
    font-size: 1.6em;
    color: rgb(0, 0, 0) !important;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    text-align: center;
    text-justify: distribute-all-lines;
    cursor: pointer;

    }
}
