<header>
  <div class="title">
    <h1 class="title_h1" style="color:transparent">Temporada 2019</h1>
  </div>
</header>
<!-- <div class="separador"><h1 style="height: 2rem;"></h1></div> -->
<main>
  <div class="players_pic">
    <div *ngFor="let player of players; let i=index">
      <div [ngClass]="'pic_'+ (i+1)">
        <a routerLink="/playerinfo/{{player.code}}">

        <img [ngClass]="'img_pic_'+ (i+1)" (click)='textChange(i)' [src]="'../../../assets/'  + player.code + '.jpg'" alt="Player Image"></a>
      </div>

      <div [ngClass]="'text_'+ (i+1)">
        <div *ngIf="player.activo">
          <p class="text_11" (click)='textChange(i)'>{{player.pregunta}}</p>
        </div>
        <div *ngIf="!player.activo">
          <p class="text_12" (click)='textChange(i)'>{{player.respuesta}}</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="boton">
    <a routerLink="profile"><button class="btn btn-primary">Subscríbase</button></a>
  </div>
  <div class="final_text">
    <p class="txt_final">Muy pronto tendrás acceso a todos los venezolanos activos en las Grandes Ligas,
      de una forma cómoda, diaria, sin tener que buscar y buscar estadísticas durante horas.
      Podrás conocer de forma inmediata la posición, el equipo, el nombre, el apodo e inclusive la cara de todos los
      Vinotintos en MLB.</p>
  </div>

</footer>
