<div class="container_title_video">
    <h1 class="title_video">OTRAS NOTICIAS</h1>
    </div>
    <div class="container_video">
    <div class="embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video1()>
    
      <img class="embed-responsive-item" src="../../../../assets/VZLA EN MLB.jpg" alt="Jugadores Venezolanos" >
    </a>
      </div>
    </div>
    
    
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video1()>
      <h3 class="title_video_ppal"> Disftruta las Secciones:<a routerLink="/daily"> DIARIAS, 
      </a> <a routerLink="/actives">ACTIVOS </a>, <a routerLink="/team">EQUIPOS, </a><a routerLink="/position">POSICION, </a><a routerLink="/bioActives">BIOGRAFIA</a> </h3>
    </a>
    
    
    <p class="line_break"> </p>
    
    <div class="container_videos">
      <div class=" videoa embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
    
          <img class=" embed-responsive-item" src="../../../../assets/MIGUELC1.jpg" alt="Miguel Cabrera">
        </a>
    
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
          <h3 class="title_video_secondary1"> Miguel Cabrera se encuentra en una carrera hacia las 1.700 carreras empujadas. <span class="link_out">Ver en MLB.com</span></h3>
        </a>
    
      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
    
          <img class=" embed-responsive-item" src="../../../../assets/AcunaFirma2019.JPG" alt="Ronald Acuña Jr.">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
          <h3 class="title_video_secondary1">Oficial: Acuña firma extensión de US$100 millones. <span class="link_out"> Ver en lasmayores.com</span></h3>
        </a>
    
      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
    
          <img class=" embed-responsive-item" src="../../../../assets/ELIASDIAZREHAB.jpg" alt="Elías Díaz">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
          <h3 class="title_video_secondary1"> Elías Díaz fué enviado a las menores para recuperarse antes de subir a las Grandes Ligas. <span class="link_out"> Ver en cbssports.com</span></h3>
        </a>
    
    </div>
    <p class="line_break"> </p>
    <div class="container_videos">
        <div class=" videoa embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>
      
            <img class=" embed-responsive-item" src="../../../../assets/2jonronesdeGleyber.JPG" alt="Altuve Walk Off">
          </a>
      
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>
            <h3 class="title_video_secondary1">Gleyber Torres empata marca del legendario Yankee, Joe DiMaggio <span class="link_out">Ver en AtBat.com</span></h3>
          </a>
      
        <div class="videob embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>
      
            <img class=" embed-responsive-item" src="../../../../assets/MiguelCabreraHitsRecord.jpg" alt="Miguel Cabrera">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>
            <h3 class="title_video_secondary1">Miguel Cabrera pasó a Luis Aparicio entre los venezolanos con más hits en las Grandes Ligas. <span class="link_out"> Ver en 12up.com</span></h3>
          </a>
      
        <div class="videoc embed-responsive embed-responsive-16by9">
          <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>
      
            <img class=" embed-responsive-item" src="../../../../assets/SENZATELA21.jpg" alt="Antonio Senzatela">
          </a>
        </div>
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>
            <h3 class="title_video_secondary1">Antonio Senzatela, Elías Díaz y José Osuna empiezan en lista de lesionados.<span class="link_out"> Ver en el-nacional.com</span></h3>
          </a>
      
      </div>
      <p class="line_break"> </p>
    
    
    
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Se esta dirigiendo a un Link externo a vinotintosMLB.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
            <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
          </div>
        </div>
      </div>
    </div>
    


















<!-- VIEJA PAG DE NEWS -->


<!-- <div class="container_news_ppal">
  <p class="giraPantalla"> Gira la Pantalla para ver todas las noticias</p>
  <div class="header_card title_page">
    <p> Conoce los Vinotintos en MLB</p>

  </div>
  <div class="container_ppal">
    <div class="div_white_background">
      <div class="grid_ppal">
        <div class="grid_left">


          <div class="grid_left-section1">
            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news1()>
                <p class="span_first_item">Miguel Cabrera se encuentra en una carrera hacia las 1.700 carreras empujadas. <span class="link_out">Ver Lider.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news1()><img src="../../../../assets/MIGUELC1.jpg"
                  alt="Vista de estadium en dia de inauguracion de MLB"></a>
            </div>
          </div>


          <div class="grid_left-section2">

            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news2()>
                <p class="span_first_item">Oficial: Acuña firma extensión de US$100 millones. <span class="link_out"> Lee la noticia en Las Mayores.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news2()><img src="../../../../assets/AcunaFirma2019.JPG"
                  alt="Altuve de regreso a ST 2019"></a>
            </div>

          </div>

          <div class="grid_left-section3">


            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news3()>
                <p class="span_first_item">Elías Díaz fué enviado a las menores para recuperarse antes de subir a las Grandes Ligas. <span class="link_out"> Lee la noticia en cbssports.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news3()><img src="../../../../assets/ELIASDIAZREHAB.jpg"
                  alt="Asdrubal Cabrera en Uniforme de Filis"></a>
            </div>

          </div>
          <div class="grid_left-section4">

            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news4()>
                <p class="span_first_item">Gleyber Torres se convierte en Jugador Record de los Yankees. <span class="link_out"> Lee la noticia en mlb.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right second_item5">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news4()><img src="../../../../assets/2jonronesdeGleyber.JPG"
                  alt="Catcher Keibert Ruiz"></a>
            </div>

          </div>
        </div>
        <div class="grid_right">
          <div class="grid_right-top">
            <img class="grid_right-top-img" src="../../../../assets/VZLA EN MLB.jpg" alt="Varios jugadores venezolanos de la MLB">
            <p class="grid_right-top-p">   Sabes quienes son los jugadores venezolanos en Grandes Ligas
              para el año 2019?, Quieres saber más de ellos?, Te interesa conocer las actuaciones diarias
              de todos y cada uno de ellos?, Cuantas veces se ha lesionado un venezolano y no te enteraste?.</p>
              <p class="grid_right-top-p-2nd"> Haz de esta tu página diaria de consulta en materia de los
                venezolanos activos en Grandes Ligas
                y entérate de que hacen cada día. En el Menú Principal podrás encontrar los Jugadores divididos
                entre Pitchers y Bateadores. Tendrás la opción de ver las actuaciones <a routerLink="/daily"> DIARIAS,
                </a> los jugadores <a routerLink="/actives">ACTIVOS </a>,
                por <a routerLink="/team">EQUIPOS</a>, por <a routerLink="/position">POSICION</a> e inclusive una
                pequeña <a routerLink="/bioActives">BIOGRAFIA</a> de cada una de ellos.
              </p>
          </div>

        </div>
      </div>

    </div>

  </div>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se esta dirigiendo a un Link externo a vinotintosMLB.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
        <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
      </div>
    </div>
  </div>
</div> -->
