<div class="container_news_ppal">
  <div class="header_card title_page">
    <p> Conoce los Vinotintos en MLB</p>
  </div>
  <div class="container_ppal">
    <div class="div_white_background">
      <div class="grid_ppal">
        <div class="grid_left">

          <!-- <div class="grid_left-top">
            <span>Noticias</span>
          </div> -->

          <div class="grid_left-section1">
            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news1()>
                <p class="span_first_item">Cuándo comienza la temporada 2019 de la MLB. <span class="link_out">Ver en DirectvSports</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news1()><img src="../../../../assets/opening day.jpg"
                  alt="baseball News"></a>
            </div>
          </div>


          <div class="grid_left-section2">

            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news2()>
                <p class="span_first_item">D-backs agree to terms with Wilmer Flores on a 1-year contract. <span class="link_out"> Lee la noticia en mlb.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news2()><img src="../../../../assets/wilmerflores.jpg"
                  alt="baseball News"></a>
            </div>

          </div>

          <div class="grid_left-section3">


            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news3()>
                <p class="span_first_item">Aseguran que Asdrúbal Cabrera firmó con Rangers. <span class="link_out"> Lee la noticia en beisbolplay.americadigital.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news3()><img src="../../../../assets/asdrubal cabrera fili.jpg"
                  alt="baseball News"></a>
            </div>

          </div>
          <div class="grid_left-section4">

            <div class="grid_left-section_left">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news4()>
                <p class="span_first_item">Keibert Ruiz tiene los bonos bien altos en los Dodgers como receptor del futuro <span class="link_out"> Lee la noticia en Las Mayores.com</span></p>
              </a>
            </div>

            <div class="grid_left-section_right second_item5">
              <a data-toggle="modal" data-target="#exampleModal" (click)=news4()><img src="../../../../assets/Keibert-Ruiz.jpeg"
                  alt="baseball News"></a>
            </div>

          </div>
        </div>
        <div class="grid_right">
          <div class="grid_right-top">
            <img class="grid_right-top-img" src="../../../../assets/VZLA EN MLB.jpg" alt="">
            <p class="grid_right-top-p">   Sabes quienes son los jugadores venezolanos en Grandes Ligas
              para el año 2018?, Quieres saber más de ellos?, Te interesa conocer las actuaciones diarias
              de todos y cada uno de ellos?, Cuantas veces se ha lesionado un venezolano y no te enteraste?.</p>
              <p class="grid_right-top-p-2nd"> Haz de esta tu página diaria de consulta en materia de los
                venezolanos activos en Grandes Ligas
                y entérate de que hacen cada día. En el Menú Principal podrás encotrar los Jugadores divididos
                entre Pitchers y Bateadores. Tendrás la opción de ver las actuaciones <a routerLink="/daily"> DIARIAS,
                </a> los jugadores <a routerLink="/actives">ACTIVOS </a>,
                por <a routerLink="/team">EQUIPOS</a>, por <a routerLink="/position">POSICION</a> e inclusive una
                pequeña <a routerLink="/bioActives">BIOGRAFIA</a> de cada una de ellos.
              </p>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se esta dirigiendo a un Link externo a vinotintosMLB.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
        <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
      </div>
    </div>
  </div>
</div>
