<div class="container_news_ppal">
  <div class="container_image">

<img class="image_mlb" src="../../../../assets/vzlanosgl20181.jpg" alt="">
  </div>
  <!-- <div class="container_text"> -->
<div class="container_title">
<h3>VENEZOLANOS EN MLB 2019</h3>
<p>¿Sabes quienes son todos los jugadores venezolanos que juegan en Grandes Ligas este año?, ¿Quieres saber más de estos jugadores?,
  ¿Te interesa conocer de las actuaciones diarias de todos y cada uno de ellos?, ¿Cuantas veces se ha lesionado un jugador venezolano
  y no te enteraste?, haz de esta página tu favorita y revisa diariamente como batearon o pitchearon tus venezolanos preferidos.

</p>
</div>
<div class="container_body_text">
<p> Enterate de cuales son sus comentarios a través de las Redes Sociales. Conoce las noticias que se generan de cada uno de ellos
    diariamente. Aqui puedes ver en el Menú Principal a los JUGADORES divididos en BATEADORES y PITCHERS, y en cada uno de estos consigues
  la Actuación <a routerLink='/daily' class="links_jugadores" > DIARIA </a>, los Jugadores Activos por <a routerLink='/team' class="links_jugadores"> EQUIPOS
  </a>, por <a routerLink='/position' class="links_jugadores"> POSICION </a> e inclusive la <a routerLink='/bioActives' class="links_jugadores"> BIOGRAFIA
  </a> de cada uno de ellos.
</p>
</div>
  <!-- </div> -->
</div>


