/* .container_news_ppal{
  width: 100%;
  height: 100%;
  margin-left: 0.5%;
} */

.title_page {
  background-color: rgba(255, 255, 255, 0.8);
  width: 40%;
  height: 3em;
  margin: 0 35% 2%;
  border-radius: 10px;
}

.container_ppal {
  width: 100%;
}

.div_white_background {
  height: 1200px;
  box-shadow: inset 0px 0px 10px 10px #d5c8c1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 95%;
  height: auto;
  min-height: 40vh;
  margin: 0 auto;
  border-radius: 4px;

}

.grid_ppal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;

}

.grid_left {
  margin: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 98%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-column-gap: 10px;

}

.grid_left-top {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 99%;
  height: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin:0 0 1em 0;
}
.grid_left-section1 {
  margin: .5em 0 0;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 99%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-column-gap: 10px;

}

.grid_left-section_left {
  margin: 20px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 99%;
  height: 100%;
  text-align: justify

}
.grid_left-section_right {
  margin: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 15rem !important;
  height: 100%

}
.grid_left-section2 {
  margin: 1em 0;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 99%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-column-gap: 10px;

}


.grid_left-section3 {
  margin: 1em 0;
  grid-column: 1/2;
  grid-row: 6/7;
  width: 99%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-column-gap: 10px;

}


.grid_left-section4 {
  margin: 1em 0;
  grid-column: 1/2;
  grid-row: 8/9;
  width: 99%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-column-gap: 10px;

}


.grid_right {
  margin: 5px;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 98%;
  height: 100%;

  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;

  grid-column-gap: 10px;

}

.grid_right-top {
  margin: 5px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 99%;
  height: 100%
}

.grid_right-top-img {
  border-radius: 4px;
}

.grid_right-top-p {
  font-size: 1.25rem;
  font-weight: 100;
  padding: 1em 0.5em;
  text-align : justify;
}

.grid_right-top-p-2nd {
  font-size: 1.25rem;
  font-weight: 100;
  padding: 1em 0.5em;
  text-align : justify;
}

.link_out {
  color: rgb(64, 142, 214);
  font-weight: 100;
  }

a {
  text-decoration:none;
  color: rgb(64, 142, 214);
  cursor: pointer;
}

p {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  color: rgb(0, 0, 0)
}

img {
  width: 100%;
}

.span_first_item {
  font-size: 1rem;
  font-weight: 100;
  text-align : justify;
}

@media only screen and (min-width: 300px) and (max-width: 420px) {
  .container_news_ppal{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
  }
  .title_page {
    font-size: .65rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 95%;
    height: 3em;
    margin: 0 10px 2%;
    border-radius: 10px;
  }

  .container_ppal {
    margin: 0;
    width: 100%;
  }

  .div_white_background {
    height: 680px;

  }

  .grid_ppal {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;

  }

  .grid_left {
    display: none;
  }

  .grid_right {
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;

    grid-column-gap: 10px;

  }

  .grid_right-top {
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }

  .grid_right-top-img {
    margin: 5px;
    width: 90%;
  }

  .grid_right-top-p {
    display: none;
  }

  .grid_right-top-p-2nd {
    font-size: 1.25rem;
    padding: 1em 0.5em;
  }

}
@media only screen and (orientation: landscape) and (min-width: 500px) and (max-width: 830px) {
  .title_page {
    font-size: .75rem;
    width: 70%;
    height: 3em;
    margin: 0 15% 2%;
    border-radius: 10px;
  }

  .container_ppal {
    width: 100%;
  }

  .div_white_background {
    height: 1200px;
    box-shadow: inset 0px 0px 10px 10px #d5c8c1;
    width: 95%;
    height: auto;
    min-height: 40vh;
    margin: 0 auto;
    border-radius: 4px;

  }

  .grid_ppal {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;

  }

  .grid_left {
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 98%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-column-gap: 4px;
    vertical-align: middle;


  }

  .grid_left-top {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    height: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin:0 0 1em 0;
  }
  .grid_left-section1 {
    margin: .5em 0 0;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 2px;


  }

  .grid_left-section_left {
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    text-align: justify;

  }
  .grid_left-section_right {
    margin: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 13.15em !important;
    height: 100%;

  }
  .grid_left-section2 {
    margin: 1em 0;
    grid-column: 1/2;
    grid-row: 4/5;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 2px;


  }


  .grid_left-section3 {
    margin: 1em 0;
    grid-column: 1/2;
    grid-row: 6/7;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 2px;

  }


  .grid_left-section4 {
    margin: 1em 0;
    grid-column: 1/2;
    grid-row: 8/9;
    width: 99%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 2px;

  }


  .grid_right {
    margin: 1.15rem auto;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 98%;
    height: 100%;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;

    grid-column-gap: 10px;

  }

  .grid_right-top {
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 85%;
    height: 100%
  }

  .grid_right-top-img {
    border-radius: 4px;
  }

  .grid_right-top-p {
    font-size: 1rem;
    font-weight: 100;
    padding: .5em .5em;
    text-align : justify;
  }

  .grid_right-top-p-2nd {
    font-size: 1rem;
    font-weight: 100;
    padding: 0 .5em .5em;
    text-align : justify;
  }

  .link_out {
    color: rgb(64, 142, 214);
    font-weight: 100;
    }

  a {
    text-decoration:none;
    color: rgb(64, 142, 214);
    cursor: pointer;
  }

  p {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    color: rgb(0, 0, 0)
  }

  img {
    width: 100%;
  }

  .span_first_item {
    font-size: .75rem;
    font-weight: 100;
    text-align : justify;
  }
}
@media only screen and (orientation: landscape) and (min-width: 831px) and (max-width: 1366px) {
  .title_page {
    width: 50%;
    margin: 0 25% 2%;
  }

  .grid_left-section4 {
    display: none;

  }

  .grid_left-section_left {
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    text-align: justify;

  }
  .grid_left-section_right {
    margin: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 22em !important;
    height: 100%;

  }
  .grid_right {
    margin-top:2.55rem;
  }

}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .title_page {
    width: 60%;
    margin: 0 20% 2%;
  }
  .grid_left-section_left {
    width: 90%;

  }
  .grid_left-section_right {
    width: 12em !important;

  }
  .grid_right {
    margin-top:2.5rem;
    width: 95%;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title_page {
    width: 60%;
    margin: 0 20% 2%;
  }
  .grid_left-section_left {
    width: 90%;

  }
  .grid_left-section_right {
    width: 18em !important;

  }
  .grid_right {
    margin-top:2.5rem;
    width: 95%;
  }
  .grid_left-section4 {
    display: none;

  }

}
