/* -- Home Inicial -- */

.container_home {
    margin: 25% auto 0;

}

.card-deck{
    margin: 25% auto 0;
    width: 90%;
  }
 

.card-img-top {
    max-height: 95%;

}


.card-text {
    font-size: 0.90em !important;
    text-align: justify;
}

.card-title {
    font-size: 1.25em !important;

} 

@media only screen and (orientation : landscape) and (min-width:501px ) and (max-width: 600px) {
    .container_home {
        margin: 25% 0;
    
    }
    
    .card-deck{
        margin: 40% auto 0;
        width: 90%;
      }
     
    
    .card-img-top {
        max-height: 95%;
    
    }
    
    
    .card-text {
        font-size: 0.90em !important;
        text-align: justify;
    }
    
    .card-title {
        font-size: 1.25em !important;
    
    }  
}
@media only screen and (orientation : landscape) and (min-width:1270px ) and (max-width: 1920px) {
    .container_home {
        margin: 15% 0 ;
    
    }
    
    .card-deck{
        margin: 27% auto 0 !important;
        width: 90%;
      }
     
    
    .card-img-top {
        max-height: 95%;
    
    }
    
    
    .card-text {
        font-size: 0.90em !important;
        text-align: justify;
    }
    
    .card-title {
        font-size: 1.25em !important;
    
    }  
}