<div class="container-home">
<div class="card1-deck">
  <div class=" home_box1">
    <a routerLink="news_ppal"><img class="card-img-top" src="../../../assets/VZLA EN MLB1.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <p class="card-text_izquierdo">Actuación diaria de los venezolanos en MLB. Puedes ver las estadisticas diarias, conocer en que equipo están, etc.<a routerLink="news_ppal"
          class="leer_mas1"> Ver más
        </a>
        <div class="registrar_div" >
          <p><a routerLink="profile" class="leer_mas registrar_link">Registrate para que disfrutes diariamente de las estadísticas y noticias!</a></p>
        </div>
    </div>

  </div>
  <div class="home_box2">
    <div class=" home_card3">
      <a routerLink="bioActives"><img class="card-img-top2" src="../../../assets/BIOGRAFIA.JPG" alt="Card image cap"></a>
      <p class="card1-text">Biografía y Datos de los Vinotintos MLB. Puedes conocer mas detalles de cada uno de los jugadores venezolanos activos. <a routerLink="bioActives" class="leer_mas">
        Ver más </a> </p>
      </div>
    <div class=" home_card5">
      <a routerLink="news"><img class="card-img-top2 card_img_inf_derecha" src="../../../assets/NOTICIAS.JPG" alt="Card image cap"></a>
      <p class="card1-text">Las noticias más actuales. Mantente al día con los acontecimientros relevantes de todos los VinotintosMLB. <a routerLink="news" class="leer_mas">
          Ver más </a> </p>

    </div>
    <!-- <div class=" home_card2">
      <a routerLink="news"><img class="card-img-top2 " src="../../../assets/ESTADISTICAS.JPG" alt="Card image cap"></a>
      <p class="card1-text">Estadísticas de cada jugador. <a routerLink="news" class="leer_mas">
        Ver más </a> </p>
    </div> -->
    <!-- <div class=" home_card4">
      <a routerLink="news"><img class="card-img-top2 " src="../../../assets/DATOSP.JPG" alt="Card image cap"></a>
      <p class="card1-text">Ve cada una de las actuaciones Importantes de los venezolanos. <a routerLink="news" class="leer_mas">
          Ver más </a> </p>
    </div>  -->
  </div>
</div>

</div>
