<div class="container-home">
  <div class="card1-deck">
    <div class=" home_box1">
      <div class=" home_card3">
        <a routerLink="news_ppal"><img class="card-img-top" src="../../../assets/VZLAENMLBCORTADO1.jpg" alt="Varios Venezolanos en Grandes Ligas"></a>
        <div class="card-body">
          <p class="card-text_izquierdo">Actuación diaria de los venezolanos en MLB. Puedes ver las estadisticas
            diarias, conocer en que equipo están, etc.<a routerLink="news_ppal" class="leer_mas1"> Ver más
            </a>
        </div>
      </div>

      <div class=" home_card5">
        <div class="registrar_div">
          <a routerLink="infog_Show"><img class="card-img-infog" src="../../../assets/VZLA EN MLB PORTADACORTADO.jpg" alt="infographics page link"></a>
          <p class="card1-text">Infografías, disfruta de los datos relevantes de la MLB y los Vinotintos de una forma
            práctica.<a routerLink="infog_Show" class="leer_mas">
              Ver más </a> </p>

          <!-- <p><a routerLink="profile" class="leer_mas registrar_link">Regístrate para que disfrutes diariamente de las estadísticas y noticias</a></p> -->
        </div>
      </div>

    </div>


    <div class="home_box2">
      <div class=" home_card31">
        <a routerLink="bioActives"><img class="card-img-top2" src="../../../assets/BIOGRAFIA2.PNG" alt="link a Venezolanos en Grandes Ligas "></a>
        <p class="card1-text">Biografía y Datos de los Vinotintos MLB. Puedes conocer más detalles de cada uno de los
          jugadores venezolanos activos. <a routerLink="bioActives" class="leer_mas">
            Ver más </a> </p>
      </div>
      <div class=" home_card51">
        <a routerLink="news"><img class="card-img-top2 card_img_inf_derecha" src="../../../assets/NOTICIAS.jpg" alt="Noticias de Grandes Ligas"></a>
        <p class="card1-text">Las noticias más actuales. Mantente al día con los acontecimientros relevantes de todos
          los VinotintosMLB. <a routerLink="news" class="leer_mas">
            Ver más </a> </p>

      </div>
    </div>

  </div>
</div>