
<!-- <div class="container_home"> -->
  <div class="card-deck">
    <!-- <div class="home_box1"> -->
    <div class="card home_box1">
      <a routerLink="news_ppal"><img class="card-img-top" src="../../../assets/VZLA EN MLB.jpg" alt="Card image cap"></a>
      <div class="card-body">
 <!-- <a routerLink="news_ppal">
          <h5 class="card-title">¿VENEZUELA EN MLB?</h5>
        </a> -->
        <p class="card-text">Revisa la actuación diaria de los jugadores venezolanos en Grandes Ligas.<a routerLink="news_ppal" class="leer_mas"> Ver más
          </a>
      <!-- </div> -->
    </div>
  </div>
  <div class="home_box2">
    <div class="card home_card2">
        <a  routerLink="news"><img class="card-img-top2" src="../../../assets/Noticia2.JPG" alt="Card image cap"></a>
        <a routerLink="news">
          <h5 class="card-title">Noticias de Grandes Ligas</h5>
        </a>
        <p class="card-text">Las noticias más actuales de los Vinotintos MLB. <a routerLink="news" class="leer_mas">
            Ver más </a>
        </p>
      </div>
    <div class="card home_card3">
        <div class="home_card_superior2">
      <a routerLink="news_ppal"><img class="card-img-top2" src="../../../assets/biografias 2018.JPG" alt="Card image cap"></a>
      <div class="card-body">
        <a routerLink="news_ppal">
          <h5 class="card-title">Biografías</h5>
        </a>
        <p class="card-text">Chequea los datos de los Vinotintos MLB.<a routerLink="news_ppal" class="leer_mas"> Ver más
          </a>
        </p>
      </div>
    </div>
    </div>
    <div class="card home_card4">
        <div class="home_card_Derecho3">

      <!-- <a routerLink="news"><img class="card-img-top2 " src="../../../assets/Estadisticas activos.JPG" alt="Card image cap"></a> -->
      <div class="card-body">
        <a routerLink="news">
          <h5 class="card-title">Estadísticas</h5>
        </a>
        <p class="card-text">Mantente al día con las estadísticas Ppales de cada jugador. <a routerLink="news" class="leer_mas">
            Ver más </a>
        </p>
      </div>
      </div>
    </div>
    <div class="card home_card5">
        <div class="home_card_Derecho4">

      <!-- <a routerLink="news"><img class="card-img-top2 " src="../../../assets/Video Acuna 1er Hit.JPG" alt="Card image cap"></a> -->
      <div class="card-body">
        <a routerLink="news">
          <h5 class="card-title">Videos</h5>
        </a>
        <p class="card-text">Ve cada una de las actuaciones Importantes de los venezolanos. <a routerLink="news" class="leer_mas">
            Ver más </a>
        </p>
      </div>
      </div>
    </div>
  </div>

</div>
  <!-- </div> -->
