.container_total {
  margin: 0 8%;
  /* background-color: red; */

}

.container_superior {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1.5rem;
  background-color: rgba(255, 255, 255,.15);


  padding: .25rem;
  margin: 1% auto 1.5rem;
  grid-column-gap: .5rem;
}

.columna1 {
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

}

.lideresAll {
  background-color: white;
}
.lideres1 {
  grid-column: 1/2;
  grid-row: 1/2;
 }
.lideres2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.lideres3 {
  grid-column: 1/2;
  grid-row: 3/4;

}

.card-img-top{
  align-self: end;
}
.card-img-top2{
  align-self: end;
}

.subtitulo_Lideres1 {
  text-align: center;  
  color: #faebd7;
  font-weight: bold;
  padding-left: 1rem;
  text-shadow: 2px 2px 18px black;
}

.subtitulo_Lideres {
  color: rgb(53, 53, 53);
  font-weight: 800;
  padding-left: 1rem;
  font-size: .95vw;
  text-align: center;
}


/*.box_home-element {
   border-radius: 4px;
  box-shadow: 3px 3px 18px rgb(37, 27, 27);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255); 
}*/

.tbA1, .tbA, .tbAA {
  color: rgb(5, 4, 4);
  background-color: rgba(0, 0, 0, .45);
  font-size: .85vw;
  font-weight: bold;
  height: fit-content;
  text-align: center;

}
.tb11, .tb2, .tb2A {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: .75vw;
  font-weight: bold;
  height: fit-content;
  text-align: center;

}

.columna2 {
  grid-column: 2/3;
  grid-row: 1/2;
  /* background-color: blue; */



  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  
}
.container1_Colummna2 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: .25em;
  text-align: justify;

}

.box2 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: .25em;
  text-align: justify;
  align-self: end;

}

.container2_Colummna2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
  border-radius: 5px;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
}
.box11 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: .25em;
  text-align: justify;

}

.box22 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: .25em;
  text-align: justify;
}
.box13 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: .25em;
  text-align: justify;

}

.box33 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: .25em;
  text-align: justify;
}
.box14 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: .25em;
  text-align: justify;

}

.box44 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: .25em;
  text-align: justify;
}


.text-box-columna {
color: #2f2f2f;
/* text-shadow: 2px 2px 18px black; */
font-size: 1.2vw;
padding: 0 .75vw;

}
.ver-mas {
  color: #3b3b3b;
font-size: 1vw;
font-weight: 800;
cursor: pointer;
text-shadow: none !important;

}
.RLink {
  color: black !important;
  cursor: pointer;

}
.badge-size {
  font-size: 1.2vw !important; 
  box-shadow: 2px 2px 18px black;
  cursor: pointer;
  margin-left: 1rem;
}
.container3_Colummna2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
  border-radius: 5px;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
}

.container4_Colummna2 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
  border-radius: 5px;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
}




.columna3 {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;

}
















/* 

@media only screen and (max-width : 1023px) {

  .container_total {
    margin: 0 8%;

  }

  .container_superior {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-row-gap: 1.5rem;
    margin: 1% auto 1.5rem;
  }

  .lideres1 {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;

  }
  .lideres2 {
    display: none;
  }
  .lideres3 {
    display: none;

  }

  .box1 {
    grid-column: 1/2;
    grid-row: 1/2;

  }
  .box2 {
    grid-column: 1/2;
    grid-row: 3/4;


  }
  .box3 {
    grid-column: 1/2;
    grid-row: 4/5;


  }
  .noticias_lateral{
    display: none;
  }

  .box_home-element {
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
  }

  .tbA1, .tbA, .tbAA {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: .85em;
    font-weight: bold;
    height: fit-content;
    text-align: center;

  }
  .tb11, .tb2, .tb2A {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: .7em;
    font-weight: bold;
    height: fit-content;
    text-align: center;

  }


  .box_home-element2,.box_home-element1 {
  margin-bottom: 3.5rem;
  }
  .box {
    background-color: #fff !important;
  }


  td, th {
    height: fit-content;
  }

  .container-home {
      margin-left: 0;
  }
  .container_elements_home{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 1rem;
      margin: 1% auto 1.5rem;


  }
  .box_home-element1 {
      grid-column: 1/2;
      grid-row: 1/2;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;


  }

  .box_home-element2 {
      grid-column: 1/2;
      grid-row: 2/3;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;

  }
  .box_home-element13 {
      grid-column: 1/2;
      grid-row: 3/4;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;


  }

  .box_home-element23 {
      grid-column: 1/2;
      grid-row: 4/5;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;

  }
  .text-box {
      color: rgb(0, 0, 0);
      font-size: .75rem;
      font-weight: 800;
      text-align: justify;
      padding: 0 0.5rem;
      margin-bottom: 0;

  }

  .ver-mas {
    color: darkred;
    font-size: .9rem;
    font-weight: 800;

  }
  .ver-mas2 {
    color: #57beb8;
    font-size: .9rem;
    font-weight: 800;

  }
  .badge {
    width: fit-content;
    padding: .5em .71em;
    font-size: .85em;
    margin-left: 1%;
  }

  .RLink {
    color: black !important;
    cursor: pointer;

  }

  .subtitulo_Lideres1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    text-decoration:none !important;
  }

  .subtitulo_Lideres_a{
    text-decoration: none;
    color: #faebd7 !important;
  }
  .subtitulo_Lideres {
    text-decoration: none;
    color: #faebd7 !important;
  }


  }




    @media only screen and (min-width : 1024px) {

      .container_total {
    margin: 0 8%;

  }

  .container_superior {
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1.5rem;
    background-color: rgb(241, 231, 172);


    padding: 2rem;
    margin: 1% auto 1.5rem;
    grid-column-gap: .5rem;
  }

  .lideres1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;

  }
  .lideres2 {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
  .lideres3 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;

  }

  .subtitulo_Lideres {
    color: rgb(100, 95, 95);
    font-weight: 800;
    padding-left: 1rem;
    font-size: 1.25em;
  }
  .box1 {
    grid-column: 2/3;
    grid-row: 1/2;

  }
  .box2 {
    grid-column: 2/3;
    grid-row: 2/3;


  }
  .box3 {
    grid-column: 2/3;
    grid-row: 3/4;


  }
  .noticias_lateral{
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: white;
    font-weight: bold;
  }

  .box_home-element {
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
  }

  .tbA1, .tbA, .tbAA {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: .85em;
    font-weight: bold;
    height: fit-content;
    text-align: center;

  }
  .tb11, .tb2, .tb2A {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: .7em;
    font-weight: bold;
    height: fit-content;
    text-align: center;

  }


  .box_home-element2,.box_home-element1 {
  margin-bottom: 3.5rem;
  }
  .box {
    background-color: #fff !important;
  }

  .noticias_p {
    color: black !important;
    text-decoration: none;
  }



  .noticias_lateral_titulo {
    padding: 1rem 1rem 0;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(100, 95, 95);

  }
  .noticias_p {
    padding: 1rem;
  }

  td, th {
    height: fit-content;
  }



  .container-home {
      margin-left: 0;
  }
  .container_elements_home{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 1rem;
      margin: 1% auto 1.5rem;


  }
  .box_home-element1 {
      grid-column: 1/2;
      grid-row: 1/2;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;


  }

  .box_home-element2 {
      grid-column: 1/2;
      grid-row: 2/3;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;

  }
  .box_home-element13 {
      grid-column: 1/2;
      grid-row: 5/6;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;


  }

  .box_home-element23 {
      grid-column: 1/2;
      grid-row: 6/7;
      border-radius: 4px;
      box-shadow: 3px 3px 18px rgb(37, 27, 27);
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid white;

  }
  .text-box {
      color: rgb(0, 0, 0);
      font-size: .75rem;
      font-weight: 800;
      text-align: justify;
      padding: 0 0.5rem;
      margin-bottom: 0;

  }

  .ver-mas {
    color: darkred;
    font-size: .9rem;
    font-weight: 800;

  }
  .ver-mas2 {
    color: #57beb8;
    font-size: .9rem;
    font-weight: 800;

  }

  .badge {
    width: fit-content;
    padding: .5em .71em;
    font-size: .85em;
    margin-left: 1%;
  }

  .RLink {
    color: black !important;
    cursor: pointer;

  }

  .subtitulo_Lideres1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    color: black !important;
    text-decoration:none !important;
  }

  .container_elements_home {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
  }
  .box_home-element1 {
      grid-column: 1/2;
      grid-row: 1/2;
  }

  .box_home-element2 {
      grid-column: 2/3;
      grid-row: 1/2;
  }
  .box_home-element13 {
      grid-column: 1/2;
      grid-row: 2/3;
  }

  .box_home-element23 {
      grid-column: 2/3;
      grid-row: 2/3;
  }

  .text-box {
      font-size: 1rem;
  }

  .ver-mas {
    color: darkred;
    font-size: 1.2rem;

  }
  .ver-mas2 {
    color: #57beb8;
    font-size: 1.2rem;
    font-weight: 800;

  }

  .badge {
    font-size: 1.25em;
  }

  .tbA1, .tbA, .tbAA {
    font-size: .95em;

  }
  .tb11, .tb2, .tb2A {
    font-size: .8em;

  }

  }

  .actives-title {
      color: antiquewhite;
      font-size: 2.5rem;
      text-align: center;
      margin: 0.15rem auto 0;
      padding: .3rem 0;
      text-shadow: 2px 2px 8px #111;
      width: 14rem;
      height: 1.5em;
      border-radius: 7px;
    }
  .actives-title1 {
      color: antiquewhite;
      font-size: 1.85rem;
      text-align: center;
      margin: 0.15rem auto 0;
      padding: .3rem 0;
      text-shadow: 2px 2px 8px #111;
      width: 27rem;
      height: 1.5em;
      border-radius: 7px;
    }
    .title-position{
      color: antiquewhite;
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 10%;
      margin-bottom: 0;
    }

    .container_grid_nvo {
      width: 100%;
      align-self: center;
      display: grid;
      grid-auto-columns: fr fr;
      grid-auto-rows: auto;
    }

    .container_buttons {
      margin: 0 15%;
      text-align: center;
    }


    .sub_lideres_nvo {
      margin: 1rem 1rem;
      color: antiquewhite;
      font-size: 1.50em;
      text-align: center;
      background-color: rgba(3, 2, 2, 0.5);
      width: 10rem;
      height: 1.75em;
      border-radius: 7px;
    }

    .tableAVG_nvo {
      grid-column: 1/2;
      grid-row: 1/2;

    }
  .img_average {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    max-width: 100%;
    height: auto;
    justify-self: center;


  }
  .img_average1 {
    width: 65%;

  }
  .img_average2 {
    width: 65%;
  }
  .img_average3 {
    width: 65%;
  }
  .img_average4 {
    width: 65%;
  }
  .img_average5 {
    width: 65%;
  }
    .container_grid {
      margin: 0 auto;
      width: 100%;
      display: grid;
      grid-auto-columns: fr fr;
      column-gap: 10px;
      grid-auto-rows: repeat (6, fr);
    }

    .tableAVG {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .tableHR {
      grid-column: 2/3;
      grid-row: 2/3;

    }
    .tableDOBLES {
      grid-column: 1/2;
      grid-row: 4/5;

    }
    .tableTRIPLES {
      grid-column: 2/3;
      grid-row: 4/5;

    }
    .tableBR {
      grid-column: 1/2;
      grid-row: 6/7;

    }
    .tableHITS {
      grid-column: 2/3;
      grid-row: 6/7;

    }

    .table {
      width: 100%;
      display: table;
      align-self: center
    }

    .table-header {
      background-color: rgba(12, 10, 9, 0.9);
      color: antiquewhite;
      text-align: center;
      width: 100%;

    }
    .table-header2 {
      background-color: rgba(12, 10, 9, 0.75);
      color: antiquewhite;
      text-align: center;

    }
    .title-rows {
      background-color: antiquewhite;
      color: rgb(12, 10, 9);
      text-align: center;


    }
  .subtitulo_lideres2 {
    grid-column: 2/3;
    grid-row: 1/2;


    }
  .subtitulo_lideres3 {
    grid-column: 1/2;
    grid-row: 3/4;


    }
  .subtitulo_lideres4 {
    grid-column: 2/3;
    grid-row: 3/4;


    }
  .subtitulo_lideres5 {
    grid-column: 1/2;
    grid-row: 5/6;


    }
  .subtitulo_lideres6 {
    grid-column: 2/3;
    grid-row: 5/6;

    }

    .sub_lideres {
      font-size: .7rem;
      font-weight: bold;
      height: 1rem;
      text-align: center;

    }
    .espacioInferior {
      height: 100px;
    }
    .link_player {
    text-decoration:none;
    color: antiquewhite;
    }
    .paginator {
      font-size: 0.75rem;
      width: 20%;
      margin: auto;
    }


      .sub_lideres {
        font-size: 2rem;
        font-weight: bold;
        height: 1rem;
        text-align: center;
        margin: 2rem 0;

      }
      .espacioInferior {
        height: 100px;
      }
      .sub_lideres {
        display: none;
      }


      @media only screen and (min-width:300px ) and (max-width: 769px) {
        .container_grid_nvo {
          display: block;
        }


        .container-actives {
          margin: 0 20%;
        }
          .img_average {
              display: none;
          }
          .subtitulo_lideres1 {
              width: fit-content;
              font-size: .90em;
              text-decoration:none !important;
          }


          .actives-title1 {
              font-size: 1rem;
              width: 12rem;
          }
          .actives-title {
              font-size: 1.5rem;
              width: 90%;
          }
          .title-position{
              color: antiquewhite;
              font-size: 1rem;
              margin-left: 2%;

          }

          .table {
              padding: 0;
          }

          .table-header {
              font-size: 0.65rem;
              width: 1rem;

          }
        .subtitulo_lideres2 {
          grid-column: 1/2;
          grid-row: 3/4;
          }
        .subtitulo_lideres3 {
          grid-column: 1/2;
          grid-row: 5/6;
          }
        .subtitulo_lideres4 {
          grid-column: 1/2;
          grid-row: 7/8;
          }
        .subtitulo_lideres5 {
          grid-column: 1/2;
          grid-row: 9/10;
          }

        .subtitulo_lideres6 {
          grid-column: 1/2;
          grid-row: 11/12;
          }

          .tableAVG {
            grid-column: 1/2;
            grid-row: 2/3;
          }

          .tableHR {
            grid-column: 1/2;
            grid-row: 4/5;
          }

          .tableDOBLES {
            grid-column: 1/2;
            grid-row: 6/7;

          }
          .tableTRIPLES {
            grid-column: 1/2;
            grid-row: 8/9;

          }
          .tableBR {
            grid-column: 1/2;
            grid-row: 10/11;

          }
          .tableHITS {
            grid-column: 1/2;
            grid-row: 12/13;

          }
          .img_average {
            align-self: center;
            max-width: 90%;
          }


        }
        @media only screen and (min-width:770px ) and (max-width: 1024px) {

          .container_grid_nvo {
            align-self: center;
          }

            .img_average {
              align-self: center;
              max-width: 90%;
            }
            .table {
              width: 100%;
            }




        }
        @media only screen and (max-width : 1439px) {

          .noti4 {
            display: none;
          }
          .subtitulo_Lideres1 {
           display: none;
          }
        }
 */
