.container-home {
    margin-left: 0;
}
.container_elements_home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    width: 80%;
    margin: 1% auto 1.5rem;


}
.box_home-element1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);

}

.box_home-element2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);
}
.box_home-element3 {
    grid-column: 1/2;
    grid-row: 3/4;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);
}
.box_home-element4 {
    grid-column: 1/2;
    grid-row: 4/5;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);
}
.box_home-element5 {
    grid-column: 1/2;
    grid-row: 5/6;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);
}
.box_home-element6 {
    grid-column: 1/2;
    grid-row: 6/7;
    border-radius: 4px;
    box-shadow: 3px 3px 18px rgb(37, 27, 27);
    background-color: rgba(0, 0, 0, .5);
}
.text-box {
    color: antiquewhite;
    font-size: .75rem;
    font-weight: 400;
    text-align: justify;
    padding: 0 0.5rem;

}

.ver-mas {
    color: rgb(255, 255, 255);
    font-size: .9rem;

}

/* @media only screen and (orientation: landscape) and (min-width: 500px) and (max-width: 850px) {


  } */


  @media only screen and (min-width : 1024px) {

.container_elements_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
.box_home-element1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.box_home-element2 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.box_home-element3 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.box_home-element4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.box_home-element5 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.box_home-element6 {
  grid-column: 2/3;
  grid-row: 3/4;
}


.text-box {
    font-size: 1rem;
}

.ver-mas {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
}
  /* @media only screen and (max-width: 2520px) and (min-width: 1441px)  {

    .container_elements_home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    .box_home-element1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box_home-element2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .box_home-element3 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .box_home-element4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .text-box {
        font-size: 1rem;
    }

    .ver-mas {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }

} */


