<header>
  <div class="title">
    <h1 class="title_h1" >Temporada 2019</h1>
  </div>
</header>

<div class="title_page">
  <p>Coloque sus datos</p>
</div>
<div class="card">
  <div class="card-body">
    <form [formGroup]='profileForm' (ngSubmit)="onSubmit(profileForm)">
      <div class="form-group">
        <div>
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control" placeholder="Nombre">
            <div class="alert" *ngIf="!profileForm.controls['name'].valid && profileForm.controls['name'].touched">Colocar su Nombre</div>
          </div>

          <div class="form-group">
            <input type="text" formControlName="lastname" class="form-control" placeholder="Apellido">
            <div class="alert" *ngIf="!profileForm.controls['lastname'].valid && profileForm.controls['lastname'].touched">Colocar su Apellido</div>
          </div>

          <!-- <div class="form-group">
            <input type="email" formControlName="email" class="form-control" placeholder="Correo">
            <div class="alert" *ngIf="!profileForm.controls['email'].valid && profileForm.controls['email'].touched">Colocar un email válido</div>
          </div> -->

          <div class="form-group  form-group_select">
            <input type="date" formControlName="birdthDate" id= "date" class="form-control form_age" placeholder="Fecha de Nacimiento: ">
            <div class="alert" *ngIf="!profileForm.controls['birdthDate'].valid && profileForm.controls['birdthDate'].touched">Colocar su Fecha de Nacimiento</div>
            <select class="form_text"  style="height:3rem;" type="text" formControlName="gender">
              <option [disabled]="true" [selected]="true" value="Género">Género</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="Otro">Otro</option>
            </select>
            <div class="alert" *ngIf="!profileForm.controls['gender'].valid && profileForm.controls['gender'].touched">Colocar su Genero</div>
          </div>

          <div class="form-group">
            <input type="text" formControlName="country" class="form-control" placeholder="País">
            <div class="alert" *ngIf="!profileForm.controls['country'].valid && profileForm.controls['country'].touched">Colocar su País</div>
          </div>

          <div class="form-group">
            <input type="text" formControlName="comments" class="form-control" placeholder="¿Qué quisieras que cubriera la página?">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" value="Register" [disabled]="!profileForm.valid">
              <i class="fas fa-plus-circle"></i> Registre sus Datos
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(profileForm)">
              <i class="fas fa-sync-alt"></i> Resetear
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
