<div class="row">
  <div class="col-1 col-10 col-1 col-md-8 col-md-4 col-lg-6 col-lg-6  mx-auto login-block">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center login" >LOGIN</h1>
        <h4 class="text-center login" >Liga de Fantasía Vinotintosmlb 2020, haz Login o <a routerLink="/register"> Registrate</a></h4>

        <form (submit)="onSubmitLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email"  [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control">
          </div>
          <button type="submit" value="ENVIAR" class="btn  btn-block btn-lg">INICIAR SESIÓN</button>
          <button value="¿OLVIDÓ CONTRASEÑA?" class="btn  btn-block btn-lg" (click)='resetPassword(email)'>¿OLVIDÓ CONTRASEÑA?</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-ms-6 col-md-6  mx-auto login-block">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center login" >LOGIN</h1>
        <h4 class="text-center login" >Liga de Fantasía Vinotintosmlb 2020, haz Login ó <a routerLink="/profile"> Registrate</a></h4>

        <form (submit)="onSubmitLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email"  [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control">
          </div>
          <button type="submit" value="ENVIAR" class="btn  btn-block btn-lg">ENVIAR</button>
          <button value="¿OLVIDÓ CONTRASEÑA?" class="btn  btn-block btn-lg" (click)='resetPassword(email)'>¿OLVIDÓ CONTRASEÑA?</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
