.container-actives_cards {
    margin-top: 1%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(5, fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.container-actives_cards .card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 20px;
} 
.container-actives_cards .card:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 20px;
} 
.container-actives_cards .card:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 20px;
} 
.container-actives_cards .card:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-bottom: 20px;
} 
.container-actives_cards .card:nth-child(5) {
    grid-column: 5/6;
    grid-row: 1/2;
    margin-bottom: 20px;
} 
/* .container-actives_cards .card:nth-child(6) {
    grid-column: 6/7;
    grid-row: 1/2;
    margin-bottom: 20px;
}  */
/* .card-img-top {
    height: 50%;
} */

.container {
    margin-top: 20px; 
}

.container-actives {
  margin-top: 22%;
}

.bioActives-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0;
    padding: .5rem 0;
    background-color: rgba(3, 2, 2, 0.5);
    width: 18em;
    height: 1.75em;
    border-radius: 7px;
}
.title-position{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 8.5%;
    margin-bottom: 0;
}

.table {
    width: 80%;
    margin: 0.2em auto;
}

.table-header {
    background-color: rgba(12, 10, 9, 0.9);
    color: antiquewhite;
    text-align: center;
    width: 100%;

}
.table-header2 {
    background-color: rgba(12, 10, 9, 0.75);
    color: antiquewhite;
    text-align: center;

}
.title-rows {
    background-color: antiquewhite;
    color: rgb(12, 10, 9);
    text-align: center;


}

.advancedSearchTextbox{
    color: rgb(2, 1, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 7%;
    margin-bottom: 0;

}


.player-name {
    color: black;
}
.player-name:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.15rem;
    text-decoration: none;
}

.row-color {
    background-color: rgb(245, 223, 195);

}
.row-color:hover {
    background-color: rgb(255, 255, 255);

}
.row-color1:hover {
    background-color: rgb(255, 255, 255);

}

.title-rows_header {
    text-align: center;
}

th {
    font-size:2vh;
    width: auto;

}
td  {
    font-size: 1.8vh;
    width: auto;

}
.page-link {
background-color: rgba(250, 235, 215,0.8)!important;
border:solid 2px #7e7b7b;
color: rgb(0, 0, 0)!important;
font-weight: 400;
}
