.bioActives-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0; 
    padding: .5rem 0; 
    background-color: rgba(3, 2, 2, 0.5);
    width: 18em;
    height: 1.75em;
    border-radius: 7px;
}
.title-position{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 13em;
    margin-bottom: 0;
}

.table {
    width: 68%;
    margin: 0.2em auto;
}

.table-header {
    background-color: rgba(12, 10, 9, 0.9);
    color: antiquewhite;
    text-align: center;
}
.table-header2 {
    background-color: rgba(12, 10, 9, 0.75);
    color: antiquewhite;
    text-align: center;

}
.title-rows {
    background-color: antiquewhite;
    color: rgb(12, 10, 9);
    text-align: center;


}

.advancedSearchTextbox{
    color: rgb(2, 1, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 19.5em;
    margin-bottom: 0;

}


.player-name {
    color: black;
}
.player-name:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.15rem;
    text-decoration: none;
}

.row-color {
    background-color: rgb(245, 223, 195);

}
.row-color:hover {
    background-color: rgb(255, 255, 255);

}
.row-color1:hover {
    background-color: rgb(255, 255, 255);

}

.title-rows_header {
    text-align: center;
}

th {
    font-size:2vh;
    width: auto;
  
}
td  {
    font-size: 1.8vh;
    width: auto;

}
