<div class="container-actives">
  <h1 class="bioActives-title">CLASE 2023</h1>
  <p class="bioActives-title"> Temporada Regular 2023 </p>


  <!--LOADER -->
  <div *ngIf="!allItems">
    <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
    <p class="spiner_load">CARGANDO</p>
  </div>

  <div *ngIf="allItems">
    <div *ngIf="allItems > 1">
      <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..."
        class="advancedSearchTextbox">
      <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
        <h4 class="error_message"> <strong>'{{searchText}}'</strong> El Jugador no existe. Solo busque en minúsculas, por nombre y/o apellido </h4>
      </div>
    </div>


    <div class="container-actives_cards ">
      <div class="card card1 img_picture_box" style="width: 95%;" *ngFor="let player of allItems ">
        <div *ngIf="player.primaryPosition.code !== '1'"><img class="card-img-top img_picture_element"
            appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg" alt="Jugador de Grandes Ligas"></div>
        <div *ngIf="player.primaryPosition.code === '1'"> <img class="card-img-top img_picture_element"
            appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg" alt="Jugador de Grandes Ligas"></div>

        <div class="card-body">
          <h5 class="card-title">{{player.fullName}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

