.container-team {
  margin-top: 22%;
}

.team-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0.5rem;
    padding: .5rem 0;
    background-color: rgba(3, 2, 2, 0.5);
    width: 13em;
    height: 1.75em;
    border-radius: 7px;
}


/* borrar arriba  */


.advancedSearchTextbox{
    color: rgb(2, 1, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0;
    width: 15em;

}

.title-position{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 10%;
    margin-bottom: 0;
}

.table {
    width: 80%;
    margin: 0.2em auto;
}


.table-header {
    background-color: rgba(12, 10, 9, 0.9);
    color: antiquewhite;
}
.table-header2 {
    background-color: rgba(12, 10, 9, 0.75);
    color: antiquewhite;
}
.title-rows {
    background-color: antiquewhite;
    color: rgb(12, 10, 9);

}

.player-name {
    color: black;
}
.player-name:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.15rem;
    text-decoration: none;
}

.row-color {
    background-color: rgb(245, 223, 195);

}
.row-color:hover {
    background-color: rgb(255, 255, 255);

}
.row-color1:hover {
    background-color: rgb(255, 255, 255);

}

.title-rows_header {
    text-align: center;
}

