<div class="container-team">
  <h1 class="team-title">JUGADORES POR EQUIPO</h1>
</div>

<p class="title-position"> BRAVOS DE ATLANTA </p>

<table class="table table-hover">
    <thead class="table-header" >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Vb</th>
        <th scope="col">Avg</th>
        <th scope="col">Hits</th>
        <th scope="col">BB</th>
        <th scope="col">Strks</th>
        <th scope="col">Hr</th>
      </tr>
    </thead>
    <tbody class="title-rows" >
      <tr>
        <th scope="row">Ronald Acuña</th>
        <td>Bravos de Atlanta </td>
        <td>427</td>
        <td>297</td>
        <td>142</td>
        <td>75</td>
        <td>45</td>
        <td>25</td>
      </tr>
      <tr>
        <th scope="row">Ender Inciarte</th>
        <td>Bravos de Atlanta</td>
        <td>557</td>
        <td>242</td>
        <td>133</td>
        <td>38</td>
        <td>56</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>