<div class="container-team">
  <h1 class="team-title">BATEADORES POR EQUIPO</h1>
</div>

<div class="title-position"> Busque su Equipo</div>

<input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Nombre del Equipo..." class="advancedSearchTextbox">
<div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
    <h1> <strong>'{{searchText}}'</strong>  Su dato no existe, ingrese solo Equipos y Jugadores...</h1>
  </div>
  <!-- LOADER -->
  <div *ngIf="!allItems" >
      <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
      <p class="spiner_load">CARGANDO</p>
    </div>
  

<ng-container *ngIf="!isLoading">
  <table class="table table-hover text-center">
    <thead class="table-header">
      <tr>
        <!-- <th style="width: 5%;" scope="col">Id</th> -->
        <th style="width: 15%;" scope="col">Name</th>
        <th style="width: 15%;" scope="col">Team</th>
        <th style="width: 5%;" scope="col">Vb</th>
        <th style="width: 5%;" scope="col">Avg</th>
        <th style="width: 5%;" scope="col">CA</th>
        <th style="width: 5%;" scope="col">Hits</th>
        <th style="width: 5%;" scope="col">BB</th>
        <th style="width: 5%;" scope="col">Strks</th>
        <th style="width: 5%;" scope="col">CI</th>
        <th style="width: 5%;" scope="col">Hr</th>
        <th style="width: 5%;" scope="col">Br</th>
      </tr>
    </thead>
  <!-- </table> -->

  <ng-container *ngIf="!(pager.allItems === 0)">

  <!-- <table class="table table-hover " > -->
    <tbody class="table-header2">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <tr *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
        <!-- <td style="width: 5%;">{{i +1}}</td> -->
        <td style="width: 15%;">{{player.fullName}}</td>
        <td style="width: 15%;">{{player.stats[0].splits[0].team.name}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.atBats}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.avg}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.runs}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.hits}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.baseOnBalls}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.strikeOuts}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.rbi}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.homeRuns}}</td>
        <td style="width: 5%;">{{player.stats[0].splits[0].stat.stolenBases}}</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
      <tr *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*10)">
    <!-- <td style="width: 5%;">{{i +1}}</td> -->
      <td style="width: 15%;">{{player.fullName}}</td>
      <td style="width: 15%;">{{player.stats[0].splits[0].team.name}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.atBats}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.avg}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.runs}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.hits}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.baseOnBalls}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.strikeOuts}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.rbi}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.homeRuns}}</td>
      <td style="width: 5%;">{{player.stats[0].splits[0].stat.stolenBases}}</td>
    </tr>
  </ng-container>
  <!-- <span *ngIf="!allItems[0]" class="d-flex justify-content-center">
    <h1> Error: '{{ busqueda.value }}' no existe</h1>
  </span> -->
</tbody>
</ng-container>

  </table>
  <!-- PAGINATION-->

  <div>
    <div class="container">
      <div class="text-center">
        <!-- items being paged -->
        <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->

        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
</ng-container>
