.container_players_actives {
  margin-top: 22%;
}

.actives-title {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto 0;
    padding: .5rem 0;
    background-color: rgba(3, 2, 2, 0.5);
    width: 18em;
    height: 1.75em;
    border-radius: 7px;
}
.title-position{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 11.5%;
    margin-bottom: 0;
}

.table {
    width: 80%;
    margin: 0.2em auto;
}

.table-header {
    background-color: rgba(12, 10, 9, 0.9);
    color: antiquewhite;
    text-align: center;
    width: 100%;

}
.table-header2 {
    background-color: rgba(12, 10, 9, 0.75);
    color: antiquewhite;
    text-align: center;

}
.title-rows {
    background-color: antiquewhite;
    color: rgb(12, 10, 9);
    text-align: center;


}


/* BOrrar todo */


.advancedSearchTextbox{
    color: rgb(2, 1, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0;

}

