<div class="menu">
 <div class="borar">MENU DE LVBP</div> 
 <div class="resultados">
  <img class="logoVinotintosMLb" src="../../../assets/logonvo.png" alt="Logo de VinotintosMLb">
   <div class="resultado1">Resultados 1
     <div class="datosResultados1A"></div>
     <div class="datosResultados1A"></div>
     <div class="datosResultados1A"></div>
     <div class="datosResultados1A"></div>
   </div>
   <div class="resultado2">Resultados 2
     <div class="datosResultados2"></div>
   </div>
   <div class="resultado3">Resultados 3
     <div class="datosResultados3"></div>
   </div>
   <div class="resultado4">Resultados 4
     <div class="datosResultados4"></div>
   </div>
 </div>

</div>
