

.actives-title {
  /*  color: antiquewhite;*/
  font-size: 2.5rem;
  text-align: center;
  margin: 0.15rem auto 0;
  padding: .3rem 0;
  /* text-shadow: 2px 2px 8px #111;*/
  font-weight: bold;
  width: auto;
  height: 1.5em;
  border-radius: 7px;
  color: rgb(41, 41, 41);
  }

  .title_liders {
    text-decoration: none;
    cursor: pointer;
    color: rgb(41, 41, 41);
  
  }
  .title_liders:hover {
    background-color: rgb(169, 10, 10);
  }
  .title_liders_int {
font-size: 2.75rem;
color: rgb(122, 118, 118);
  }
.actives-title1 {
    /*  color: antiquewhite;*/
    color: rgb(41, 41, 41);
    font-size: 1.25rem;
    text-align: center;
    margin: 0.15rem auto 0;
    padding: .3rem 0;
    /* text-shadow: 2px 2px 8px #111; */
    font-weight: bold;
    width: 27rem;
    height: 1.5em;
    border-radius: 7px;
  }
  .title-position{
     /*  color: antiquewhite; */
     color: rgb(41, 41, 41);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0;
  }
.container_players_actives {
  background-color: rgb(238, 232, 221);
}


  .container_grid_nvo {
    width: 100%;
    align-self: center;
    display: grid;
    grid-auto-columns: fr fr;
    grid-auto-rows: auto;
  }

  .container_buttons {
    /* margin: 0 15%; */
    text-align: center;
  }

  .card-img-top {
    max-height: 192px;
    max-width: 127.8px;
    width: 210%;
    box-shadow: 2px 2px 4px black;


  }
  .img_picture_element{
    transition: .4s;
  }



  .sub_lideres_nvo {
    margin: 1rem 0.2rem;
     color: antiquewhite;
   /* color: rgb(41, 41, 41);  */
    font-size: 1.50rem;
    text-align: center;
    background-color: rgb(102, 3, 3);
   /*  width: 10rem; */
    width: auto;
    height: 1.75em;
    border-radius: 7px;
  }
  .sub_lideres_nvo2 {
    margin: 1rem 1rem;
   color: antiquewhite;
  /* color: rgb(41, 41, 41); */
  font-size: 1.50rem;
    text-align: center;
     /*  background-color: rgba(3, 2, 2, 0.5); */
    width: auto;
    height: 1.75em;
    border-radius: 7px;
    padding: 0 0.5rem;
  }

  .tableAVG_nvo {
    grid-column: 1/2;
    grid-row: 1/2;

  }
.img_average {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  max-width: 100%;
  height: auto;
  justify-self: center;


}
.img_average1 {
  width: 65%;

}
.img_average2 {
  width: 65%;
}
.img_average3 {
  width: 65%;
}
.img_average4 {
  width: 65%;
}
.img_average5 {
  width: 65%;
}
  .container_grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-auto-columns: fr fr;
    column-gap: 10px;
    grid-auto-rows: repeat (6, fr);
  }

  .tableAVG {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .tableHR {
    grid-column: 2/3;
    grid-row: 2/3;

  }
  .tableDOBLES {
    grid-column: 1/2;
    grid-row: 4/5;

  }
  .tableTRIPLES {
    grid-column: 2/3;
    grid-row: 4/5;

  }
  .tableBR {
    grid-column: 1/2;
    grid-row: 6/7;

  }
  .tableHITS {
    grid-column: 2/3;
    grid-row: 6/7;

  }

  .table {
    width: 65%;
    /* width: 30%; */
    margin: 0.2em auto;
    display: table;
    /* border-collapse: separate; */
    align-self: center;
    /* background-color: antiquewhite;*/
    background-color: rgb(72, 71, 71);
  }

  .table-header {
    /* background-color: rgba(12, 10, 9, 0.9); */
  /*  color: antiquewhite; */
  color: rgb(41, 41, 41);
  text-align: center;
    width: 100%;

  }
  .table-header2 {
    /* background-color: rgba(12, 10, 9, 0.75); */
     /*  color: antiquewhite; */
     color: rgb(41, 41, 41);
    text-align: center;

  }
  .title-rows {
    /* background-color: antiquewhite; */
    color: rgb(12, 10, 9);
    text-align: center;


  }
.subtitulo_lideres2 {
  grid-column: 2/3;
  grid-row: 1/2;


  }
.subtitulo_lideres3 {
  grid-column: 1/2;
  grid-row: 3/4;


  }
.subtitulo_lideres4 {
  grid-column: 2/3;
  grid-row: 3/4;


  }
.subtitulo_lideres5 {
  grid-column: 1/2;
  grid-row: 5/6;


  }
.subtitulo_lideres6 {
  grid-column: 2/3;
  grid-row: 5/6;

  }

  .sub_lideres {
    font-size: 2rem;
    font-weight: bold;
    height: 1rem;
    text-align: center;

  }
  .tbA1, .tb2A {
    color: black;
    /* background-color: #fff; */
    font-size: 1.5rem;
    font-weight: bold;
    height: 1rem;
    text-align: center;

  }
  .espacioInferior {
    height: 100px;
  }
  .link_player {
  text-decoration:none;
  color:antiquewhite;
}
  .paginator {
    font-size: 0.75rem;
    width: 20%;
    margin: auto;
  }
  .tb1 {
    width: 5rem;
  }
  .tb2, .tb3 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .tbA {
    font-size: 1.5rem;
    font-weight: 600;
  }


    .sub_lideres {
      font-size: 2rem;
      font-weight: bold;
      height: 1rem;
      text-align: center;
      margin: 2rem 0;

    }
    .tbA1, .tb2A {
      color: rgb(41, 41, 41);
      /* background-color: #fff; */
      font-size: 1.5rem;
      font-weight: bold;
      height: 1rem;
      text-align: center;

    }
    .espacioInferior {
      height: 100px;
    }
    .tbAA, .tbA1 {
      font-family: sans-serif;
    }
    .tbAA, .tb11, .tbA1, .tb2A {
      font-size: 1.5rem;
      font-weight: bold;
      /* background-color: rgb(33, 33, 33); */
      color: antiquewhite;
      vertical-align: middle;
    }
    .sub_lideres {
      display: none;
    }


    @media only screen and (min-width:300px ) and (max-width: 769px) {
      .container_grid_nvo {
        display: block;
      }
      .card-img-top {
        width: 75%;
      }
      .title_liders {
        font-size: 1rem;
      }
      .title_liders_int {
        font-size: 1.2rem;
        color: rgb(122, 118, 118);

          }
        


      .container-actives {
        /* margin: 0 20%; */
        /* background-color: brown; */
      }
        .img_average {
            display: none;
        }
        .subtitulo_lideres1 {
            width: fit-content;
            font-size: .90em;
        }


        /* .actives-title1 {
            font-size: 1rem;
            width: 12rem;
        } */
        .actives-title {
            font-size: 1.5rem;
            width: 90%;
        }
        .title-position{
             /*  color: antiquewhite; */
            color: rgb(41, 41, 41);
            font-size: 1rem;
            margin-left: 2%;

        }

        .table {
            /* margin: 0.2em 0; */
            /* border-collapse: separate; */
            padding: 0;
            width: 100%;
        }

        .table-header {
            font-size: 0.65rem;
            width: 1rem;

        }
      .subtitulo_lideres2 {
        grid-column: 1/2;
        grid-row: 3/4;
        }
      .subtitulo_lideres3 {
        grid-column: 1/2;
        grid-row: 5/6;
        }
      .subtitulo_lideres4 {
        grid-column: 1/2;
        grid-row: 7/8;
        }
      .subtitulo_lideres5 {
        grid-column: 1/2;
        grid-row: 9/10;
        }

      .subtitulo_lideres6 {
        grid-column: 1/2;
        grid-row: 11/12;
        }

        .tableAVG {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        .tableHR {
          grid-column: 1/2;
          grid-row: 4/5;
        }

        .tableDOBLES {
          grid-column: 1/2;
          grid-row: 6/7;

        }
        .tableTRIPLES {
          grid-column: 1/2;
          grid-row: 8/9;

        }
        .tableBR {
          grid-column: 1/2;
          grid-row: 10/11;

        }
        .tableHITS {
          grid-column: 1/2;
          grid-row: 12/13;

        }
        .tbAA, .tb11, .tbA1, .tb2A {
          font-size: 1rem;
          font-weight: 600;
          /* background-color: rgb(33, 33, 33); */
          color: antiquewhite;
          vertical-align: middle;


        }
        .img_average {
          align-self: center;
          max-width: 90%;
        }


      }
      @media only screen and (min-width:770px ) and (max-width: 1024px) {

        .container_grid_nvo {
          align-self: center;
        }

          .img_average {
            align-self: center;
            max-width: 90%;
          }
          .tbAA, .tb11, .tbA1, .tb2A, .tbA {
            font-size: 1rem;
            font-weight: 600;
           /*  background-color: rgb(33, 33, 33); */
           color:antiquewhite;
           vertical-align: middle;

          }
          .table {
            width: 65%;
          }




      }

