<div class="container-actives">
  <h1 class="bioActives-title">La Temporada 2019 no ha iniciado</h1>
  <!-- <h1 class="bioActives-title">Biografía de Bateadores Activos</h1> -->
<p class="title-position"> TEMP. 2019 </p>



<!--LOADER -->
<!-- <div *ngIf="!allItems">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div>

<div *ngIf="allItems">
  <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..." class="advancedSearchTextbox">
  <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
    <h4 class="error_message"> <strong>'{{searchText}}'</strong> El Jugador no existe. Solo busque por nombre, sobrenombre y
      equipo</h4>
  </div>

  <ng-container *ngIf="!(pager.allItems === 0)">

    <div class="container-actives_cards ">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <div class="card card1 img_picture_box" style="width: 95%;" *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
            <a routerLink="/playerinfo2019/{{player.id}}"><img class="card-img-top img_picture_element" src="../../../../assets/{{player.id}}.jpg" alt="Jugador de Grandes Ligas"></a>
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}}</h5>
          </div> -->
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong> Equipo: </strong> {{player.stats[0].splits[0].team.name}}</li>
            <li class="list-group-item"><strong>L. Nac.: </strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>F. Nac.: </strong> {{player.birthDate}} </li>
            <li class="list-group-item"><strong> Edad: </strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Mote: </strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>F. Debut: </strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero: </strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición: </strong> {{player.primaryPosition.name}}</li>
          </ul> -->
        <!-- </div>
      </ng-container>
      <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
        <div class="card card1" *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*10)">
            <a routerLink="/playerinfo2019/{{player.id}}"><img class="card-img-top" src="../../../../assets/{{player.id}}.jpg" alt="Jugador de Grandes Ligas"></a>
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}} </h5>
          </div> -->
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong> Equipo: </strong> {{player.stats[0].splits[0].team.name}}</li>
            <li class="list-group-item"><strong>L. Nac.: </strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>F. Nac.: </strong> {{player.birthDate}}</li>
            <li class="list-group-item"><strong> Edad: </strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Mote: </strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>F. Debut: </strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero: </strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición: </strong> {{player.primaryPosition.name}}</li>
          </ul> -->
          <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div> -->
        <!-- </div>
      </ng-container>
    </div>
    <div class="container paginator">
      <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link paginator_text">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link paginator_text">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link paginator_text">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link paginator_text">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
</div> -->
