<div class="container-actives">
  <h1 class="bioActives-title">Biografía de Pitchers Activos</h1>


<p class="title-position"> Temporada 2025</p>
<!-- <p class="title-position"> Temporada Regular 2019 </p> -->

<!--LOADER -->
<div *ngIf="!allItems">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div>

<div *ngIf="allItems">
  <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..." class="advancedSearchTextbox">
  <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
    <h4 class="error_message"> <strong>'{{searchText}}'</strong> El Pitcher no existe. Solo busque en minúsculas, por nombre y/o apellido </h4>
  </div>

  <!--PRUEBA DE CARDS -->
  <ng-container *ngIf="!(pager.allItems === 0)">

    <div class="container-actives_cards ">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <div class="card card1 img_picture_box" style="width: 95%;" *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
          <a routerLink="/pitcherinfo/{{player.id}}"><img class="card-img-top img_picture_element" appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg" alt="Foto de jugador de Grandes Ligas"></a>
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}}</h5>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
        <div class="card card1" *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*8)">
            <a routerLink="/pitcherinfo/{{player.id}}"><img class="card-img-top" appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg" alt="Foto de jugador de Grandes Ligas"></a>
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}} </h5>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="container paginator">
      <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link paginator_text">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link paginator_text">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link paginator_text">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link paginator_text">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
</div>
