<div class="container-actives">
  <h1 class="bioActives-title">BIOGRAFIA DE PITCHERS ACTIVOS</h1>
</div>

<p class="title-position"> TEMP. 2018 </p>
<!--LOADER -->
<div *ngIf="!allItems">
  <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
  <p class="spiner_load">CARGANDO</p>
</div>

<div *ngIf="allItems">
  <input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..." class="advancedSearchTextbox">
  <div *ngIf="!allItems[0]" class="error_search d-flex justify-content-center">
    <h1> <strong>'{{searchText}}'</strong> El Pitcher no existe, solo busque por nombre, mote y equipo</h1>
  </div>



  <!--PRUEBA DE CARDS -->
  <ng-container *ngIf="!(pager.allItems === 0)">

    <div class="container-actives_cards ">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <div class="card card1" style="width: 95%;" *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
          <img class="card-img-top" src="../../../../assets/{{player.id}}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong> Equipo:</strong> {{player.stats[0].splits[0].team.name}}</li>
            <li class="list-group-item"><strong>L. Nac.:</strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>F. Nac.:</strong> {{player.birthDate}} </li>
            <li class="list-group-item"><strong> Edad:</strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Mote:</strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>F. Debut:</strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero:</strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición</strong> {{player.primaryPosition.name}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
        <!-- <div *ngIf="pager.allItems-1 === 0"> -->
        <div class="card card1" *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*5)">
          <img class="card-img-top" src="../../../../assets/{{player.id}}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{player.fullName}} </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong> Equipo:</strong> {{player.stats[0].splits[0].team.name}}</li>
            <li class="list-group-item"><strong>L. Nac.:</strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>F. Nac.:</strong> {{player.birthDate}}</li>
            <li class="list-group-item"><strong> Edad:</strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Mote:</strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>F. Debut:</strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero:</strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición</strong> {{player.primaryPosition.name}}</li>
          </ul>
          <!-- <div class="card-body">
            <a routerLink="/news" class="card-link">Noticias</a>
            <a routerLink="/" class="card-link">Inicio</a>
          </div> -->
          <!-- </div> -->
        </div>

      </ng-container>
    </div>
    <div class="container">
      <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
          </li>
        </ul>
      </div>
    </div>

  </ng-container>
</div>