<div class="container-actives">
  <h1 class="bioActives-title">BIOGRAFIA DE PITCHERS ACTIVOS</h1>
</div>

<p class="title-position"> TEMP. 2018 </p>

<!-- Borarr Arriba -->
<input #busqueda [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar Jugador..." class="advancedSearchTextbox">
<p></p>

<ng-container *ngIf="!isLoading">
  <table class="table table-hover ">
    <thead class="table-header">
      <tr>
        <!-- <th style="width: 5%;" scope="col">Id</th> -->
        <th style="width: 15%;" scope="col">Nombre</th>
        <th style="width: 15%;" scope="col">CODIGO</th>
        <th style="width: 20%;" scope="col">Equipo</th>
        <th style="width: 15%;" scope="col">L.Nac.</th>
        <th style="width: 10%;" scope="col">F.Nac.</th>
        <th style="width: 5%;" scope="col">Edad</th>
        <th style="width: 10%;" scope="col">Mote</th>
        <th style="width: 15%;" scope="col">Debut</th>
        <th style="width: 5%;" scope="col">Num.</th>
        <th style="width: 5%;" scope="col">Pos.</th>
      </tr>
    </thead>
  </table>
  <table class="table table-hover">
    <thead class="table-header2">
      <ng-container *ngIf="!(pager.allItems-1 === pager.endIndex)">
        <tr *ngFor="let player of allItems | pagination:pager.startIndex:pager.pageSize">
          <!-- <td style="width: 5%;">{{i +1}}</td> -->
          <td style="width: 15%;">{{player.fullName}}</td>
          <td style="width: 15%;">{{player.id}}</td>
          <td style="width: 20%;">{{player.stats[0].splits[0].team.name}}</td>
          <td style="width: 15%;">{{player.birthCity}}</td>
          <td style="width: 10%;">{{player.birthDate}}</td>
          <td style="width: 5%;">{{player.currentAge}}</td>
          <td style="width: 10%;">{{player.nickName}}</td>
          <td style="width: 15%;">{{player.mlbDebutDate}}</td>
          <td style="width: 5%;">{{player.primaryNumber}}</td>
          <td style="width: 5%;">{{player.primaryPosition.abbreviation}}</td>
        </tr>
      </ng-container>


      <ng-container *ngIf="pager.allItems-1 === pager.endIndex">
        <tr *ngFor="let player of allItems | pagination:pager.startIndex:pager.allItems-((pager.totalPages-1)*10)">


          <!-- <td style="width: 5%;">{{i +1}}</td> -->
          <td style="width: 15%;">{{player.fullName}}</td>
          <td style="width: 15%;">{{player.id}}</td>
          <td style="width: 20%;">{{player.stats[0].splits[0].team.name}}</td>
          <td style="width: 15%;">{{player.birthCity}}</td>
          <td style="width: 10%;">{{player.birthDate}}</td>
          <td style="width: 5%;">{{player.currentAge}}</td>
          <td style="width: 10%;">{{player.nickName}}</td>
          <td style="width: 5%;">{{player.height}}</td>
          <td style="width: 15%;">{{player.mlbDebutDate}}</td>
          <td style="width: 5%;">{{player.primaryNumber}}</td>
          <td style="width: 5%;">{{player.primaryPosition.abbreviation}}</td>
        </tr>
      </ng-container>
      <span *ngIf="!allItems[0]" class="d-flex justify-content-center">
        <h1> Error: '{{ busqueda.value }}' no existe</h1>
      </span>
    </thead>
  </table>
  <!-- PAGINATION-->

  <div>
    <div class="container">
      <div class="text-center">
        <!-- items being paged -->
        <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->

        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(1)" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item ">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item ">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>

</ng-container>
