<!-- <div class="container_player_of_the_week"></div> -->
<div class="container-pow">
  <h1 class="pow-title">JUGADOR DE LA SEMANA</h1>
</div>
<div class="container-pow-week">
  <h3 class="pow-title-week">SEMANA 01</h3>
</div>
<div class="container_player_o_w">
  <div class="continer_empty"></div>
  <div class="photo_pow">
    <img class="img_photo_pow" src="../../../assets/torres2.jpg" alt="Gleyber Torres Running">
  <!-- </div> -->
  <div class="data_pow">

    <div class="data vb">
      VB - <span class="data_pow_num">20</span>
    </div>
    <div class="data hits">
      Hits - <span class="data_pow_num">12</span>
    </div>
    <div class="data ce">
      CE - <span class="data_pow_num">8</span>
    </div>
    <div class="data avg">
      AVG - <span class="data_pow_num">425</span>
    </div>
    <div class="data ca">
      CA - <span class="data_pow_num">6</span>
    </div>
    <div class="data bb">
      BB - <span class="data_pow_num">2</span>
    </div>
    <div class="data stk">
      PCHE - <span class="data_pow_num">4</span>
    </div>
    <div class="data hr">
      HR - <span class="data_pow_num">3</span>
    </div>
  </div>
  <div class="container_text">
    <p class="pow_txt"><a routerLink="playerinfo/:596115" class="pow_txt_name"> GLEYBER TORRES</a> bnvnv ghfghf nbvbv ghfghf nbvvn hgfghfghf nbvvbv nghfgf nbvnvbn gfgf h dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
<div class="continer_empty2"></div>


</div>
