<div class="container-pow">
  <h1 class="pow-title">Jugador de la Semana</h1>
</div>
<div class="containerPowAll">
  <div class="containerGrid1">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 01</h3>
    </div>
    <div class="container_player_o_w">
      <div class="continer_empty"></div>
      <div class="photo_pow">
        <img class="img_photo_pow" src="../../../assets/BATEADOR  DE LA SEMANA 1.jpg" alt="Franklin Barreto batting">
      </div>
    </div>
  </div>

  <div class="containerGrid2">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 02</h3>
    </div>
    <div class="container_player_o_w">
      <div class="continer_empty"></div>
      <div class="photo_pow">
        <img class="img_photo_pow" src="../../../assets/BATEADOR  DE LA SEMANA 1.jpg" alt="Franklin Barreto batting">
      </div>
      <div class="continer_empty2"></div>
    </div>
  </div>
</div>