<div class="container-actives">
  <div class="container-all">
    <h1 class="bioActives-title">Estadísticas del Pitcher</h1>
    <div *ngIf="!players">
      <i class="fas fa-baseball-ball fa-spin fa-3x fa-fw"></i>
      <p class="spiner_load">CARGANDO</p>
    </div>
    <div *ngIf="players">
      <div class="player_grid">
        <div class="player_pict">
          <h5 class="card-title">{{player?.fullName}}</h5>
          <img class="player_pict2" appImgFallback src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg" alt="Foto de Jugador de béisbol" appImgFallback>
          <!-- <p class="title-position">SPRING TRAINING 2020</p> -->
          <p class="title-position">Temporada 2019</p>

        </div>
        <div class="logo_team" *ngIf="player && player.stats[0].splits.length === 1  ">
          <img src="https://www.mlbstatic.com/team-logos/{{player.stats[0].splits[(player.stats[0].splits.length-1)].team.id}}.svg" alt="Logo de Equipo de MLB">
          <!-- <p>{{player.stats[0].splits[1].team.id}}</p> -->
        </div>
        <div class="logo_team" *ngIf="player && player.stats[0].splits.length > 1  ">
          <img src="https://www.mlbstatic.com/team-logos/{{player.stats[0].splits[(player.stats[0].splits.length - 2)].team.id}}.svg" alt="Logo de Equipo de MLB">
          <!-- <p>{{player.stats[0].splits[1].team.id}}</p> -->
        </div>
        <div class="player_stats">
          <table class="table   text-center">
            <thead class="table-header">
              <tr>
                <th style="width: 10%;" scope="col">Equipo</th>
                <th style="width: 5%;" scope="col">Inic</th>
                <th style="width: 5%;" scope="col">G</th>
                <th style="width: 5%;" scope="col">P</th>
                <th style="width: 5%;" scope="col">Salv</th>
                <th style="width: 5%;" scope="col">InnP</th>
                <th style="width: 5%;" scope="col">Efect</th>
                <th style="width: 5%;" scope="col">Hits</th>
                <th style="width: 5%;" scope="col">Pches</th>
                <th style="width: 5%;" scope="col">BB</th>
                <th style="width: 5%;" scope="col">Cl</th>
              </tr>
            </thead>

            <tbody class="table-header2">
              <tr *ngIf="player && player.stats && !player.stats[0].splits[1]">
                <td style="width: 10%;">{{player.stats[0].splits[0].team.name}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.gamesPitched}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.wins}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.losses}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.saves}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.inningsPitched}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.era}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.hits}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.strikeOuts}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.baseOnBalls}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[0].stat.earnedRuns}}</td>
              </tr>
              <tr *ngIf="player && player.stats && player.stats[0].splits[1]">
                <td style="width: 10%;">{{player.stats[0].splits[1].team.name}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.gamesPitched}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.wins}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.losses}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.saves}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.inningsPitched}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.era}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.hits}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.strikeOuts}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.baseOnBalls}}</td>
                <td style="width: 5%;">{{player.stats[0].splits[2].stat.earnedRuns}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="player_data">
          <ul class="list-group list-group-flush" *ngIf="player && player.stats && !player.stats[0].splits[3]">
            <li class="list-group-item"><strong> Equipo: </strong> {{player.stats[0].splits[0].team.name}}</li>
            <li class="list-group-item"><strong>Lugar de Nacimiento: </strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>Fecha de Nacimiento: </strong> {{player.birthDate}} </li>
            <li class="list-group-item"><strong> Edad: </strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Sobrenombre: </strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>Fecha de Debut en MLB: </strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero de Camiseta: </strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición Principal: </strong> {{player.primaryPosition.name}}</li>
          </ul>
          <ul class="list-group list-group-flush" *ngIf="player && player.stats && player.stats[0].splits[3]">
            <li class="list-group-item"><strong> Equipo: </strong> {{player.stats[0].splits[1].team.name}}</li>
            <li class="list-group-item"><strong>Lugar de Nacimiento: </strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>Fecha de Nacimiento: </strong> {{player.birthDate}} </li>
            <li class="list-group-item"><strong> Edad: </strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Sobrenombre: </strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>Fecha de Debut en MLB: </strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero de Camiseta: </strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición Principal: </strong> {{player.primaryPosition.name}}</li>
          </ul>
          <ul class="list-group list-group-flush" *ngIf="player && player.stats && player.stats[0].splits[2]">
            <li class="list-group-item"><strong> Equipo: </strong> {{player.stats[0].splits[2].team.name}}</li>
            <li class="list-group-item"><strong>Lugar de Nacimiento: </strong> {{player.birthCity}}</li>
            <li class="list-group-item"><strong>Fecha de Nacimiento: </strong> {{player.birthDate}} </li>
            <li class="list-group-item"><strong> Edad: </strong> {{player.currentAge}}</li>
            <li class="list-group-item"><strong>Sobrenombre: </strong> {{player.nickName}}</li>
            <li class="list-group-item"><strong>Fecha de Debut en MLB: </strong> {{player.mlbDebutDate}}</li>
            <li class="list-group-item"><strong>Numero de Camiseta: </strong> {{player.primaryNumber}}</li>
            <li class="list-group-item"><strong>Posición Principal: </strong> {{player.primaryPosition.name}}</li>
          </ul>
        </div>

        <div class="boton">
          <a href="javascript:history.back(-1)"><button class="button btn-primary">Volver a la página anterior</button></a>
          <div class="bottom_space"></div>
        </div>

      </div>
    </div>
  </div>
</div>

