.container-team {
    margin-top: 2%;
  }
  
  .team-title {
      color: antiquewhite;
      font-size: 1rem;
      text-align: center;
      margin: 2% auto 0.5rem;
      padding: .5rem 0;
      /* background-color: rgba(3, 2, 2, 0.5); */
      text-shadow: 2px 2px 8px #111;
      width: 13em;
      height: 2em;
      border-radius: 7px;
  }
  
  
  .link_player {
    text-decoration:none;
    color: antiquewhite;
  }
  
  .advancedSearchTextbox{
      color: rgb(2, 1, 0);
      font-size: 0.75rem;
      font-weight: bold;
      margin-left: 2%;
      margin-bottom: 1%;
      width: 15em;
  
  }
  
  .fa-baseball-ball {
    font-size: 10rem;
    margin: 5% 43% 0 !important;
    color: rgba(80, 57, 43, 0.40);
  }
  .spiner_load {
    font-size: 5rem;
    margin: 0 38% !important;
    color: rgba(80, 57, 43, 0.95);
  }
  
  
  .title-position{
      color: antiquewhite;
      font-size: 1rem;
      font-weight: 400;
      margin-left: 2%;
      margin-bottom: 0;
  }
  .player_stats {
      width: 100%;
      display: table;
  }
  
  
  
  .th5, .th7, .th8, .th9, .th10, .th11 {
      display: none;
  }
  .table-header {
      background-color: rgba(12, 10, 9, 0.9);
      color: antiquewhite;
      font-size: 0.75rem;
      font-weight: 100;
  }
  .table-header2 {
      background-color: rgba(12, 10, 9, 0.75);
      color: antiquewhite;
      font-size: 0.75rem;
  
  }
  .title-rows {
      background-color: antiquewhite;
      color: rgb(12, 10, 9);
  
  }
  
  .player-name {
      color: black;
  }
  .player-name:hover {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 1.15rem;
      text-decoration: none;
  }
  
  .row-color {
      background-color: rgb(245, 223, 195);
  
  }
  .row-color:hover {
      background-color: rgb(255, 255, 255);
  
  }
  .row-color1:hover {
      background-color: rgb(255, 255, 255);
  
  }
  
  .title-rows_header {
      text-align: center;
  }
  .error_search {
      width: 80%;
      margin-left: 10%;
      text-align: center;
      color: antiquewhite;
      background-color: rgba(12, 10, 9, 0.75);
      font-size: 0.85rem;
  
  }
  .paginator {
      margin: auto;
  }
  .paginator_text {
      display: none;
  }
  @media only screen and (min-width:300px ) and (max-width: 325px) {
      .container-team {
          margin-top: 2%;
        }
      .team-title {
          color: antiquewhite;
          font-size: 1rem;
          text-align: center;
          margin: .15rem auto 1.25rem 3rem;
          padding: .5rem 0;
          /* background-color: rgba(3, 2, 2, 0.5); */
          text-shadow: 2px 2px 8px #111;
          width: 13em;
          height: 2em;
          border-radius: 7px;
      }
      .table-header {
          font-size: 0.68rem;
      }
      .table-header2 {
          font-size: 0.68rem;
  
      }
  
  
  }
  @media only screen and (orientation: landscape) and (min-width:500px ) and (max-width: 600px) {
      .container-team {
          margin-top: 5% !important;
        }
  
  
      .team-title {
          font-size: 1.25rem;
          text-align: center;
          margin: .25rem auto 0.5rem !important;
          padding: .5rem 0;
          /* background-color: rgba(3, 2, 2, 0.5); */
          text-shadow: 2px 2px 8px #111;
          width: 13em;
          height: 2em;
          border-radius: 7px;
      }
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 0.75rem !important;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 0.75rem !important;
      }
  
      .th3, .th5, .th7, .th8, .th9 {
          display: table-cell;
      }
      .th11 {
          display: none;
      }
      .paginator_text {
          display: table-cell;
      }
  }
  @media only screen and (min-width:500px ) and (max-width: 1020px) {
      .container-team {
          margin-top: 2%;
        }
        .team-title {
          font-size: 1.5rem;
          margin: 0.15rem auto 0.5rem;
          padding: .5rem 0;
      }
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 1rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 1rem;
  
      }
      .error_search {
          font-size: 1.25rem;
  
      }
  
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (min-width:1021px ) and (max-width: 1439px) {
      .container-team {
          margin-top: 2% !important;
        }
        .team-title {
          font-size: 1.75rem;
          margin: 0.15rem auto 0.5rem !important;
          padding: .5rem 0;
      }
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 1rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 1rem;
  
      }
      .error_search {
          font-size: 1.5rem;
  
      }
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator {
          font-size: 1.25rem    }
  
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (min-width:1440px ) and (max-width: 3500px) {
      .container-team {
          margin-top: 0 !important;
        }
        .team-title {
          font-size: 2.75rem !important;
          margin: 0 auto !important;
          padding: 1.25rem 0;
      }
  
      .advancedSearchTextbox{
          font-size: 1.25rem;
  
      }
  
      .title-position{
          font-size: 1.25rem;
          margin-left: 2%;
          margin-bottom: 0;
      }
      .error_search {
          font-size: 1.5rem;
  
      }
  
  
  
      .table-header {
          font-size: 1.25rem;
      }
      .table-header2 {
          font-size: 1.25rem;
  
      }
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator {
          font-size: 1.25rem    }
  
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (orientation: landscape) and (min-width:601px ) and (max-width: 668px) {
      .container-team {
          margin-top: 1%;
        }
        .team-title {
          font-size: 1.25rem;
          margin: 0.15rem auto;
          padding: .5rem 0;
      }
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 0.7rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 0.7rem;
  
      }
  }
  @media only screen and (orientation: landscape) and (min-width:668px ) and (max-width: 730px) {
      .container-team {
          margin-top: 1%;
        }
        .team-title {
          font-size: 1.5rem;
          margin: 0.15rem auto 0.5rem 16.5rem;
          padding: .5rem 0;
      }
  
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 0.68rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 0.68rem;
  
      }
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (orientation: landscape) and (min-width:731px ) and (max-width: 1020px) {
      .container-team {
          margin-top: 1%;
        }
        .team-title {
          font-size: 1.5rem;
          margin: 0.15rem auto;
          padding: .5rem 0;
      }
  
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 0.68rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 0.68rem;
  
      }
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (orientation: landscape) and (min-width:1021px ) and (max-width: 1300px) {
      .container-team {
          margin-top: 1%;
        }
        .team-title {
          font-size: 1.75rem;
          margin: 0.15rem auto !important;
          padding: .5rem 0;
      }
  
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 1rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 1rem;
  
      }
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  @media only screen and (orientation: landscape) and (min-width:1301px ) and (max-width: 1500px) {
      .container-team {
          margin-top: 1%;
        }
        .team-title {
          font-size: 1.75rem;
          margin: 0.15rem auto !important;
          padding: .5rem 0;
      }
  
      .advancedSearchTextbox{
          font-size: 1rem;
  
      }
  
      .title-position{
          font-size: 1.5rem;
          margin-left: 2%;
          margin-bottom: 0;
      }
  
  
      .table-header {
          background-color: rgba(12, 10, 9, 0.9);
          color: antiquewhite;
          font-size: 1.25rem;
          font-weight: 100;
      }
      .table-header2 {
          background-color: rgba(12, 10, 9, 0.75);
          color: antiquewhite;
          font-size: 1.25rem;
  
      }
  
  
      .th3, .th5, .th7, .th8, .th9, .th10, .th11 {
          display: table-cell;
      }
      .paginator_text {
          display: table-cell;
      }
  
  
  
  }
  
  
  