
<div class="container_title_video">
  <h1 class="title_video">LETRAS Y BÉISBOL</h1>
  </div>
  <div class="container_video">
  <div class="embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>

    <img class="embed-responsive-item" src="../../../assets/CABRERAMARIM.jpg" alt="Miguel Cabrera" >
  </a>
    </div>
  </div>


  <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video2()>
    <h3 class="title_video_ppal"> M&M.<span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3> </a>


  <p class="line_break"> </p>

  <div class="container_videos">
    <div class=" videoa embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3E()>

        <img class="embed-responsive-item" src="../../../assets/ABREUMARIMONTES.JPG" alt="Bob Abreu" >
      </a>

    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3E()>
        <h3 class="title_video_secondary1"> Paciencia, la virtud de Bob Abreu. <span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videob embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4E()>

        <img class=" embed-responsive-item" src="../../../assets/ViticoMOntes.JPG" alt="Victor Davalillo">
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4E()>
        <h3 class="title_video_secondary1"> Ichiro se parece a Vitico.<span class="link_out">  Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videoc embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5E()>

        <img class="embed-responsive-item" src="../../../assets/PabloMariM.jpg" alt="Pablo López" >
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5E()>
        <h3 class="title_video_secondary1">"Pablo, como el Apóstol de los gentiles."<span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

  </div>
  <p class="line_break"> </p>

  <div class="container_videos">
    <div class=" videoa embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>

        <img class="embed-responsive-item" src="../../../assets/CABRERAMARIMONTES.JPG" alt="Miguel Cabrera" >
      </a>

    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video3()>
        <h3 class="title_video_secondary1"> "Miguel Cabrera, todavía queda juego."<span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videob embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>

        <img class=" embed-responsive-item" src="../../../assets/GALARRAGAMARIMONTES.JPG" alt="Andrés Gallarraga">
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video4()>
        <h3 class="title_video_secondary1"> "Andrés Galarraga, beisbol, puro beisbol."<span class="link_out">  Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videoc embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>

        <img class=" embed-responsive-item" src="../../../assets/GUTIMARIMONTES.JPG" alt="Guti Gutierrez">
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video5()>
        <h3 class="title_video_secondary1"> "El Guti, el que no se rinde." <span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

  </div>
  <p class="line_break"> </p>

  <div class="container_videos">
    <div class=" videoa embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>

        <img class=" embed-responsive-item" src="../../../assets/BAUDILIOMARIMONTES.JPG" alt="Baudilio Díaz">
      </a>

    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video31()>
        <h3 class="title_video_secondary1"> "El veinte de Baudilio Díaz."<span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videob embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>

        <img class=" embed-responsive-item" src="../../../assets/ENDYMARIMONTES.JPG" alt="Oduber Herrera y Anibal Sanchez">
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video41()>
        <h3 class="title_video_secondary1">"Endy."<span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

    <div class="videoc embed-responsive embed-responsive-16by9">
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>

        <img class=" embed-responsive-item" src="../../../assets/GONZALEZMARIMONTES.JPG" alt="Alex González">
      </a>
    </div>
    <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video51()>
        <h3 class="title_video_secondary1"> "Alex González, D.O.C." <span class="link_out"> Por Mari Montes.</span><span> Leer en Prodavinci.</span></h3>
      </a>

  </div>
  <p class="line_break"> </p>
  <div class="container_videos ">
      <div class=" videoa embed-responsive embed-responsive-16by9 ">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>

          <img class=" embed-responsive-item " src="../../../assets/FERNANDOPEREZ.JPG" alt="Jose Rondon">
        </a>

      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video6()>
          <h3 class="title_video_secondary1"> "Para Rumbiar." <span class="link_out"> Por Fernando Pérez.</span><span> Leer en letraslibres.</span></h3>
        </a>

      <div class="videob embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>

          <img class=" embed-responsive-item" src="../../../assets/RADIOYBEISBOL.jpg" alt="Guante y radio Viejo">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video7()>
          <h3 class="title_video_secondary1">"Clásico de beisbol: La digresión y el radio." <span class="link_out"> Por Pablo Duarte</span><span> Leer en letraslibres.</span></h3>
        </a>

      <div class="videoc embed-responsive embed-responsive-16by9">
        <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>

          <img class=" embed-responsive-item" src="../../../assets/ABCBEISBOL.jpg" alt="Antonio Senzatela">
        </a>
      </div>
      <a class="modal_a" data-toggle="modal" data-target="#exampleModal" (click)=video8()>
          <h3 class="title_video_secondary1">"El ABC del Béisbol."<span class="link_out"> Por Daniela Romero</span><span> Leer en hoyquehay.</span></h3>
        </a>

    </div>
    <p class="line_break"> </p>





  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Link Externo</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Se esta dirigiendo a un Link externo a vinotintosMLB.com
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No ir</button>
          <button type="button" class="btn btn-primary" (click)="urladdress()" data-dismiss="modal">Ir</button>
        </div>
      </div>
    </div>
  </div>

