/* You can add global styles to this file, and also import other style files */
body {
    background: url(./assets/fondo3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}