 body {
  box-sizing: border-box;

}

.dropdown-item, .nav-link {
  font-size: .80em;
  line-height: .85rem;
  cursor: pointer;
}

.sub_Menu_Titulo {
 font-size: .95em;
 font-weight: bold;
 color: darkred !important;
}

@media only screen and (min-width:1219px ) {
  .dropdown-item, .nav-link {
    font-size: 1em;

  }
}

.responsive.navbar-collapse{
  display: none;
}

.noResponsive.navbar-collapse{
  display: block;
}

@media only screen and (max-width:1023px){
  .responsive.navbar-collapse{
    display: block;
  }

  .noResponsive.navbar-collapse{
    display: none;
  }
}


