<!-- <div class="container_menu row"> -->
  <div class="menu_bar col-sm-12">
    <ul class="nav menu_ul">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" class="nav-link  dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PLAYERS
                  <!-- <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PLAYERS
                  </button> -->
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Players by Position</a>
                    <a class="dropdown-item" href="#">Players by Team</a>
                    <a class="dropdown-item" href="#">Players 2018</a>
                  </div>
                        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item register1">
          <a class="nav-link " href="#">REGISTER </a>
        </li>
        <li class="nav-item register2">
          <a class="nav-link " href="#">REGISTER HERE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
<!-- </div> -->
<!-- <div class="container_texto">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quis, 
    nostrum cupiditate aut amet molestiae a nihil dolorem atque? Laudantium maiores reiciendis expedita, dignissimos fugit maxime provident error corrupti? Veniam!Praesentium quo earum, unde ut hic nobis laborum rerum minima. Error, voluptatibus quas totam reiciendis consequatur 
    obcaecati illum maxime excepturi voluptatem aliquid officia? Consequuntur 
    impedit aliquid illum magni, optio nesciunt.</p>
</div> -->