 body {
  box-sizing: border-box;

}

.dropdown-item, .nav-link {
  font-size: .80rem;

}
/* .nav-link, .dropdown-item  {
font-size: 2em !important;

}
.nav-img {
  width: 100px;
  height: 100px;
}

.navbar-toggler-icon {
  font-size: 3em;

}


@media only screen and (min-width:1023px ) {
  .nav-link, .dropdown-item  {
    font-size: 1em !important;
    
    }
  .nav-img {
    width: 40px;
    height: 40px;
    }
    
  }     */


/* .container_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;


}
.menu_bar {
  background-color: #222222;
  height: 8.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}


.nav-link {
  padding: 0 !important;
  text-align: center;
  color: rgb(250, 232, 215);
  font-size: 0.65em;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(231, 226, 219);
}


.nav-item {
  flex: 1 0 auto;
  width: 6.5em;
  height: 2.5em;
  padding: 1em 1.25rem;
}

.dropdown-menu {
  background-color: rgb(255, 243, 229);
}

.dropdown-item {
  color: black;
  font-weight: 400;

}

.fa-twitter {
  width: 20%;
  margin: 0 .35rem;
  padding: 0 !important;


}

.mail {
  width: 20%;
  margin: 0 .35rem;
  padding: 0 !important;
}

.fa-instagram {
  width: 20%;
  margin: 0 .35rem;
  padding: 0 !important;
}

.social_items {
  padding: 0;
  margin: 0.75em 1rem 0 10px;
}

@media only screen and (min-width:300px ) and (max-width: 350px)  {
  .menu_bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

  }
  .fa-twitter {
    width: 20%;
  }
  
  .mail {
    width: 20%;
  }
  
  .fa-instagram {
    width: 20%;
  }
  
  .social_items {
    padding: 0;
    margin: 0.7rem 0.75rem 0 0;
  }
  .marginL_social_items {
    width: 0.15rem;
  }

  }
  
  @media only screen and (min-width:401px ) and (max-width: 500px)  {
 
  
    .fa-twitter {
      width: 10%;
    }
    
    .mail {
      width: 10%;
    }
    
    .fa-instagram {
      width: 10%;
    }
    
    .social_items {
      padding: 0;
      margin: 1rem 0.25rem 0 0;
    }
  
    }  
    @media only screen and (min-width:501px ) and (max-width: 766px)  {
   
      .menu_bar {
        height: 3.0em;
      
      }
      .menu_ul {
        height: 3.95em;
      
      }
      
      
      .nav-link {
        font-size: 0.6em;
      }
      
      
      
      .nav-item {
        width: 6em;
        height: 2.5em;
        padding: 1em .55rem;
      }
      
      
      .fa-twitter {
        width: 20%;
        margin: 0 .15rem;
        padding: 0 !important;
      
      
      }
      
      .mail {
        width: 20%;
        margin: 0 .15rem;
        padding: 0 !important;
      }
      
      .fa-instagram {
        width: 20%;
        margin: 0 .15rem;
        padding: 0 !important;
      }
      
      .social_items {
        padding: 0;
        margin: 0.75em 0;
      } 
  
  
    }  
    @media only screen and (min-width:767px ) and (max-width: 770px)  {
  
      .menu_bar {
        height: 4em !important;
      
      }
          
      .nav-link  {
        font-size: 0.75em !important;
      }
      .nav-item {
        width: 5em !important;
        height: 3.5em;
        padding: 1em 0;
      }
      .fa-twitter {
        width: 20%;
      
      
      }
      
      .mail {
        width: 20%;
      }
      
      .fa-instagram {
        width: 20%;
      }
      
        
      .social_items {
        padding: 0;
        margin: 0.75em 0;
        width: 9em !important;
      } 
  
  
  
    }
    @media only screen and (min-width:771px ) and (max-width: 1025px)  {
   
      .menu_bar {
        height: 4em;
      
      }
      .menu_ul {
        height: 3.95em;
      }
      .nav-link {
        font-size: .75em;
      }
      
      .nav-item {
        width:7.5em;
        height: 2.5em;
        padding: 1em 0.25rem;
      }
      
      .social_items {
        padding: 0;
        margin: 0.75em 0;
      } 
  
    }  
    @media only screen and (min-width:1026px ) and (max-width: 1441px)  {
   
      .menu_bar {
        height: 3em;
      
      }
      .menu_ul {
        height: 3.95em;
      }
      .nav-link {
        font-size: 1.05em;
      }
      
      .nav-item {
        width: 11.0em;
        height: 2.5em;
        padding: 1em 0.45rem;
      }
      
      .social_items {
        padding: 0;
        margin: 0.75em 0;
      } 
  
    }  
    @media only screen and (min-width:1027px ) and (max-width: 1520px)  {
   
      .menu_bar {
        height: 3.5em;
      
      }
      .menu_ul {
        height: 3.95em;
      }
      .nav-link {
        font-size: 1.0em;
      }
      
      .nav-item {
        width: 14.0em;
        height: 2.5em;
        padding: 1em 0.95rem;
      }
      
      .social_items {
        padding: 0;
        margin: 0.75em 0;
      } 
  
    }  
    @media only screen and (min-width:1521px ) and (max-width: 4200px)  {
   
      .menu_bar {
        height: 7.5em;
      
      }
      .menu_ul {
        height: 5.95em;
      }
      .nav-link {
        font-size: 1.75em !important;
      }
      
      .nav-item {
        width: 19.5em;
        height: 2.5em;
        padding: 1em 0.95rem;
      }
      
      .social_items {
        padding: 0;
        margin: 0.75em 0;
      } 
  
    } 

  @media only screen and (orientation : landscape) and (min-width:501px ) and (max-width: 600px)  {
    .menu_bar {
      height: 3.25em !important;
    
    }
        
    .nav-link  {
      font-size: 0.65em !important;
    }
    .nav-item {
      width: 4.25em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 18%  !important;
    }
    
    .mail {
      width: 18%  !important;
    }
    
    .fa-instagram {
      width: 18%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0.75rem 0 0;
    }
    .marginL_social_items {
      width: 0.15rem;
    }
    
  } 
  @media only screen and (orientation : landscape) and (min-width:601px ) and (max-width: 701px)  {
    .menu_bar {
      height: 3.25em !important;
    
    }
        
    .nav-link  {
      font-size: 0.6em !important;
    }
    .nav-item {
      width: 4.85em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 18%  !important;
    }
    
    .mail {
      width: 18%  !important;
    }
    
    .fa-instagram {
      width: 18%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0.75rem 0 0;
    }
    .marginL_social_items {
      width: 0.15rem;
    }
    
  } 
  @media only screen and (orientation : landscape) and (min-width:702px ) and (max-width: 750px)  {
    .menu_bar {
      height: 3.25em !important;
    
    }
        
    .nav-link  {
      font-size: 0.750em !important;
    }
    .nav-item {
      width: 5.65em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 18%  !important;
    }
    
    .mail {
      width: 18%  !important;
    }
    
    .fa-instagram {
      width: 18%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0.25rem 0 0;
    }
    .marginL_social_items {
      width: 0.15rem;
    }
    
  } 
  @media only screen and (orientation : landscape) and (min-width:751px ) and (max-width: 825px)  {
    .menu_bar {
      height: 3.25em !important;
    
    }
        
    .nav-link  {
      font-size: 0.75em !important;
    }
    .nav-item {
      width: 6em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 16%  !important;
    }
    
    .mail {
      width: 16%  !important;
    }
    
    .fa-instagram {
      width: 16%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0 0 0;
    }
    .marginL_social_items {
      width: 0.1rem;
    }
    
  } 
  @media only screen and (orientation : landscape) and (min-width:826px ) and (max-width: 1300px)  {
    .menu_bar {
      height: 4.5em !important;
    
    }
        
    .nav-link  {
      font-size: 1em !important;
    }
    .nav-item {
      width: 7.75em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 16%  !important;
    }
    
    .mail {
      width: 16%  !important;
    }
    
    .fa-instagram {
      width: 16%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0 0 0;
    }
    .marginL_social_items {
      width: 0.1rem;
    }
    
  } 
  @media only screen and (orientation : landscape) and (min-width:1031px ) and (max-width: 1920px)  {
    .menu_bar {
      height: 3.25em !important;
    
    }
        
    .nav-link  {
      font-size: 1em !important;
    }
    .nav-item {
      width: 10.5em !important;
      height: 2.5em;
      padding: 1em 0;
    }
    .fa-twitter {
      width: 16%  !important;
    }
    
    .mail {
      width: 16%  !important;
    }
    
    .fa-instagram {
      width: 16%  !important;
    }
    .social_items {
      padding: 0;
      margin: 0.7rem 0 0 0;
    }
    .marginL_social_items {
      width: 0.1rem;
    }
    
  } 

   */


