<!-- <div class="container_menu row"> -->
  <div class="menu_bar col-sm-12">
    <ul class="nav menu_ul">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" class="nav-link  dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JUGADORES
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="daily">Actuación Diaria</a>
                    <a class="dropdown-item" routerLink="team">Jugadores por Equipo</a>
                    <a class="dropdown-item" routerLink="position">Jugadores por Posicion</a>
                    <a class="dropdown-item" routerLink="actives">Jugadores del 2018</a>
                    <a class="dropdown-item" routerLink="bioActives">Biografia de Jugadores del 2018</a>
                  </div>
                        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news"> NOTICIAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutUs">NOSOTROS</a>
        </li>
        <li class="nav-item register1">
          <a class="nav-link " routerLink="register">REGISTRESE </a>
        </li>
        <li class="nav-item register2">
          <a class="nav-link " routerLink="register">REGISTRESE AQUI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contactUs">CONTACTENOS</a>
        </li>
      </ul>
    </div>
