<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between  sticky-top ">
  <a class="navbar-brand nav-link" routerLink="/">
    <img class="nav-img" src="../../../assets/Logo VinotintosMLB.png" width="40" height="40" alt="">
  </a>
  <button id="btnMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mr-2 dropdown">
        <a class="nav-link dropdown-toggle"   href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Jugadores
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item sub_Menu_Titulo" >BATEO</a>
          <a class="dropdown-item" (click)="closeMenu()" (click)="closeMenu()" routerLink="daily">Actuación Diaria</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="qpasohoy">Jonroneros de Ayer</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="actives">Temporada 2019 </a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="bioActives">Biografía </a>


          <div class="dropdown-divider"></div>
          <a class="dropdown-item sub_Menu_Titulo">PITCHEO</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="p_daily">Actuación Diaria</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="p_byteam">Por equipo</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="p_actives">Temporada 2019 </a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="p_bio">Biografía </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item sub_Menu_Titulo">ORGANIZADOS POR</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="team">Equipo MLB</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="position">Posición Defensiva</a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="equipoVzla">Equipo en Venezuela </a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="estadoVzla">Estado de Origen en Venezuela </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="transacciones">Transacciones </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="novatos">Novatos 2019 </a>
        </div>
    </li>
      <li class="nav-item mr-4">
        <a class="nav-link cerrarClick"(click)="closeMenu()"  routerLink="pruebajson">Bateo Diario</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="lideres">Líderes </a>
      </li>

      <li class="nav-item mr-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Equipos
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="closeMenu()" routerLink="posiciones"> Posiciones </a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="resultados"> Resultados de Hoy </a>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="resultadosAyer"> Resultados de Ayer </a>
        </div>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="news">Noticias</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="letrasybeisbol">Letras y Béisbol</a>
      </li>
      <li class="nav-item mr-4 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Multimedia
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="closeMenu()" routerLink="videos">Videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="infog_Show">Infografías </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="closeMenu()" routerLink="podCasts">PodCasts</a>
        </div>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="contactUs">Contáctenos</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="aboutUs">Nosotros</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" (click)="closeMenu()" routerLink="trivia">L.Fantasía</a>
        <!-- <a class="nav-link" (click)="closeMenu()" routerLink="register">L.Fantasía</a> -->
      </li>
    </ul>
  </div>

</nav>

