.pow-title {
    color: antiquewhite;
    font-size: 2.5rem;
    text-align: center;
    margin: 0.15rem auto 0;
    padding: 0 .5rem 0.4rem;
    /* background-color: rgba(3, 2, 2, 0.5); */
    text-shadow: 2px 2px 8px #111;
    width: fit-content;
    height: 1.25em;
    border-radius: 7px;
  }
  .pow-title-week {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 0.15rem auto 0;
    padding: 0 .5rem 0.4rem;
    /* background-color: rgba(3, 2, 2, 0.5); */
    text-shadow: 2px 2px 8px #111;
    width: fit-content;
    height: 1.5em;
    border-radius: 7px;
  }
  .container-pow-week {
    text-align: center;
  }

  .containerPowAll {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
  }
  .containerGrid1 {
    grid-column: 1/2;
    margin: 0 auto;
  }
  .containerGrid2 {
    grid-column: 2/3;
    margin: 0 auto 2rem;
  }
  .containerGrid3 {
    grid-column: 3/4;
    margin: 0 auto 2rem;
  }
  .pow-title-week {
    margin: 1em auto;
  }
.photo_pow {
  text-align: center;
}

  @media only screen and (max-width : 1024px) {
  .pow-title {
    font-size: 1.75em;
    width: fit-content;
    padding: 0 1rem;  
  }
  .pow-title-week{
    font-size: 1.25em;
    width: fit-content;
    padding: 0 1rem;  
    text-align: center;
  }
    .containerPowAll {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding-bottom: 2rem;
    }
    .containerGrid1 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;   
     }
    .containerGrid2 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;    
        }
    .containerGrid3 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 3/4;
      text-align: center;    
        }
        
  }
  .img_photo_pow {
    width: 75%;
    border: solid white 2px;

  }

 
  