<div class="container-pow">
  <h1 class="pow-title">JUGADOR DE LA SEMANA</h1>
</div>
<div class="containerPowAll">
    <div class="containerGrid1">
<div class="container-pow-week">
  <h3 class="pow-title-week">SEMANA 01</h3>
</div>
<div class="container_player_o_w">
  <div class="continer_empty"></div>
  <div class="photo_pow">
    <img class="img_photo_pow" src="../../../assets/JugadorDeLaSemana1.jpg" alt="Asdrubal Cabrera on Ice">
</div>
</div>
</div>


<div class="containerGrid2">
<div class="container-pow-week">
  <h3 class="pow-title-week">SEMANA 02</h3>
</div>
<div class="container_player_o_w">
  <div class="continer_empty"></div>
  <div class="photo_pow">
    <img class="img_photo_pow" src="../../../assets/JUGADORDELASEMANA2.jpg" alt="Wilson Contreras">
</div>
</div>
</div>

</div>
