.pow-title {
    color: antiquewhite;
    font-size: 2.5rem;
    text-align: center;
    margin: 0.15rem auto 0;
    padding: 0 .5rem 0.4rem;
    /* background-color: rgba(3, 2, 2, 0.5); */
    text-shadow: 2px 2px 8px #111;
    width: fit-content;
    height: 1.25em;
    border-radius: 7px;
  }
  .pow-title-week {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0 .5rem 0.4rem;
    /* background-color: rgba(3, 2, 2, 0.5); */
    text-shadow: 2px 2px 8px #111;
    width: fit-content;
    height: 1.5em;
    border-radius: 7px;
  }
  .container-pow-week {
    text-align: center;
  }

  .containerPowAll {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;

  }
  .containerGrid1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto 2rem;
  }
  .containerGrid2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto 2rem;
  }
  .containerGrid3 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0 auto 2rem;
  }
  .containerGrid4 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto 2rem;
  }
  .containerGrid5 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto 2rem;
  }
  .containerGrid6 {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0 auto 2rem;
  }
  .containerGrid7 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0 auto 2rem;
  }
  .containerGrid8 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0 auto 2rem;
  }
  .containerGrid9 {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0 auto 2rem;
  }
  .containerGrid10 {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0 auto 2rem;
  }
  .containerGrid11 {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0 auto 2rem;
  }
  .containerGrid12 {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 0 auto 2rem;
  }
  /* .pow-title-week {
    margin: 1em auto;
  } */
.photo_pow {
  text-align: center;
}
/* .bottomMargin {
  margin-bottom: 4rem;
} */


  @media only screen and (max-width : 1024px) {
  .pow-title {
    font-size: 1.75em;
    width: fit-content;
    padding: 0 1rem;
  }
  .pow-title-week{
    font-size: 1.25em;
    width: fit-content;
    padding: 0 1rem;
    text-align: center;
  }
    .containerPowAll {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 1fr);
      padding-bottom: 2rem;
    }
    .containerGrid1 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
   }
    .containerGrid2 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;
        }
    .containerGrid3 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 3/4;
      text-align: center;
        }
    .containerGrid4 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 4/5;
      text-align: center;
        }
    .containerGrid5 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 5/6;
      text-align: center;
        }
    .containerGrid6 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 6/7;
      text-align: center;
        }
    .containerGrid7 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 7/8;
      text-align: center;
        }
    .containerGrid8 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 8/9;
      text-align: center;
        }
    .containerGrid9 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 9/10;
      text-align: center;
        }
    .containerGrid10 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 10/11;
      text-align: center;
        }
    .containerGrid11 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 11/12;
      text-align: center;
        }
    .containerGrid12 {
      width: 90%;
      grid-column: 1/2;
      grid-row: 12/13;
      text-align: center;
        }

  }
  .img_photo_pow {
    width: 75%;
    border: solid white 2px;
  }


