<div class="container-pow">
  <h1 class="pow-title">Jugador de la Semana</h1>
</div>
<div class="containerPowAll">
    <div class="containerGrid1">
<div class="container-pow-week">
  <h3 class="pow-title-week">Semana 01</h3>
</div>
<div class="container_player_o_w">
  <div class="continer_empty"></div>
  <div class="photo_pow">
      <a routerLink="/playerinfo/452678"><img class="img_photo_pow" src="../../../assets/JugadorDeLaSemana1.jpg" alt="Asdrubal Cabrera on Ice"></a>
</div>
</div>
</div>


<div class="containerGrid2">
<div class="container-pow-week">
  <h3 class="pow-title-week">Semana 02</h3>
</div>
<div class="container_player_o_w">
  <div class="continer_empty"></div>
  <div class="photo_pow">
      <a routerLink="/playerinfo/575929"><img class="img_photo_pow" src="../../../assets/JUGADORDELASEMANA2.jpg" alt="Wilson Contreras"></a>
</div>
</div>
</div>
<div class="containerGrid3">
  <div class="container-pow-week">
    <h3 class="pow-title-week">Semana 03</h3>
  </div>
  <div class="container_player_o_w">
    <div class="continer_empty"></div>
    <div class="photo_pow">
        <a routerLink="/playerinfo/514888"><img class="img_photo_pow" src="../../../assets/JUGADOR DE LA SEMANA 3 ALTUVE.jpg" alt="José Altuve"></a>
  </div>
  </div>
  </div>

  <div class="containerGrid4">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 04</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/playerinfo/500874"><img class="img_photo_pow" src="../../../assets/JUGADOR DE LA SEMANA 4 JOSE MARTINEZWEB.jpg" alt="José Martínez"></a>
  </div>
  </div>
  </div>
  <div class="containerGrid5">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 05</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/playerinfo/500871"><img class="img_photo_pow" src="../../../assets/POW EDUARDO ESCOBAR 28 Abril 2019.jpg" alt="José Martínez"></a>
  </div>
  </div>
  </div>
  <div class="containerGrid6">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 06</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/playerinfo/408234"><img class="img_photo_pow" src="../../../assets/MIGUEL C POW 6ta  SEMANA.jpg" alt="José Martínez"></a>
  </div>
  </div>
  </div>
  <div class="containerGrid7">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 07</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/pitcherinfo/553878"><img class="img_photo_pow" src="../../../assets/JUG SEMANA 7.jpg" alt="Felipe Vázquez"></a>
  </div>
  </div>
  </div>
  <div class="containerGrid8">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 08</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/playerinfo/500871"><img class="img_photo_pow" src="../../../assets/JUG DE LA SEMANA 8 E ESCOBAR.jpg" alt="Eduardo Escobar"></a>
  </div>
  </div>
  </div>
  <div class="containerGrid9">
    <div class="container-pow-week">
      <h3 class="pow-title-week">Semana 09</h3>
    </div>
  <div class="container_player_o_w ">
    <div class="continer_empty"></div>
    <div class="photo_pow ">
        <a routerLink="/playerinfo/600524"><img class="img_photo_pow" src="../../../assets/JUGADOR DE LA SEMANA 9na RENATO NUÑEZ.jpg" alt="Renato Nuñez"></a>
  </div>
  </div>
  </div>
</div>
