<div class="container">
  <ng-container *ngIf="playersData">
    
    <ul  class="ulData">
      <!-- <li class="liData"><strong>Id:</strong>{{player.id}}  </li> -->
      <!-- <li class="liData"><strong>Veces al Bate:</strong>{{elarray.atBats}}  </li>
      <li class="liData"><strong>Hits:</strong>{{elarray.hits}}  </li>
      <li class="liData"><strong>Total de bases:</strong>{{elarray.totalBases}}  </li> -->
    </ul>
    <!-- <ul *ngFor="let player of players.stats" class="ulData">
      <li class="liData"><strong>Id:</strong>{{player.id}}  </li>
      <li class="liData"><strong>Name:</strong>{{player.fullName}}  </li>
    </ul> -->
  </ng-container>
</div>
