/* Prueba de Cards flips */
#team {
  background: #eee !important;
}

.card_wrapper {
  margin: 0 auto !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  font-weight: bold;
  text-align: center;
  color: #630d15;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}




@media screen and (min-width: 1200px) {
.container {
  margin: 0 auto !important;
    max-width: 100rem;
    padding: 0;
}
}

hr {

  border-top: 2px solid rgba(0, 0, 0, 0.493);
}

/* Prueba de Cards flips */




.daily-title {
  color: antiquewhite;
  font-size: 2.25rem;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5em .4em;
  /* background-color: rgba(19, 12, 12, 0.5); */
  text-shadow: 2px 2px 8px #111;
  width: fit-content;
  height: 1.75em;
  border-radius: 7px;
}
.container-daily {
  margin: auto;
}
.card-title-liga {
  color: rgb(248, 214, 169);
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  margin: 1rem auto;
  text-shadow: 2px 2px 8px #111;
  width: 20rem;
  border-radius: 7px;

}

.card-title {
  text-align: center;
  margin: 0 auto;
  width: 99%;
  padding: .25em 0;
}
.name-title {
  font-weight: bold;
}

.card_general {
  display: grid;
  grid-template-columns: repeat(5, 18rem);
  grid-column-gap: .5rem;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: .5rem;

  margin: 0 auto;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  justify-content: space-around;

}

.card {
  width: 17rem;
  height: 18rem;
  margin: .5rem;
  box-shadow: rgba(0, 0, 0, 0.397) 3px 3px 6px;

}
.card_manager {
  text-align: center;

}
.card_manager2 {
  align-self: center;

}
.card-link {
  padding: .25em 0;
  margin-top: 1rem;
  width: 6rem;
}
.card-body {
  padding:.5!important;
}
.card-img-top {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.page-link {
color: black !important;
}

.seleccion {
  color: antiquewhite;
  padding: 0 0.5em .4em;
  text-shadow: 2px 2px 8px #111;
}


.advancedSearchDatetbox{
  color: rgb(2, 1, 0);
  font-size: 0.75rem;
  /* font-weight: bold; */
  /* margin: 1% 0 2% 1%; */
  width: fit-content;
  border-radius: 6px;
  }

.error_search {
  font-size: 0.7rem;
  width: 50%;
  margin-left: 2%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(12, 10, 9, 0.75);

}
.table {
border-collapse: separate;

}


.error_message {
  padding-top: 10px;
  font-size: 0.7rem;

}

.link_player {
  text-decoration:none;
  color: antiquewhite;
}
.title-positionA {
color: white;
font-size: 1.5rem;
font-weight: bold;
/* width: 80%;
margin-left: 10%; */

/* margin: .5rem 0 .5rem .5rem; */

}

.title-position {
color: white;
font-size: 1rem;
font-weight: bold;
/* width: 80%;
margin-left: 10%; */
  /* margin: .5rem 0 .5rem .5rem; */
    }

.player_stats {
  width: 100%;
  display: table;
  /* margin: auto; */
}

.td7, .td8, .td11 {
  display: none;
}

.table-header1 {
  background-color: rgba(12, 10, 9, 0.9);
  color: antiquewhite;
  font-size: 1rem;
  align-items: center;
}
.table-header {
  background-color: rgba(12, 10, 9, 0.75);
  color: antiquewhite;
  font-size: 1rem;
  align-items: center;
}
.title-rows {
  background-color: antiquewhite;
  color: rgb(12, 10, 9);

}

.player-name {
  color: black;
}
.player-name:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.15rem;
  text-decoration: none;
}

.row-color {
  background-color: rgb(245, 223, 195);

}
.row-color:hover {
  background-color: rgb(255, 255, 255);

}
.row-color1:hover {
  background-color: rgb(255, 255, 255);

}

.title-rows_header {
  text-align: center;
}

.spiner {
  margin-left: 20% !important;

}

.fa-baseball-ball {
  font-size: 8rem;
  margin: 5% 0 0 25%  !important;
  color: rgba(80, 57, 43, 0.40);
}
.spiner_load {
  font-size: 2.5rem;
  color: rgba(80, 57, 43, 0.95);
}

th {
  padding: 12px 5px;
  }
.paginator {
  margin: auto;
}
.paginator_text {
  display: none;
}

@media screen and (max-width:600px) and (min-width: 300px) {
  .daily-title {
  font-size: 1.5rem;

}
}
