<div class="container-No_Actives">
  <h1 class="No_actives_title">Transacciones</h1>
  <h3 class="No_actives_title1">Temporada Regular 2019</h3>
</div>

<div class="container-flex">
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/642731.jpg" alt="Thairo Estrada">  Thairo Estrada</div>
      <div class="card-body">
        <h5 class="card-title"> New York Yankees</h5>
        <p class="card-text">  Enviado al Scranton/Wilkes-Barre RailRiders, el 07 de junio de 2019.</p>
      </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/471911.jpg" alt="Carlos Carrasco">  Carlos Carrasco</div>
      <div class="card-body">
        <h5 class="card-title"> Cleveland Indians</h5>
        <p class="card-text">  Ponen en lista de lesionados de 10 días, el 05 de junio de 2019.</p>
      </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/465041.jpg" alt="Francisco Cervelli">  Francisco Cervelli</div>
      <div class="card-body">
        <h5 class="card-title"> Pittsburgh Pirates</h5>
        <p class="card-text">  Ponen en lista de lesionados de 10 días, el 04 de junio de 2019.</p>
      </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/650333.jpg" alt="Luis Arraez">  Luis Arraez</div>
      <div class="card-body">
        <h5 class="card-title"> Minnesota  Twins</h5>
        <p class="card-text"> Enviado al Rochester Red Wings, el 03 de junio de 2019.</p>
      </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/471865.jpg" alt="Carlos Gonzalez">  Carlos González</div>
      <div class="card-body">
        <h5 class="card-title"> Chicago Cubs</h5>
        <p class="card-text">  Compraron contrato del Iowa Cubs, 03 de junio de 2019.</p>
</div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/660761.jpg" alt="José Suarez">  José Suárez</div>
      <div class="card-body">
        <h5 class="card-title"> Los Angeles Angels</h5>
        <p class="card-tex">  Enviado al Salt Lake Bees, el 03 de junio de 2019.</p>
      </div>
          </div>
        <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
          <div class="card-header"><img class="img-player" src="../../../../assets/444482.jpg" alt=" David Peralta"> David Peralta</div>
          <div class="card-body">
            <h5 class="card-title">Arizona Diamondbacks </h5>
            <p class="card-text"> Retirado de lista de lesionados de 10 días, el 03 de junio de 2019.</p>
          </div>
            </div>
          <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
            <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/621237.jpg" alt="José Alvarado">José Alvarado</div>
            <div class="card-body">
              <h5 class="card-title">Tampa Bay Rays</h5>
              <p class="card-text"> Ponen en lista de duelo, 02 de junio de 2019.</p>
                </div>
                </div>
          <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
            <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/622786.jpg" alt="Jesús Tinoco">Jesús Tinoco</div>
            <div class="card-body">
              <h5 class="card-title">Colorado Rockies</h5>
              <p class="card-text"> Enviado al Albuquerque Isotopes, 02 de junio de 2019.</p>
                </div>
                </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/660761.jpg" alt="José Suárez">  José Suárez</div>
        <div class="card-body">
          <h5 class="card-title"> Los Angeles Angels</h5>
          <p class="card-tex">  Enviado al  Salt Lake Bees, el 02 de junio de 2019.</p>
        </div>
          </div>
          <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
            <div class="card-header"><img class="img-player" src="../../../../assets/468504.jpg" alt="Jhoulys Chacín">  Jhoulys Chacín</div>
            <div class="card-body">
              <h5 class="card-title"> Milwaukee Brewers</h5>
              <p class="card-tex">  Ponen en lista de lesionados de 10 días retroactivo a junio 1, el 02 de junio de 2019.</p>
            </div>
              </div>
              <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
                <div class="card-header"><img class="img-player" src="../../../../assets/471865.jpg" alt="Carlos Gonzalez">  Carlos González</div>
                <div class="card-body">
                  <h5 class="card-title"> Chicago Cubs</h5>
                  <p class="card-text">  Firmó un contrato de Ligas Menores, 01 de junio de 2019.</p>
                </div>
                  </div>
              <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
                <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/491646.jpg" alt="Jeanmar Gomez">Jeanmar Gomez</div>
                <div class="card-body">
                  <h5 class="card-title">Texas Rangers</h5>
                  <p class="card-text"> Liberado, 01 de junio de 2019.</p>
                </div>
              </div>
              <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
                <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/444489.jpg" alt="Manny Piña">Manny Piña</div>
                <div class="card-body">
                  <h5 class="card-title">Milwaukee Brewers</h5>
                  <p class="card-text"> Retirado de lista de lesionados de 10 días, 01 de junio de 2019.</p>
                </div>
              </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/622786.jpg" alt="Jesús Tinoco">Jesús Tinoco</div>
      <div class="card-body">
        <h5 class="card-title">Colorado Rockiess</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde Albuquerque Isotopes, 31 de mayo de 2019.</p>
          </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/622682.jpg" alt="Victor Reyes">Víctor Reyes</div>
      <div class="card-body">
        <h5 class="card-title">Detroit Tigers</h5>
        <p class="card-text"> Enviado al  Toledo Mud Hens, 30 de mayo de 2019.</p>
          </div>
          </div>
          <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
            <div class="card-header"><img class="img-player" src="../../../../assets/517369.jpg" alt="Jose Pirela">  Jose Pirela</div>
            <div class="card-body">
              <h5 class="card-title">San Diego Padres</h5>
              <p class="card-text"> Enviado a rehabilitación a El Paso Chihuahuas, 30 de mayo de 2019.</p>
            </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/434671.jpg" alt="Anibal Sánchez">  Anibal Sánchez</div>
        <div class="card-body">
          <h5 class="card-title"> Washington Nationals</h5>
          <p class="card-text"> Retirado de lista de lesionados de 10 días, el 29 de mayo de 2019.</p>
        </div>
          </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/614179.jpg" alt="Jose Ruiz">  Jose Ruíz</div>
        <div class="card-body">
          <h5 class="card-title"> Chicago White Sox</h5>
          <p class="card-text">Llamado al Equipo Mayor desde Charlotte Knights, el 28 de mayo de 2019.</p>
        </div>
          </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/444489.jpg" alt="Manny Piña">Manny Piña</div>
    <div class="card-body">
      <h5 class="card-title">Milwaukee Brewers</h5>
      <p class="card-text"> Enviado al Wisconsin Timber Rattlers para asignación de rehabilitación, 28 de Mayo de 2019.</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/546318.jpg" alt="Odubel Herrera">Odubel Herrera</div>
    <div class="card-body">
      <h5 class="card-title">Philadelphia Phillies</h5>
      <p class="card-text"> Ponen  en lista restringida, 28 de Mayo de 2019.</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/622682.jpg" alt="Victor Reyes">Víctor Reyes</div>
    <div class="card-body">
      <h5 class="card-title">Detroit Tigers</h5>
      <p class="card-text"> Llamado al Equipo Mayor desde Toledo Mud Hens, 28 de Mayo de 2019.</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/650382.jpg" alt="Darwinzon Hernandez">Darwinzon Hernández</div>
    <div class="card-body">
      <h5 class="card-title">Boston Red Sox</h5>
      <p class="card-text"> Enviado al Portland Sea Dogs, 27 de Mayo de 2019.</p>
    </div>
  </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/602074.jpg" alt="Yonathan Daza">  Yonathan Daza</div>
      <div class="card-body">
        <h5 class="card-title">Colorado Rockies</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde  Albuquerque Isotopes, el 27 de Mayo de 2019 .</p>
      </div>
    </div>
      <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/491646.jpg" alt="Jeanmar Gomez">Jeanmar Gomez</div>
        <div class="card-body">
          <h5 class="card-title">Texas Rangers</h5>
          <p class="card-text">Designado para asignación, 27 de mayo de 2019.</p>
          </div>
        </div>
      <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/622694.jpg" alt=" Elieser Hernandez"> Elieser Hernández</div>
      <div class="card-body">
        <h5 class="card-title">  Miami Marlins</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde el New Orleans Baby Cakes, el 27 de mayo de 2019.</p>
      </div>
        </div>
        <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
          <div class="card-header"><img class="img-player" src="../../../../assets/471865C.jpg" alt="Carlos Gonzalez">  Carlos González</div>
          <div class="card-body">
            <h5 class="card-title"> Cleveland Indians</h5>
            <p class="card-text">  Liberado, el 26 de mayo de 2019.</p>
          </div>
            </div>
         <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
          <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/591741.jpg" alt="José Osuna">José Osuna</div>
          <div class="card-body">
            <h5 class="card-title">Pittsburgh Pirates</h5>
            <p class="card-text"> Llamado al Equipo Mayor desde el Indianapolis Indians, 26 de Mayo de 2019.</p>
          </div>
        </div>
        <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
          <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/650382.jpg" alt="Darwinzon Hernandez">Darwinzon Hernández</div>
          <div class="card-body">
            <h5 class="card-title">Boston Red Sox</h5>
            <p class="card-text">  Llamado al Equipo Mayor desde el Portland Sea Dogs, 26 de Mayo de 2019.</p>
          </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/514888.jpg" alt=" Jose Altuve">   Jose Altuve</div>
      <div class="card-body">
        <h5 class="card-title">  Houston Astros</h5>
      <p class="card-text">  Asignado a Round Rock Express, el 26 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/465041.jpg" alt=" Francisco Cervelli"> Francisco Cervelli</div>
      <div class="card-body">
        <h5 class="card-title">Pittsburgh Pirates </h5>
        <p class="card-text">  Ponen en lista de lesionados de 7 días, el 26 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/462101.jpg" alt="Elvis Andrus">  Elvis Andrus</div>
      <div class="card-body">
        <h5 class="card-title">  Texas Rangers</h5>
        <p class="card-text"> Retirado de lista de lesionados de 10 días, el 25 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/444482.jpg" alt=" David Peralta"> David Peralta</div>
      <div class="card-body">
        <h5 class="card-title">Arizona Diamondbacks </h5>
        <p class="card-text"> Ponen en lista de lesionados de 10 días retroactivo al Mayo 22, el 24 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/506703.jpg" alt="Adrian Sanchez">  Adrián Sánchez</div>
      <div class="card-body">
        <h5 class="card-title">  Washington Nationals </h5>
        <p class="card-text"> Enviado al  Harrisburg Senators, el 22 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/545064.jpg" alt="Jairo Díaz">  Jairo Díaz</div>
      <div class="card-body">
        <h5 class="card-title"> Colorado Rockies</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde Albuquerque Isotopes, el 22 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/471865C.jpg" alt="Carlos Gonzalez">  Carlos González</div>
      <div class="card-body">
        <h5 class="card-title"> Cleveland Indians</h5>
        <p class="card-text">  Designado para asignación, el 22 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/614179.jpg" alt="Jose Ruiz">  Jose Ruíz</div>
      <div class="card-body">
        <h5 class="card-title"> Chicago White Sox</h5>
        <p class="card-text">   Enviado al Charlotte Knights, el 22 de mayo de 2019.</p>
      </div>
        </div>
        <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
          <div class="card-header"><img class="img-player" src="../../../../assets/545121.jpg" alt="Ildemaro Vargas">  Ildemaro Vargas</div>
          <div class="card-body">
            <h5 class="card-title">  Arizona Diamondbacks</h5>
            <p class="card-text"> Llamado al Equipo Mayor desde Reno Aces, el 21 de mayo de 2019.</p>
          </div>
            </div>
        <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/527038.jpg" alt=" Wilmer Flores">  Wilmer Flores</div>
      <div class="card-body">
        <h5 class="card-title"> Arizona Diamondbacks </h5>
        <p class="card-text">  Ponen en lista de lesionados de 10 días retroactivo a Mayo 20, el 21 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/462101.jpg" alt="Elvis Andrus">  Elvis Andrus</div>
      <div class="card-body">
        <h5 class="card-title">  Texas Rangers</h5>
        <p class="card-text"> Enviado al Frisco RoughRiders para rehabilitación, el 21 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/506702.jpg" alt="Sandy León">  Sandy León</div>
      <div class="card-body">
        <h5 class="card-title"> Boston Red Sox </h5>
        <p class="card-text"> Retiraron de la lista de paternidad, el 20 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/591712.jpg" alt=" Wilmer Flores">  Óscar Hernández</div>
      <div class="card-body">
        <h5 class="card-title"> Boston Red Sox </h5>
        <p class="card-text"> Enviado al Pawtucket Red Sox, el 20 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/650333.jpg" alt="Luis Arraez">  Luis Arraez</div>
      <div class="card-body">
        <h5 class="card-title"> Minnesota  Twins</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde el Rochester Red Wings, el 17 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/506702.jpg" alt="Sandy León">  Sandy León</div>
      <div class="card-body">
        <h5 class="card-title"> Boston Red Sox </h5>
        <p class="card-text"> Colocaron en la lista de paternidad, el 17 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/591712.jpg" alt="Oscar Hernandez">  Óscar Hernández</div>
      <div class="card-body">
        <h5 class="card-title"> Boston Red Sox </h5>
        <p class="card-text"> Seleccionaron el contrato del Pawtucket Red Sox, el 17 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/434671.jpg" alt="Aníbal Sánchez">  Aníbal Sánchez</div>
      <div class="card-body">
        <h5 class="card-title"> Washington Nationals </h5>
        <p class="card-text">Ponen en lista de lesionados de 10 días, el 17 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/444489.jpg" alt="Manny Piña">  Manny Piña</div>
      <div class="card-body">
        <h5 class="card-title"> Milwaukee Brewers</h5>
        <p class="card-text"> Ponen en lista de lesionados de 10 días, el 16 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/650859.jpg" alt="Luis Rengifo">  Luis Rengifo</div>
      <div class="card-body">
        <h5 class="card-title"> Los Angeles Angels</h5>
        <p class="card-text">   Enviado al Salt Lake Bees, el 16 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/622694.jpg" alt="  Elieser Hernandez">    Elieser Hernandez</div>
      <div class="card-body">
        <h5 class="card-title">  Miami Marlins</h5>
        <p class="card-text">  Enviado al New Orleans Baby Cakes, el 15 de mayo de 2019.</p>
      </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/542255.jpg" alt=" Ender Inciarte">  Ender Inciarte</div>
        <div class="card-body">
          <h5 class="card-title"> Atlanta Braves </h5>
          <p class="card-text"> Ponen en lista de lesionados de 10 días, el 15 de mayo de 2019.</p>
        </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/462101.jpg" alt=" Elvis Andrus">  Elvis Andrus</div>
        <div class="card-body">
          <h5 class="card-title"> Texas Rangers</h5>
          <p class="card-text"> Ponen en lista de lesionados de 10 días, el 15 de mayo de 2019.</p>
        </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/650859.jpg" alt=" Luis Rengifo">  Luis Rengifo</div>
        <div class="card-body">
          <h5 class="card-title"> Los Angeles Angels</h5>
          <p class="card-text">   Llamado al Equipo Mayor del Salt Lake Bees., el 14 de mayo de 2019.</p>
        </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/591693.jpg" alt=" Edubray Ramos">   Edubray Ramos</div>
        <div class="card-body">
          <h5 class="card-title">   Philadelphia Phillies</h5>
          <p class="card-text">  Ponen en lista de lesionados de 10 días, el 13 de mayo de 2019.</p>
        </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/605612.jpg" alt=" Harold Castro">   Harold Castro</div>
        <div class="card-body">
          <h5 class="card-title"> Detroit Tigers</h5>
          <p class="card-text"> Enviado al Toledo Mud Hens, el 13 de mayo de 2019.</p>
        </div>
        </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/514888.jpg" alt=" Jose Altuve">   Jose Altuve</div>
        <div class="card-body">
          <h5 class="card-title">  Houston Astros</h5>
          <p class="card-text">  Ponen en lista de lesionados de 10 días retroactivo al 11 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/553902.jpg" alt="  Willians Astudillo">    Willians Astudillo</div>
        <div class="card-body">
          <h5 class="card-title">  Minnesota Twins</h5>
          <p class="card-text"> Activan de la lista de lesionados de 10 días, el 12 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/591971.jpg" alt=" Breyvic Valera ">  Breyvic Valera </div>
        <div class="card-body">
          <h5 class="card-title">  New York Yankees</h5>
          <p class="card-text">  Reclamado fuera de waivers desde San Francisco Giants, el 12 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/433587.jpg" alt=" Felix Hernandez">   Felix Hernandez</div>
        <div class="card-body">
          <h5 class="card-title">  Seattle Mariners</h5>
          <p class="card-text"> Ponen en lista de lesionados de 10 días, el 12 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/621592.jpg" alt="Eduardo Jimenez">  Eduardo Jimenez</div>
      <div class="card-body">
        <h5 class="card-title"> Detroit Tigers</h5>
        <p class="card-text"> Enviado al Toledo Mud Hens, el 11 de mayo de 2019.</p>
      </div>
    </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/622694.jpg" alt="  Elieser Hernandez">    Elieser Hernandez</div>
        <div class="card-body">
          <h5 class="card-title">  Miami Marlins</h5>
          <p class="card-text">  Llamado al Equipo Mayor desde New Orleans Baby Cakes, el 11 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/650671.jpg" alt=" Jose Quijada">   Jose Quijada</div>
        <div class="card-body">
          <h5 class="card-title">  Miami Marlins</h5>
          <p class="card-text">   Enviado al New Orleans Baby Cakes, el 11 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/545121.jpg" alt=" Ildemaro Vargas">   Ildemaro Vargas</div>
        <div class="card-body">
          <h5 class="card-title">  Arizona Diamondbacks</h5>
          <p class="card-text"> Enviado al  Reno Aces, el 11 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/650671.jpg" alt=" Jose Quijada">   Jose Quijada</div>
        <div class="card-body">
          <h5 class="card-title">  Miami Marlins</h5>
          <p class="card-text">Llamado al Equipo Mayor desde el New Orleans Baby Cakes, el 08 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/485567.jpg" alt=" Ezequiel Carrera">   Ezequiel Carrera</div>
        <div class="card-body">
          <h5 class="card-title"> Angeles Dodgers</h5>
          <p class="card-text">   Liberado, el 07 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/650859.jpg" alt="Luis Rengifo">  Luis Rengifo</div>
        <div class="card-body">
          <h5 class="card-title">Angeles Angels</h5>
          <p class="card-text"> Enviado al Salt Lake Bees, el 07 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/467827.jpg" alt="Gerardo Parra">  Gerardo Parra</div>
        <div class="card-body">
          <h5 class="card-title">San Francisco Giants</h5>
          <p class="card-text"> Eligio ser Agente Libre, el 07 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/500208.jpg" alt="Yangervis Solarte">  Yangervis Solarte</div>
        <div class="card-body">
          <h5 class="card-title">San Francisco Giants</h5>
          <p class="card-text">  Designado para asignación, el 07 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/521655.jpg" alt=" Wilmer Font">   Wilmer Font</div>
        <div class="card-body">
          <h5 class="card-title"> Tampa Bay Rays</h5>
          <p class="card-text"> Cambiado a los New York Mets , el 06 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/621592.jpg" alt="Eduardo Jimenez">  Eduardo Jimenez</div>
        <div class="card-body">
          <h5 class="card-title"> Detroit Tigers</h5>
          <p class="card-text"> Llamado al Equipo Mayor desde el Toledo Mud Hens, el 05 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/614179.jpg" alt="Jose Ruiz">  Jose Ruiz</div>
        <div class="card-body">
          <h5 class="card-title">Chicago White Sox</h5>
          <p class="card-text"> Enviado al Charlotte Knights, el 05 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/591971.jpg" alt="Breyvic Valera">  Breyvic Valera</div>
        <div class="card-body">
          <h5 class="card-title">San Francisco Giants</h5>
          <p class="card-text"> Designado para asignación, el 05 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/501593.jpg" alt="Luis Avilan">  Luis Avilan</div>
        <div class="card-body">
          <h5 class="card-title">New York Mets</h5>
          <p class="card-text"> Ponen en la Lista de incapacitados por 10 días, el 04 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/467827.jpg" alt="Gerardo Parra">  Gerardo Parra</div>
        <div class="card-body">
          <h5 class="card-title">San Francisco Giants</h5>
          <p class="card-text"> Designado para asignación, el 03 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/622682.jpg" alt="Víctor Reyes">  Víctor Reyes</div>
        <div class="card-body">
          <h5 class="card-title">Detroit Tigers</h5>
          <p class="card-text"> Enviado al Toledo Mud Hens, el 02 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/623993.jpg" alt="Anthony Santander">  Anthony Santander</div>
        <div class="card-body">
          <h5 class="card-title">Baltimore Orioles</h5>
          <p class="card-text"> Enviado al Norfolk Tides, el 02 de mayo de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/591741.jpg" alt="Jose Osuna">  Jose Osuna</div>
        <div class="card-body">
          <h5 class="card-title">Pittsburgh Pirates</h5>
          <p class="card-text"> Lo envían en asignación de rehabilitación al Indianapolis Indians, el 30 de abril de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/605612.jpg" alt="Harold Castro">  Harold Castro</div>
        <div class="card-body">
          <h5 class="card-title">Detroit Tigers</h5>
          <p class="card-text"> Seleccionaron el contrato desde el Toledo Mud Hens, el 30 de abril de 2019.</p>
        </div>
      </div>
    <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
        <div class="card-header"><img class="img-player" src="../../../../assets/491696.jpg" alt="Jesús Sucre">  Jesús Sucre</div>
        <div class="card-body">
          <h5 class="card-title">Baltimore Orioles</h5>
          <p class="card-text"> Enviado (Outright) al Norfolk Tides, el 30 de abril de 2019.</p>
        </div>
      </div>

<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
  <div class="card-header"> <img class="img-player" src="../../../../assets/506703.jpg" alt="Adrián Sánchez"> Adrián Sánchez </div>
  <div class="card-body">
    <h5 class="card-title">Washington Nationals</h5>
    <p class="card-text">Llamado al Equipo Mayor desde el Harrisburg Senators el 29 de abril de 2019.</p>
  </div>
</div>

<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
  <div class="card-header"><img class="img-player" src="../../../../assets/553902.jpg" alt="Willians Astudillo">  Willians Astudillo</div>
  <div class="card-body">
    <h5 class="card-title">Minnesota Twins</h5>
    <p class="card-text"> Colocado en la Lista de incapacitados por 10 días, el 28 de abril de 2019.</p>
  </div>
</div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/448855.jpg" alt="Junior Guerra">  Junior Guerra</div>
    <div class="card-body">
      <h5 class="card-title">Milwaukee Brewers</h5>
      <p class="card-text">  Activado desde la lista de  duelo familiar, 27 de abril de 2019 .</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/650671.jpg" alt="Jose Quijada">  Jose Quijada</div>
    <div class="card-body">
      <h5 class="card-title">Miami Marlins</h5>
      <p class="card-text"> Enviado al New Orleans Baby Cakes, 26 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/596059.jpg" alt="Rougned Odor">  Rougned Odor</div>
    <div class="card-body">
      <h5 class="card-title">Texas Rangers</h5>
      <p class="card-text"> Activado desde la Lista de incapacitados por 10 días, 26 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/650859.jpg" alt="Luis Rengifo">  Luis Rengifo</div>
    <div class="card-body">
      <h5 class="card-title">Los Angeles Angels</h5>
      <p class="card-text">  Llamado al Equipo Mayor desde Salt Lake Bees, 25 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"  style="font-size: .9em;"><img class="img-player" src="../../../../assets/650382.jpg" alt="Darwinzon Hernandez">Darwinzon Hernández</div>
    <div class="card-body">
      <h5 class="card-title">Boston Red Sox</h5>
      <p class="card-text"> Enviado al Portland Sea Dogs, 24 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/622382.jpg" alt="Gabriel Moya">  Gabriel Moya</div>
    <div class="card-body">
      <h5 class="card-title">Minnesota Twins</h5>
      <p class="card-text"> Enviado al Rochester Red Wings, 24 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/517369.jpg" alt="Jose Pirela">  Jose Pirela</div>
    <div class="card-body">
      <h5 class="card-title">San Diego Padres</h5>
      <p class="card-text"> Colocado en la Lista de incapacitados por 10 días, retroactiva al 21 de Abril 2019. 24 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/591693.jpg" alt="Edubray Ramos">  Edubray Ramos</div>
    <div class="card-body">
      <h5 class="card-title">Philadelphia Phillies</h5>
      <p class="card-text">  Llamado al Equipo Mayor desde Lehigh Valley IronPigs, el 22 de abril de 2019.</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/553869.jpg" alt="Elías Díaz">  Elías Díaz</div>
    <div class="card-body">
      <h5 class="card-title">Pittsburgh Pirates</h5>
      <p class="card-text"> Activado desde la Lista de incapacitados por 10 días, el 21 de abril de 2019.</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/642731.jpg" alt="Thairo Estrada">  Thairo Estrada</div>
      <div class="card-body">
        <h5 class="card-title">New York Yankees</h5>
        <p class="card-text"> Llamado al Equipo Mayor desde Scranton/Wilkes-Barre RailRiders, el 21 de abril de 2019.</p>
      </div>
    </div>

<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/602074.jpg" alt="Yonathan Daza">  Yonathan Daza</div>
    <div class="card-body">
      <h5 class="card-title">Colorado Rockies</h5>
      <p class="card-text"> Enviado al Albuquerque Isotopes, el 18 de abril de 2019 .</p>
    </div>
  </div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/546318.jpg" alt="Odubel Herrera ">  Odubel Herrera </div>
    <div class="card-body">
      <h5 class="card-title">Philadelphia Phillies</h5>
      <p class="card-text"> Colocado en la Lista de incapacitados por 10 días, el 18 de abril de 2019 .</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/602074.jpg" alt="Yonathan Daza">  Yonathan Daza</div>
    <div class="card-body">
      <h5 class="card-title">Colorado Rockies</h5>
      <p class="card-text"> Llamado al Equipo Mayor desde  Albuquerque Isotopes, el 16 de abril de 2019 .</p>
    </div>
  </div>

<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
    <div class="card-header"><img class="img-player" src="../../../../assets/622608.jpg" alt="Antonio Senzatela">  Antonio Senzatela</div>
    <div class="card-body">
      <h5 class="card-title">Colorado Rockies</h5>
      <p class="card-text"> Activado desde la Lista de incapacitados por 10 días, el 15 de abril de 2019 .</p>
    </div>
  </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/658648.jpg" alt="Pedro Avila">  Pedro Avila</div>
      <div class="card-body">
        <h5 class="card-title"> San Diego Padres</h5>
        <p class="card-text"> Enviado al Amarillo Sod Poodles, el 12 de abril de 2019.</p>
      </div>
    </div>
  <div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
      <div class="card-header"><img class="img-player" src="../../../../assets/545121.jpg" alt="Ildemaro Vargas">  Ildemaro Vargas</div>
      <div class="card-body">
        <h5 class="card-title"> Arizona Diamondbacks</h5>
        <p class="card-text">Llamado al Equipo Mayor desde Reno Aces, el 05 de abril de 2019.</p>
      </div>
    </div>

<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
  <div class="card-header"><img class="img-player" src="../../../../assets/614179.jpg" alt=" José Ruíz">  José Ruíz</div>
  <div class="card-body">
    <h5 class="card-title">Chicago White Sox</h5>
    <p class="card-text">Llamado al Equipo Mayor desde Charlotte Knights, el 03 de abril de 2019.</p>
  </div>
</div>
<div class="card text-white colorContainer mb-3 mx-auto my-4" style="max-width: 18rem;">
  <div class="card-header"><img class="img-player" src="../../../../assets/622795.jpg" alt="Yohánder Méndez">  Yohánder Méndez</div>
  <div class="card-body">
    <h5 class="card-title">	Texas Rangers</h5>
    <p class="card-text"> Pasado desde la Lista de incapacitados por 10 días a la de 60 días, el 01 de abril de 2019.</p>
  </div>
</div>

</div>
