<section>
    <div class="mat-accordion"  >
      <div class="mat-expansion-panel" >
  
        <div class="mat-expansion-panel-header" >
          <div class="mat-panel-title" >
            Create a Post
          </div>
          </div>
  
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
          <input class="mat-progress-bar"  mode="determinate" value="{{ uploadPercent | async }}">
        </div>
        <div [hidden]="!image">
          <img [src]="image || '//:0' ">
        </div>
  
        <div class="mat-form-field" >
          <input matInput placeholder="Post title" [(ngModel)]="title" name="title">
        </div>
        <br>
        <div class="mat-form-field">
          <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea>
        </div>
        <br>
        <button mat-raised-button (click)="createPost()" color="accent" [disabled]="!title || !content || !image">{{saving}}</button>
  
      </div>
    </div>
  </section>
  
